
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{   }

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="padding: 0.7rem;">
                <form id="container-filter"></form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="container-main" class="elevation-2"></div>
    </div> 
</div>

@section script{
    <script src="~/Scripts/page/ngansach.js"></script>
    <script>
        var capDoList = [
            { value: "HM", text: "Hạng mục" },
            { value: "NCV", text: "Nhóm công việc" },
            { value: "CV", text: "Công việc" }];

        var customStore_Groups = new DevExpress.data.CustomStore({
            key: "id", loadMode: "raw",
            load: (values) => {
                var deferred = $.Deferred();
                $.ajax({
                    headers: header, dataType: "json",
                    url: URL_API_ACC_READ + ACTION_GROUP,
                    success: function (data) {
                        var list = data.result.items.filter(x => x.isActive == true && x.isVisible == true);
                        deferred.resolve(list);
                    },
                    error: function (xhr) {
                        console.log(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
                        deferred.reject("Đã có lỗi xảy ra trong quá trình này. Mở Console để xem chi tiết hoặc liên hệ Quản trị viên.");
                    },
                });
                return deferred.promise();
            },
        });

        var ds_giaidoan = (formData)=> new DevExpress.data.DataSource({
            store: new DevExpress.data.CustomStore({
                key: "id",
                load: (values) => ajax_read(ACTION_GIAIDOAN, values),
                insert: (values) => ajax_insert(URL_API_PM_CMD + ACTION_GIAIDOAN, values),
                update: (key, values) => ajax_update(URL_API_PM_CMD + ACTION_GIAIDOAN, key, values),
                remove: (key) => ajax_delete(URL_API_PM_CMD + ACTION_GIAIDOAN, key),
                byKey: (key) => {
                    var deferred = $.Deferred();
                    ds_giaidoan.store().load().done((rs) => {
                        deferred.resolve(rs.find(x => x.id == key));
                    });
                    return deferred.promise();
                },

                onInserted: (key, values) => ajax_log_insert("Insert", ACTION_GIAIDOAN, values, key),
                onUpdated: (key, values) => ajax_log_insert("Update", ACTION_GIAIDOAN, key, values),
                onRemoved: (key) => ajax_log_insert("Delete", ACTION_GIAIDOAN, key, null),
            }),
            filter: ["projectId", "=", formData.projectId],
            sort: [{ selector: "sortIndex", desc: false }]
        });
         
        $(function () {
            loadFilter();
        });

        var loadFilter = () => $("#container-filter").dxForm({
            labelLocation: ($(document).width() >= 768 ? "top" : "left"), requiredMark: "(*)",
            items: [
                {
                    itemType: "group", colCount: 12,
                    items: [
                        {
                            colSpan: 6,
                            dataField: "projectId", label: { text: "Dự án" },
                            editorType: "dxLookup",
                            editorOptions: {
                                dataSource: customStore_Projects,
                                searchEnabled: true, searchMode: "contains", searchExpr: ["title", "code", "descriptions"],
                                valueExpr: "id", displayExpr: "title",
                                placeholder: "Vui lòng chọn...",
                                itemTemplate: (data, index) => {
                                    return $("<div>").html("<b>" + data.title + "</b> - " + data.code + ' - <em>' + data.descriptions + "</em>");
                                },
                                value: PROJECTID,
                                onValueChanged: (data) => {
                                    localStorage.setItem('projectIdCurrent', data.value); 
                                    location.reload();
                                },
                            },
                            validationRules: [{ type: "required" }]
                        }, 
                    ]
                }
            ],
            onFieldDataChanged: (e) => {
                var formData = $("#container-filter").dxForm('instance').option("formData");
                if (Object.keys(formData).length == 1) loadData(formData)
            },
        }).dxForm("instance");
        var loadData = (formData) => $("#container-main").dxDataGrid({
            height: heightScreenWithFilter,
            dataSource: ds_giaidoan(formData),
            remoteOperations: true,
            showBorders: false, showColumnHeaders: true, showColumnLines: false, hoverStateEnabled: true,
            showRowLines: true, columnAutoWidth: true, wordWrapEnabled: false, rowAlternationEnabled: true,
            columns: [
                {
                    caption: "STT", dataField: "sortIndex",
                    dataType: "number", width: 100, alignment: "center", 
                },
                {
                    dataField: "tenGiaiDoan", caption: "Tên giai đoạn",
                    dataType: "string", cssClass: "font-weight-bold",
                    editorOptions: {
                        placeholder: "Vui lòng nhập...",
                        showClearButton: true
                    },
                    validationRules: [{ type: "required" }]
                },
                {
                    dataField: "dienGiai", caption: "Diễn giải",
                    dataType: "string",
                    editorOptions: {
                        placeholder: "Vui lòng nhập(nếu có)...",
                        showClearButton: true
                    },
                },
                {
                    dataField: "capDo", caption: "Cấp tương tác", dataType: "string",
                    editorType: "dxSelectBox",
                    lookup: {
                        dataSource: capDoList,
                        valueExpr: "value", displayExpr: "text",
                    },
                    editorOptions: {
                        dataSource: capDoList,
                        valueExpr: "value", displayExpr: "text",
                        placeholder: "Vui lòng chọn...",
                    },
                    validationRules: [{ type: "required" }]
                },
                {
                    dataField: "groupId", caption: "Nhóm nhập liệu",
                    lookup: {
                        dataSource: customStore_Groups,
                        valueExpr: "id", displayExpr: "title",
                    },
                    editorType: "dxSelectBox",
                    editorOptions: {
                        dataSource: customStore_Groups,
                        valueExpr: "id", displayExpr: "title",
                        placeholder: "Vui lòng chọn...",
                    },
                    validationRules: [{ type: "required" }]
                },
                {
                    dataField: "isActive", caption: "Tình trạng",
                    width: 130, alignment: "center",
                    lookup: {
                        dataSource: listActiveStatus,
                        valueExpr: "value", displayExpr: "text",
                    },
                    editorType: "dxSwitch",
                    cellTemplate: (c, o) => {
                        $("<span />").addClass("badge badge-" + listActiveStatus.find(x => x.value == o.value).color).append(
                            $("<i />").addClass("mr-1 " + listActiveStatus.find(x => x.value == o.value).icon), o.text
                        ).appendTo(c);
                    }
                },
                {
                    type: "buttons", 
                    buttons: [{ text: "Log", onClick: (e) => callLogEvent(e.row.data.id, ACTION_GIAIDOAN) },"delete", ]
                },
            ],
            paging: {
                enabled: true, pageSize: 20
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 20, 40],
                showInfo: true,
            },
            searchPanel: {
                highlightCaseSensitive: true,
                highlightSearchText: true,
                searchVisibleColumnsOnly: true,
                visible: true
            },
            editing: { 
                allowUpdating: PermitInAction.update,
                allowDeleting: PermitInAction.delete,
                mode: "cell", useIcons: false, confirmDelete: true,
            },
            onToolbarPreparing: function (e) {
                var container = e.component;
                e.toolbarOptions.items.unshift( 
                    {
                        location: "after", widget: "dxButton",
                        options: {
                            icon: "refresh", type: "default",
                            onClick: () => container.refresh()
                        }
                    },
                    {
                        location: "before", widget: "dxButton",
                        options: {
                            icon: "add", type: "default", text: "Thêm mới", stylingMode: "filter",
                            visible: PermitInAction.insert,
                            onClick: () => container.addRow()
                        }
                    })
            },
            onInitNewRow: (e) => {
                e.data.isActive = true;
                e.data.isVisible = true;
                e.data.status = 0;
                e.data.projectId = PROJECTID;
            }, 
        });
    </script>
}