
@{
    ViewBag.Title = "Danh mục nhóm công việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div id="container" class="elevation-2"></div>
    </div>
</div>

@section script{
    <script src="~/Scripts/page/ngansach.js"></script>
    <script> 
        var customStore2 = new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => {
                let deferred = $.Deferred();
                let params = {};
                params['PageSize'] = isNullOrEmpty(values.take) ? values.take : 0;
                params['PageNumber'] = (isNullOrEmpty(values.take) && isNullOrEmpty(values.skip)) ? ((values.skip / values.take) + 1) : 0;
                if (values.sort) {
                    params['SortCol'] = values.sort[0].selector;
                    params['SortADSC'] = values.sort[0].desc;
                }
                $.ajax({
                    headers: header, dataType: "json",
                    data: params,
                    url: URL_API_PM_READ + ACTION_PHAT_NHOM,
                    success: function (data) {
                        deferred.resolve(
                            data.result.items,
                            {
                                totalCount: data.result.pagingInfo.totalItems
                            }
                        );
                    },
                    error: function (xhr) {
                        console.log(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
                        deferred.reject("Đã có lỗi xảy ra trong quá trình này. Mở Console để xem chi tiết hoặc liên hệ Quản trị viên.");
                    },
                });
                return deferred.promise();
            },
            insert: (values) => ajax_insert(URL_API_PM_CMD + ACTION_PHAT_NHOM, values),
            update: (key, values) => ajax_update(URL_API_PM_CMD + ACTION_PHAT_NHOM, key, values),
            remove: (key) => ajax_delete(URL_API_PM_CMD + ACTION_PHAT_NHOM, key),
        });

        var ds_main = new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => {
                values['sort'] = [{ selector: "status", desc: false }];
                return ajax_read(ACTION_PHAT_NHOM, values);
            },
            insert: (values) => ajax_insert(URL_API_PM_CMD + ACTION_PHAT_NHOM, values),
            update: (key, values) => ajax_update(URL_API_PM_CMD + ACTION_PHAT_NHOM, key, values),
            remove: (key) => ajax_delete(URL_API_PM_CMD + ACTION_PHAT_NHOM, key),
            byKey: (key) => {
                var deferred = $.Deferred();
                ds_main.store().load().done((rs) => {
                    deferred.resolve(rs.find(x => x.id == key));
                });
                return deferred.promise();
            },
        });

        $(function () {
            loadData();
        });

        var loadData = () => $("#container").dxDataGrid({
            height: heightScreen,
            dataSource: ds_main,
            remoteOperations: true,
            showBorders: false, showColumnHeaders: true, showColumnLines: false, hoverStateEnabled: true,
            showRowLines: true, columnAutoWidth: true, wordWrapEnabled: true, rowAlternationEnabled: false,
            onToolbarPreparing: (e) => {
                var container = e.component;
                e.toolbarOptions.items.unshift(
                    {
                        location: "after", widget: "dxButton",
                        options: {
                            visible: PermitInAction["insert"],
                            text: "Nhóm", icon: "add", stylingMode: "filled", type: "default",
                            onClick: () => container.addRow()
                        }
                    },
                    {
                        location: "after", widget: "dxButton",
                        options: {
                            icon: "refresh", tylingMode: "filled", type: "default",
                            onClick: () => container.refresh()
                        }
                    }
                )
            },
            searchPanel: {
                highlightCaseSensitive: true, highlightSearchText: true,
                visible: true, searchVisibleColumnsOnly: true
            },
            paging: {
                enabled: true,
                pageSize: 20
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 20, 40],
                showInfo: true,
            },
            columns: [
                {
                    dataField: "status", caption: "ID", alignment: "center", width: 80, allowEditing: false,
                },
                {
                    dataField: "tenNhomPhat", caption: "Tên nhóm", dataType: "string", cssClass: "font-weight-bold",
                    validationRules: [{ type: "required" }], width: 300,
                    editorType: "dxTextBox",
                    editorOptions: {
                        showClearButton: true,
                        placeholder: "Vui lòng nhập..."
                    }
                },
                {
                    dataField: "dienGiai", caption: "Diễn giải", dataType: "string", width: ($("#container").width() <= 1250 ? 200 : null),
                    cellTemplate: (c, o) => {
                        c.append(isNullOrEmpty(o.value) ? o.value : "--")
                    },
                    editorOptions: {
                        showClearButton: true, placeholder: "Vui lòng nhập(nếu có)..."
                    }
                },
                {
                    caption: "Tương tác", dataField: "createBy",
                    alignment: "center", width: 150,
                    lookup: {
                        dataSource: ds_nguoidung,
                        valueExpr: "accountId",
                        displayExpr: (item) => {
                            return item && '<b>' + item.userName + '</b><br/><em class="small">' + item.title + '</em>';
                        }
                    },
                    cellTemplate: (c, o) => c.append(o.text),
                    allowEditing: false,
                },//nguoiTao
                {
                    dataField: "createDate", width: 150, dataType: "date", alignment: "center",
                    caption: "Thời gian tạo",
                    cellTemplate: (c, o) => {
                        if (o.value != null) {
                            $("<div />").append(
                                $("<em />").addClass("small").append("Cách đây " + moment(o.value).locale("vi").fromNow()),
                                $("<div/>").addClass("font-weight-bold").append(moment(o.value).format("HH:mm DD/MM/YY"))
                            ).appendTo(c);
                        }
                    },
                    allowEditing: false,
                },//createDate
                {
                    dataField: "isActive", caption: "Tình trạng",
                    width: 130, alignment: "center",
                    lookup: {
                        dataSource: listActiveStatus,
                        valueExpr: "value", displayExpr: "text",
                    },
                    cellTemplate: (c, o) => $("<span />").addClass("badge badge-" + listActiveStatus.find(x => x.value == o.value).color).append($("<i />").addClass("mr-1 " + listActiveStatus.find(x => x.value == o.value).icon), o.text).appendTo(c)
                },
            ],
            editing: {
                allowUpdating: PermitInAction.update,
                allowDeleting: PermitInAction.delete,
                mode: "cell", useIcons: false, confirmDelete: true,
            },
            onInitNewRow: (e) => {
                e.data.isActive = true;
                e.data.isVisible = true;
            },
            rowDragging: {
                allowReordering: PermitInAction.update,
                showDragIcons: true, dropFeedbackMode: "push", dragDirection: "vertical",
                onDragEnd: (e) => {
                    var source = e.itemData,
                        target = e.component.getVisibleRows()[e.toIndex].data,
                        d = $.Deferred();
                    if (source.id != target.id) {
                        ds_main.update(source.id, { status: target.status }).then(() => {
                            e.component.refresh().then(d.resolve, d.reject);
                        }, d.reject);
                    }
                },
            },
        });
    </script>
}