@model int
<div>
    <div class="dx-datagrid-headers"><h4>Phần báo cáo</h4></div>
    <form id="form-DefectFix" action="#" method="POST" enctype="application/json">
    </form>
    <div class="dx-datagrid-headers" id="header-DefectFix" style="display:none"><h4>Phần nghiệm thu </h4></div>
    <form id="form-DefectAcceptence">
    </form>
</div>
<script>
    var formDataAccept = {
        "defectFixId": ""
        , "defectFeedbackId": ""
        , "customerInfoId": ""
        , "note": ""
    };
    var fdataAccept = new FormData();
    var formData = {
        "defectFeedbackId": ""
        , "fixer": ""
        , "fixerPhone": ""
        , "startDate": ""
        , "endDate": ""
        , "deadline": ""
        , "fixedDate": ""
        , "result": ""
        , "resultType": ""
        , "note": ""
        , "status": 20
    };
    var $defectFixId = 0;
    var $defectfeedBackId = 0;
    var $defectfeedBackDetailId = 0;
    var fdata = new FormData();
    var $model = @Model;
    var $status = 20;
    var $key = 0;
    $(document).ready(function (){
        customStore_DefectFix($model).load()
            .done((rs) => {
                $defectFixId = rs[0].id;
                $defectfeedBackId = rs[0].defectFeedbackId;
                $status = rs[0].status;
                rs.length == 0 ? null : $("#form-DefectFix").dxForm({
                    formData: rs[0],
                    labelLocation: "top",
                    items: [
                        {
                            itemType: "group",
                            colCount: 12,
                            items: [
                                {
                                    colSpan: 3,
                                    dataField: "fixer",
                                    label: { text: "Thợ sửa" },
                                    editorType: "dxTextBox",
                                    editorOptions: {
                                        readOnly: true,
                                        stylingMode: "filled",
                                        placeholder: "Vui lòng nhập...",
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 3,
                                    dataField: "fixedDate",
                                    label: { text: "Dự kiến sửa" },
                                    editorType: "dxDateBox",
                                    type: "datetime",
                                    editorOptions: {
                                        readOnly: true,
                                        stylingMode: "filled",
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 3,
                                    dataField: "deadline",
                                    label: { text: "Dự kiến hoàn thành" },
                                    editorType: "dxDateBox",
                                    type: "datetime",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        readOnly: true,
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 3,
                                    dataField: "fixerPhone",
                                    label: { text: "Số điện thoại" },
                                    editorType: "dxTextBox",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        placeholder: "Vui lòng nhập...",
                                        value: formData["description"],
                                        readOnly: true,
                                    },
                                    validationRules: [{
                                        type: "numeric"
                                    }]
                                },
                                {
                                    colSpan: 12,
                                    dataField: "note",
                                    label: { text: "Ghi chú" },
                                    editorType: "dxTextArea",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        readOnly: true,
                                        placeholder: "Vui lòng nhập...",
                                        value: formData["description"],
                                    },
                                },

                            ]
                        },
                        {
                            name: "order",
                            visible: true,
                            template: function (data, $itemElement) {
                                $("<div id='dataGrid'>")
                                    .appendTo($itemElement)
                                    .dxDataGrid({
                                        dataSource: customStore_DefectFeedbackDetail($model),
                                        repaintChangesOnly: true,
                                        remoteOperations: true,
                                        scrolling: { mode: "standard" },
                                        showBorders: false,
                                        showColumnHeaders: true,
                                        showColumnLines: false,
                                        showRowLines: true,
                                        columnAutoWidth: true,
                                        wordWrapEnabled: true,
                                        rowAlternationEnabled: true,
                                        summary: {
                                            groupItems: [{
                                                column: "id",
                                                summaryType: "count"
                                            },
                                            ]
                                        },
                                        selection: {
                                            mode: "single"
                                        },
                                        onContentReady: (e) => {
                                            var container = e.component;
                                        },
                                        onSelectionChanged: function (eDefectDetail) {
                                            console.log(eDefectDetail);
                                            var container = eDefectDetail.component;
                                            var selectedRowData = eDefectDetail.selectedRowsData[0];
                                            var selectedRowKey = eDefectDetail.selectedRowKeys[0];
                                            loadData_DefectAcceptance(selectedRowKey, $status<200);
                                        },
                                        columns: [
                                            {
                                                dataField: "defectiveId",
                                                allowFiltering: true,
                                                allowEdit: false,
                                                caption: "Lỗi",
                                                dataType: "string",
                                                alignment: "center",
                                                visible: true,
                                                editorType: "dxLookup",
                                                lookup: {
                                                    dataSource: customStore_Defective,
                                                    valueExpr: "id",
                                                    displayExpr: "name",
                                                },
                                                editorOptions: {
                                                    stylingMode: "filled",
                                                    readOnly: true,
                                                },
                                            },// realEstateId
                                            {
                                                dataField: "note",
                                                allowFiltering: true,
                                                allowEdit: false,
                                                caption: "Ghi chú",
                                                dataType: "string",
                                                alignment: "center",
                                                visible: true,
                                                editorType: "dxTextBox",
                                                editorOptions: {
                                                    stylingMode: "filled",
                                                    readOnly: true,
                                                },
                                            },
                                            {
                                                dataField: "id",
                                                allowFiltering: false,
                                                allowEdit: false,
                                                caption: "Ảnh",
                                                dataType: "string",
                                                alignment: "center",
                                                visible: true,
                                                editorType: "dxTextBox",
                                                lookup: {
                                                    dataSource: customStore_Attachment_All('DefectFeedbackDetail').store(),
                                                    valueExpr: "ownerById",
                                                    displayExpr: "fileName",
                                                },
                                                cellTemplate: (c, o) => {
                                                    customStore_Attachment(o.value, 'DefectFeedbackDetail').load().then((rsFile) => {
                                                        var item = rsFile.filter(x => x.ownerById == o.value).shift();
                                                        var $link = (item.host + item.url + "/" + item.fileName);
                                                        if (typeof item !== "undefined") {
                                                            $("<a/>").attr("href", $link).attr("target", "_blank").append($("<img />").attr({ "src": $link, onerror: ImgError(this), "style": "max-height: 30px; height : auto ;width : auto ;margin: auto;" })).appendTo(c);
                                                        }
                                                    });
                                                },
                                                editorOptions: {
                                                    //stylingMode: "filled",
                                                    readOnly: true,
                                                },
                                            },
                                            {
                                                dataField: "startDate",
                                                allowFiltering: true,
                                                allowEdit: true,
                                                caption: "Bắt đầu",
                                                alignment: "center",
                                                visible: true,
                                                editorType: "dxDateBox",
                                                editorOptions: {
                                                    //stylingMode: "filled",
                                                },
                                            },
                                            {
                                                dataField: "finishDate",
                                                allowFiltering: true,
                                                allowEdit: true,
                                                caption: "Kết thúc",
                                                alignment: "center",
                                                visible: true,
                                                editorType: "dxDateBox",
                                                editorOptions: {
                                                    //stylingMode: "filled",
                                                },
                                            },
                                        ],
                                        editing: {
                                            allowUpdating: $status <200? true:false,
                                            mode: "rown",
                                            useIcons: true,
                                        },
                                    })
                                    .dxDataGrid('instance');
                            }
                        },
                    ],
                }).dxForm("instance");
            });
        var loadData_DefectAcceptance = (defectDetailId,isAccept) => {
            document.getElementById("header-DefectFix").style.display = "block";
            $defectfeedBackDetailId = defectDetailId;
            customStore_DefectAcceptance(defectDetailId).load()
                .done((rsSub) => {
                    console.log(rsSub);
                    var $issetRSSUB = (rsSub.length > 0);
                    if ($issetRSSUB) {
                        $key = rsSub[0].id ?? 0;
                    };
                    $("#form-DefectAcceptence").dxForm({
                        formData: rsSub[0],
                        labelLocation: "top",
                        items: [
                            {
                                itemType: "group",
                                colCount: 12,
                                items: [
                                    {
                                        colSpan: 12,
                                        dataField: "note",
                                        label: { text: "Mô tả" },
                                        editorType: "dxTextArea",
                                        editorOptions: {
                                            readOnly: !isAccept,
                                            stylingMode: "filled",
                                            placeholder: "Vui lòng nhập...",
                                            value: formData["description"],
                                        },
                                    },

                                ]
                            },
                            {
                                name: "order",
                                visible: true,
                                template: function (data, $itemElement) {
                                    if ($issetRSSUB) {
                                        $("<div id='dataGrid'>")
                                            .appendTo($itemElement)
                                            .dxDataGrid({
                                                dataSource: customStore_Attachment(rsSub[0].id, "DefectAcceptance"),
                                                columns: [
                                                    {
                                                        dataField: "displayName",
                                                        caption: "Tên File ",
                                                        dataType: "string",
                                                    },
                                                    {
                                                        dataField: "createDate",
                                                        caption: "Ngày tạo",
                                                        dataType: "date",
                                                    },
                                                ],
                                                editing: {
                                                    allowAdding: false,
                                                    allowDeleting: isAccept,
                                                    allowUpdating: false,
                                                    mode: "row",
                                                    useIcons: true,
                                                    confirmDelete: true,
                                                    popup: null,
                                                },
                                            });
                                    }

                                }
                            },
                            {
                                itemType: "simple",
                                name: "Image",
                                editorType: 'dxGallery',
                                editorOptions: {
                                    stylingMode: "filled",
                                    dataSource: customStore_Attachment($issetRSSUB? rsSub[0].id : 0, "DefectAcceptance"),
                                    height: 100,
                                    width: 'auto',
                                    slideshowDelay: 1500,
                                    itemTemplate: function (data) {
                                        var $link = (data.host + data.url + "/" + data.fileName);
                                        return $issetRSSUB ? $("<a/>").attr("href", $link).attr("target", "_blank").append($("<img />").attr({ "src": $link, onerror: ImgError(this), "style": "max-height: 100px; height : auto ;width : auto ;margin: auto;" })):"";
                                    },
                                    onItemClick: function (value) {
                                    }
                                },
                            },
                            {
                                colSpan: 12,
                                visible: true,//rs[0].status??0 < 200 ? true : false,
                                template: $status < 200 ?'<span class="dx-field-item-label-text font-bold">Các tập tin đính kèm</span><div class="file-uploader" id="file-uploader"></div>':'',
                            },
                            {
                                itemType: "group",
                                name: "button-action",
                                colCount: 12,
                                items: [
                                    {
                                        colSpan: 6,
                                        itemType: "button",
                                        horizontalAlignment: "right",
                                        visible: isAccept,
                                        buttonOptions: {
                                            text: "Cập nhật hạng mục",
                                            icon: "fa fa-check",
                                            type: "success",
                                            useSubmitBehavior: false,
                                            elementAttr: {
                                                id: "acceptFixReport",
                                            },
                                            editorOptions: {
                                                stylingMode: "filled",
                                            }
                                        }
                                    },
                                    {
                                        colSpan: 6,
                                        itemType: "button",
                                        horizontalAlignment: "left",
                                        visible: isAccept,
                                        buttonOptions: {
                                            text: "Nghiệm thu toàn phần",
                                            icon: "fa fa-check-double",
                                            type: "success",
                                            useSubmitBehavior: false,
                                            elementAttr: {
                                                id: "finishAcceptance",
                                            },
                                            editorOptions: {
                                                stylingMode: "filled",
                                            }
                                        }
                                    },
                                ],
                            },
                        ],
                    }).dxForm("instance");
                    isAccept? fileUploader():'';
                });
        };
        $(document).on('click', '#acceptFixReport', function (e) {
            e.preventDefault();
            var formDataAcceptance = $('#form-DefectAcceptence').dxForm("instance").option('formData');
            var fileWrappers = fileUploader()._files;
            var resValid = true
            for (var i = 0; i < fileWrappers.length; i++) {
                if (fileWrappers[i].isValid() === false) {
                    resValid = false;
                }
            }
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.show();
                var fdataDefectAccept = new FormData();
                var i = 10;
                $.each(formDataAcceptance, function (key, value) {
                    fdataDefectAccept.append(key, value);
                });
                console.log($key);
                fdataDefectAccept.append('key', $key);
                fdataDefectAccept.set('type', 1);
                fdataDefectAccept.set('status', 200);
                fdataDefectAccept.set('DefectFixId', $defectFixId);
                fdataDefectAccept.set('DefectFeedbackId', $defectfeedBackId);
                fdataDefectAccept.set('DefectFeedbackDetailId', $defectfeedBackDetailId);
                fdataDefectAccept.append('token', UserCurrentInfo.accessToken);
                var files = $("#file-uploader").dxFileUploader("instance").option("value");
                if (files.length > 0) {
                    $.each(files, function (key, value) {
                        fdataDefectAccept.append(files[key].name, files[key]);
                    });
                }
                for (var pair of fdataDefectAccept.entries()) {
                    console.log(pair[0] + ', ' + pair[1]);
                }
                var deferred = $.Deferred();
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/VanHanh/BaoHanh/DefectAcceptenceUpdate",
                    data: fdataDefectAccept,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (rs) {
                        loadingPanel.hide();
                        if (rs.status == "success") {
                            var deferredSub = $.Deferred();
                            var object = {};
                            object['Status'] = 200;
                            customStore_DefectFeedbackDetail($defectfeedBackDetailId).store().update($defectfeedBackDetailId, object).done((rssbUpdate) => {
                                if (rssbUpdate.isOk) {
                                    deferredSub.resolve(rs);
                                    DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                                }
                                else {
                                    DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                                    deferredSub.resolve(false);
                                }
                            }, deferredSub.reject);
                            return deferredSub.promise();
                            $("#popup-main").dxPopup('instance').hide();
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        loadingPanel.hide();
                        DevExpress.ui.notify("Có lỗi xảy ra: " + errorThrown, "error", 3000);
                    }
                });
                //   /* e.preventDefault();*/
                return deferred.promise();
            }
        });
        $(document).on('click', '#finishAcceptance', function (e) {
            var deferred = $.Deferred();
            var object = {};
            object['Status'] = 200;
            customStore_DefectFix($defectFixId).store().update($defectFixId,object).done((rssbUpdate) => {
                if (rssbUpdate.isOk) {
                    deferred.resolve(rssbUpdate);
                    DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                    $("#popup-main").dxPopup('instance').hide();
                }
                else {
                    DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                    deferred.resolve(false);
                }
            }, deferred.reject);
            return deferred.promise();
        });
    });
    var fileUploader = () => $("#file-uploader").dxFileUploader({
        selectButtonText: "Chọn tập tin...",
        labelText: "Hoặc kéo thả vào đây",
        showFileList: true,
        multiple: true,
        uploadMode: "useForm",
        accept: ".jpg,.jpeg,.gif,.png,.pdf",
        allowedFileExtensions: [".jpg", ".jpeg", ".png", ".pdf"],
        maxFileSize: 52428800,
    }).dxFileUploader("instance");
</script>
