@model int
<form id="form-DefectFix" action="#" method="POST" enctype="application/json">
</form>
<script>
    var formData = {
        "defectFeedbackId": ""
        , "fixer": ""
        , "fixerPhone": ""
        , "startDate": ""
        , "endDate": ""
        , "deadline": ""
        , "fixedDate": ""
        , "result": ""
        , "resultType": ""
        ,"note":""
    };
    var $defectFixId = 0;
    var fdata = new FormData();
    var $model = @Model;
    $(document).ready(function () {
        customStore_DefectFix($model)
            .load()
            .done((rs) => {
                console.log(rs);
                $defectFixId = rs[0].id;
                var $maintenancesupplierinfoid = rs[0].MaintenanceSupplierInfoId;
                rs.length == 0 ? null : $("#form-DefectFix").dxForm({
                    formData: rs[0],
                    labelLocation: "top",
                    items: [
                        {
                            itemType: "group",
                            colCount: 12,
                            items: [
                                {
                                    colSpan: 4,
                                    dataField: "maintenanceSupplierInfoId",
                                    label: { text: "Đơn vị sửa" },
                                    editorType: "dxSelectBox",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        searchEnabled: true,
                                        searchMode: "contains",
                                        searchExpr: ['name'],
                                        showClearButton: true,
                                        placeholder: "Vui lòng chọn...",
                                        dataSource: customStore_MaintenanceSupplierInfo(),
                                        valueExpr: 'id',
                                        displayExpr: 'name',
                                        elementAttr: {
                                            id: "elementMaintenanceSupplierInfo",
                                        },
                                        onValueChanged: function (e) {
                                            var selTarget = $('#elementMaintenancerInfoId').dxSelectBox('instance');
                                            selTarget.option('value', null);
                                            if (e.value > 0) {
                                                selTarget.option("dataSource", customStore_MaintenancerInfo(e.value));
                                            }
                                            else {
                                                selTarget.option("dataSource", customStore_MaintenancerInfo(0));
                                            }
                                        },
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 4,
                                    dataField: "maintenancerInfoId",
                                    label: { text: "Mã KTV" },
                                    visible: true,
                                    editorType: "dxSelectBox",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        searchEnabled: true,
                                        searchMode: "contains",
                                        searchExpr: ['fullName'],
                                        showClearButton: true,
                                        placeholder: "Vui lòng chọn...",
                                        dataSource: customStore_MaintenancerInfo(0),
                                        valueExpr: "id",
                                        displayExpr: 'id',
                                        elementAttr: {
                                            id: "elementMaintenancerInfoId",
                                        },
                                        onValueChanged: function (data) {
                                            if (data.value != null) {
                                                customStore_MaintenancerInfoById(data.value).load().done((rs) => {
                                                    if (rs != null && rs.length > 0) {
                                                        console.log(rs);
                                                        $('#elementMaintaincerName').dxTextBox('instance')
                                                            .option('value', rs[0].id == null ? "" : (rs[0].fullName ?? ""));
                                                        $('#elementPhoneId').dxTextBox('instance')
                                                            .option('value', rs[0].id == null ? 0 : rs[0].phone);
                                                    }
                                                });
                                            }
                                            else {
                                            };
                                        },
                                        itemTemplate: function (data) {
                                            return $("<div>").append($("<b>").append(data.id).addClass("mr-1"), $("<em>").append(data.fullName));
                                        },
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 4,
                                    dataField: "fixer",
                                    label: { text: "Kỹ thuật viên" },
                                    visible: true,
                                    editorType: "dxTextBox",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        readOnly: false,
                                        elementAttr: {
                                            id: "elementMaintaincerName",
                                        },
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 4,
                                    dataField: "fixerPhone",
                                    label: { text: "Số điện thoại" },
                                    editorType: "dxTextBox",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        placeholder: "Vui lòng nhập...",
                                        readOnly: false,
                                        value: formData["description"],
                                        elementAttr: {
                                            id: "elementPhoneId",
                                        },
                                    },
                                },
                                {
                                    colSpan: 4,
                                    dataField: "fixedDate",
                                    label: { text: "Dự kiến sửa" },
                                    editorType: "dxDateBox",
                                    type: "datetime",
                                    editorOptions: {
                                        stylingMode: "filled",
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 4,
                                    dataField: "deadline",
                                    label: { text: "Dự kiến hoàn thành" },
                                    editorType: "dxDateBox",
                                    type: "datetime",
                                    editorOptions: {
                                        stylingMode: "filled",
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 12,
                                    dataField: "note",
                                    label: { text: "Ghi chú" },
                                    editorType: "dxTextArea",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        placeholder: "Vui lòng nhập...",
                                        value: formData["description"],
                                    },
                                },

                            ]
                        },
                        {
                            name: "order",
                            visible: true,
                            template: function (data, $itemElement) {
                                $("<div id='dataGrid'>")
                                    .appendTo($itemElement)
                                    .dxDataGrid({
                                        stylingMode: "filled",
                                        dataSource: customStore_DefectFeedbackDetail($model),
                                        columns: [
                                            {
                                                dataField: "defectiveId",
                                                allowFiltering: true,
                                                caption: "Lỗi",
                                                dataType: "string",
                                                alignment: "center",
                                                visible: true,
                                                editorType: "dxLookup",
                                                lookup: {
                                                    dataSource: customStore_Defective,
                                                    valueExpr: "id",
                                                    displayExpr: "name",
                                                },
                                            },// realEstateId
                                            {
                                                dataField: "note",
                                                allowFiltering: true,
                                                caption: "Ghi chú",
                                                dataType: "string",
                                                alignment: "center",
                                                visible: true,
                                                editorType: "dxTextBox",
                                            },
                                            {
                                                dataField: "id",
                                                allowFiltering: false,
                                                caption: "Ảnh",
                                                dataType: "string",
                                                alignment: "center",
                                                visible: true,
                                                editorType: "dxTextBox",
                                                lookup: {
                                                    dataSource: customStore_Attachment_All('DefectFeedbackDetail').store(),
                                                    valueExpr: "ownerById",
                                                    displayExpr: "fileName",
                                                },
                                                cellTemplate: (c, o) => {
                                                    customStore_Attachment(o.value, 'DefectFeedbackDetail').load().then((rsFile) => {
                                                        var item = rsFile.filter(x => x.ownerById == o.value).shift();
                                                        if (typeof item !== "undefined") {
                                                            $("<img />").
                                                                attr({ "src": (item.host + item.url + "/" + item.fileName), onerror: ImgError(this), "style": "max-height: 50px; height : auto ;width : auto ;margin: auto;" }).
                                                                appendTo(c);
                                                        }
                                                    });
                                                },
                                            },
                                        ],
                                        editing: {
                                            mode: "batch",
                                            useIcons: true,
                                            confirmDelete: true,
                                        },
                                    });
                            }
                        },
                        {
                            itemType: "group",
                            name: "button-action",

                            colCount: 12,
                            items: [
                                {
                                    colSpan: $defectFixId === 0?12:6,
                                    itemType: "button",
                                    horizontalAlignment: $defectFixId === 0 ? "center" : "right",
                                    buttonOptions: {
                                        text: "Cập nhật lịch BH",
                                        icon: "fa fa-save",
                                        type: "success",
                                        useSubmitBehavior: true,
                                        disabled: !PermitInAction.assign,
                                        elementAttr: {
                                            id: "schedule",
                                        },
                                        editorOptions: {
                                            stylingMode: "filled",
                                        }
                                    }
                                },
                                {
                                    colSpan: 6,
                                    itemType: "button",
                                    horizontalAlignment: "left",
                                    buttonOptions: {
                                        text: "Bắt đầu",
                                        icon: "fas fa-check-circle",
                                        type: "default",
                                        disabled: !PermitInAction.assign,
                                        useSubmitBehavior: false,
                                        elementAttr: {
                                            id: "jobBegin",
                                        },
                                        editorOptions: {
                                            stylingMode: "filled",
                                            visiable: $defectFixId === 0 ? true : false,
                                        }
                                    }
                                }
                            ],
                        },
                    ],
                }).dxForm("instance");
        });
        $("#form-DefectFix").on("submit", function (e) {
            var deferred = $.Deferred();
            loadingPanel.show();
            var formdata = $('#form-DefectFix').dxForm("instance").option('formData');
            var resValid = true;
            formdata["Status"] = 20;
            if (!resValid) {
                loadingPanel.hide();
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.hide();
                customStore_DefectFix(0).store().update($defectFixId, formdata).done((rs) => {
                    if (rs.isOk) {
                        var $currentDefect = {};
                        $currentDefect["Status"] = 20;
                        customStore(0).store().update($defectFixId, $model).done();
                        deferred.resolve(rs);
                        formdata.resetValues();
                        DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                    }
                    else {
                        DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                        deferred.resolve(false);
                    }
                })
            }
        });
        $(document).on('click', '#jobBegin', function (e) {
            loadingPanel.show();
            var deferred = $.Deferred();
            var formdata = $('#form-DefectFix').dxForm("instance").option('formData');
            var resValid = true;
            formdata["Status"] = 21;
            if (!resValid) {
                loadingPanel.hide();
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.hide();
                customStore_DefectFix(0).store().update($defectFixId, formdata).done((rs) => {
                    if (rs.isOk) {
                        var $currentDefect = {};
                        $currentDefect["Status"] = 21;
                        customStore(0).store().update($defectFixId, $model).done();
                        deferred.resolve(rs);
                        DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                        $("#popup-main").dxPopup('instance').hide();
                    }
                    else {
                        DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                        deferred.resolve(false);
                    }
                });
            }
        });
        var fileUploader = () => $("#file-uploader").dxFileUploader({
            selectButtonText: "Chọn tập tin...",
            labelText: "Hoặc kéo thả vào đây",
            showFileList: true,
            multiple: true,
            uploadMode: "useForm",
            accept: ".jpg,.jpeg,.gif,.png,.pdf",
            allowedFileExtensions: [".jpg", ".jpeg", ".png", ".pdf"],
            maxFileSize: 52428800,
        }).dxFileUploader("instance");
    });

</script>
