<form id="form-regist" action="#" method="POST" enctype="multipart/form-data">
</form>
<div id="container-defect-detail" class="elevation-2 list-defect-detail"></div>
<form id="form-defect-detail" class="list-defect-detail" action="#" method="POST" enctype="multipart/form-data">
</form>

<script>
    var ITEMSID = isNullOrEmpty(localStorage.getItem("ItemsIdCurrent")) ? parseInt(localStorage.getItem("ItemsIdCurrent")) : 1;
    var $defectDetailId = 0;
    var customStore_RealEstate_Filter = (id) => new DevExpress.data.DataSource({
        store: $DATASOURCEGET(ACTION_REALESTATE, KEY),
        filter: ["constructionItemsId", "=", id]
    });
    var formData = {
        "customerId": ""
        , "realEstateId": ""
        , "fullName": ""
        , "defectiveId": ""
        , "phone": ""
        , "note": ""
        , "noAttachment": ""
    };
    var formDataDefect = {
        "customerId": ""
        , "realEstateId": ""
        , "fullName": ""
        , "defectiveId": ""
        , "phone": ""
        , "note": ""
        , "noAttachment": ""
    };
    var fdata = new FormData();
    $(document).ready(function () {
        loadData_DefectDetail(0);
        var formInstance = $("#form-regist").dxForm({
            formData: formData,
            labelLocation: "top",
            items: [
                {
                    itemType: "group",
                    caption: "Thêm Defect",
                    colCount: 12,
                    items: [
                        {
                            colSpan: 6,
                            dataField: "realEstateId",
                            label: { text: "Mã căn hộ" },
                            lookup: {
                                dataSource: customStore_RealEstate_Filter(ITEMSID),
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: true,
                                valueExpr: "id",
                                displayExpr: "code",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                stylingMode: "filled",
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: true,
                                //value: formData["documentTypeId"],
                                dataSource: customStore_RealEstate_Filter(ITEMSID),
                                valueExpr: "id",
                                displayExpr: "address",
                                elementAttr: {
                                    id: "elementRealEstateId",
                                },
                                onValueChanged: function (data) {
                                    if (data.value != null) {
                                        customStore_CustomerRealEstate(data.value).load().done((rs) => {
                                            if (rs != null && rs.length > 0) {
                                                customStore_CustomerInfoById(rs[0].customerInfoId).load().done((rsCI) => {
                                                    console.log(rsCI);
                                                    $('#elementCustomerId').dxSelectBox('instance')
                                                        .option('value', rsCI[0].id == null ? 0 : rsCI[0].id);
                                                    $('#elementCustomerFullName').dxTextBox('instance')
                                                        .option('value', rsCI[0].id == null ? "" : (rsCI[0].firstName ?? "" + " " + rsCI[0].lastName ?? ""));
                                                    $('#elementPhoneId').dxTextBox('instance')
                                                        .option('value', rsCI[0].id == null ? 0 : rsCI[0].phone);
                                                });
                                            }
                                        });
                                    }
                                    else {
                                    };
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            dataField: "customerId",
                            label: { text: "mã khách hàng" },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                stylingMode: "filled",
                                searchEnabled: true,
                                searchMode: "contains",
                                searchExpr: ['firstName', 'lastName'],
                                showClearButton: true,
                                placeholder: "Vui lòng nhập...",
                                dataSource: customStore_CustomerInfo,
                                valueExpr: "id",
                                displayExpr: "id",
                                elementAttr: {
                                    id: "elementCustomerId",
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            dataField: "fullName",
                            label: { text: "Tên Khách Hàng" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                stylingMode: "filled",
                                elementAttr: {
                                    id: "elementCustomerFullName",
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            dataField: "phone",
                            label: { text: "Số điện thoại" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                elementAttr: {
                                    id: "elementPhoneId",
                                },
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                                value: formData["description"],
                            },
                        },
                        //{
                        //    colSpan: 12,
                        //    dataField: "note",
                        //    label: { text: "Mô tả chung" },
                        //    editorType: "dxTextArea",
                        //    editorOptions: {
                        //        stylingMode: "filled",
                        //        placeholder: "Vui lòng nhập...",
                        //        value: formData["description"],
                        //    },
                        //},
                    ]
                },
                {
                    itemType: "button",
                    horizontalAlignment: "center",
                    buttonOptions: {
                        text: "Tạo phiếu defect",
                        icon: "fa fa-save",
                        type: "success",
                        useSubmitBehavior: true,
                        elementAttr: {
                            id: "submit",
                        }
                    }
                },
            ],
            onFieldDataChanged: function (e) {
                var newFormData = e.component.option("formData");
            }
        }).dxForm("instance");
        var formInstanceDefectDetail = $("#form-defect-detail").dxForm({
            formData: formDataDefect,
            labelLocation: "top",
            items: [
                {
                    itemType: "group",
                    colCount: 12,
                    items: [
                        {
                            colSpan: 6,
                            dataField: "defectiveId",
                            label: { text: "Mã lỗi" },
                            lookup: {
                                dataSource: customStore_Defective_Filter(),
                                valueExpr: "id",
                                displayExpr: "code",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                stylingMode: "filled",
                                dataSource: customStore_Defective_Filter(),
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: true,
                                valueExpr: "id",
                                displayExpr: "name",
                                elementAttr: {
                                    id: "elementDefectiveId",
                                },
                                itemTemplate: function (data) {
                                    return $("<div>").append($("<b>").append(data.code).addClass("mr-1"), $("<em>").append(data.name));
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            dataField: "defectFeedbackId",
                            label: { text: "Mã Yêu Cầu BH" },
                            editorType: "dxTextBox",

                            editorOptions: {
                                stylingMode: "filled",
                                readOnly: true,
                                elementAttr: {
                                    id: "elementDefectFeedbackId",
                                },
                            }
                        },
                        {
                            colSpan: 12,
                            dataField: "note",
                            label: { text: "Mô tả" },
                            editorType: "dxTextArea",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                                value: formData["description"],
                                elementAttr: {
                                    id: "elementDefectNote",
                                },
                            },
                        },

                    ]
                },
                {
                    colSpan: 12,
                    visible: true,
                    template: '<span class="dx-field-item-label-text font-bold">Các tập tin đính kèm</span><div class="file-uploader" id="file-uploader"></div>',
                },
                {
                    itemType: "group",
                    name: "button-action",
                    colCount: 12,
                    items: [
                        {
                            colSpan: 6,
                            itemType: "button",
                            horizontalAlignment: "right",
                            disabled: id == 0,
                            buttonOptions: {
                                text: "Thêm defect",
                                icon: "fa fa-plus",
                                type: "success",
                                useSubmitBehavior: true,
                                elementAttr: {
                                    id: "importDefect",
                                },
                                //editorOptions: {
                                //    stylingMode: "contained",
                                //    cssClass: "bg-info",
                                //}
                            }
                        },
                        {
                            colSpan: 6,
                            itemType: "button",
                            horizontalAlignment: "left",
                            disabled: id == 0,
                            buttonOptions: {
                                text: "Hoàn tất",
                                icon: "fa fa-check-double",
                                type: "default",
                                elementAttr: {
                                    id: "finishDefect",
                                },
                                editorOptions: {
                                    stylingMode: "contained",
                                    cssClass: "bg-info",
                                }
                            }
                        },
                    ],
                },
            ],
            onFieldDataChanged: function (e) {
                var newFormData = e.component.option("formData");
            }
        }).dxForm("instance");
        function loadData_DefectDetail(DefectId) {
            $("#container-defect-detail").dxDataGrid({
                height: 300,
                dataSource: customStore_DefectFeedbackDetail(DefectId),
                repaintChangesOnly: true,
                remoteOperations: true,
                scrolling: { mode: "standard" },
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                rowAlternationEnabled: true,
                filterRow: { visible: false },
                summary: {
                    groupItems: [{
                        column: "id",
                        summaryType: "count"
                    },
                    ]
                },
                paging: {
                    enabled: true,
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                },
                selection: {
                    mode: "single"
                },
                columns: [
                    {
                        dataField: "defectiveId",
                        allowFiltering: true,
                        caption: "Lỗi",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        editorType: "dxLookup",
                        lookup: {
                            dataSource: customStore_Defective,
                            valueExpr: "id",
                            displayExpr: "name",
                        },
                    },// realEstateId
                    {
                        dataField: "note",
                        allowFiltering: true,
                        caption: "Ghi chú",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        editorType: "dxTextBox",
                    },
                    {
                        dataField: "id",
                        allowFiltering: false,
                        caption: "Ảnh",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        editorType: "dxTextBox",
                        lookup: {
                            dataSource: customStore_Attachment_All('DefectFeedbackDetail').store(),
                            valueExpr: "ownerById",
                            displayExpr: "fileName",
                        },
                        cellTemplate: (c, o) => {
                            customStore_Attachment(o.value, 'DefectFeedbackDetail').load().then((rsFile) => {
                                var item = rsFile.filter(x => x.ownerById == o.value).shift();
                                if (typeof item !== "undefined") {
                                    $("<img />").
                                        attr({ "src": (item.host + item.url + "/" + item.fileName), onerror: ImgError(this), "style": "max-height: 50px; height : auto ;width : auto ;margin: auto;" }).
                                        appendTo(c);
                                }
                            });
                        },
                    },
                ],
                editing: {
                    allowDeleting: true,
                    mode: "batch",
                    useIcons: true,
                    confirmDelete: true,
                    popup: {
                        width: "50%",
                        height: "50%",
                        showTitle: true,
                        title: "kế hoạch công việc",
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },
                },
            }).dxDataGrid("instance");
        };
        fileUploader();
        $("#form-regist").on("submit", function (e) {
            e.preventDefault();
            var formdata = $('#form-regist').dxForm("instance").option('formData');
            var resValid = true
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.show();
                formdata['ConstructionItemsId'] = ITEMSID;
                formdata['Status'] = 10;
                var deferred = $.Deferred();
                customStore(0).store().insert(formdata).done((rs) => {
                    loadingPanel.hide();
                    if (rs.isOk) {
                        console.log(rs.result.id)
                        $('#elementDefectFeedbackId').dxTextBox('instance')
                            .option('value', rs.result.id == null ? 0 : rs.result.id);
                        $defectDetailId = rs.result.id;
                        document.getElementById('container-defect-detail').style.display = 'block';
                        document.getElementById('form-defect-detail').style.display = 'block';
                        document.getElementById('submit').style.pointerEvents = 'none';
                        document.getElementById('submit').style.visibility = 'hidden';
                        DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                        deferred.resolve(rs);
                    }
                    else {
                        DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                        deferred.resolve(false);
                    }
                }, deferred.reject);
                return deferred.promise();
            }
        });
        $("#form-defect-detail").on("submit", function (e) {
            e.preventDefault();
            var fdata = new FormData();
            var formdata = $('#form-defect-detail').dxForm("instance").option('formData');
            var resValid = true
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.show();
                console.log(formdata);
                formdata['status'] = 0;
                fdata.append('token', UserCurrentInfo.accessToken);
                $.each(formdata, function (key, value) {
                    if (key === 'startDate' || key === 'endDate' || key === 'deadline' || key === 'fixedDate') {
                        fdata.append(key, moment(value).format('YYYY-MM-DD'));
                    }
                    else {
                        fdata.append(key, value);
                    }
                });
                try {
                    var files = $("#file-uploader").dxFileUploader("instance").option("value");
                    if (files.length > 0) {
                        $.each(files, function (key, value) {
                            fdata.append(files[key].name, files[key]);
                        });
                    }
                }
                catch
                {

                }
                var deferred = $.Deferred();
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/VanHanh/BaoHanh/DefectDetailCreate",
                    data: fdata,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (rs) {
                        deferred.resolve(true);
                        loadData_DefectDetail($defectDetailId);
                        loadingPanel.hide();
                        DevExpress.ui.notify(rs.result, rs.status, 3000);
                        try {
                            $("#file-uploader").dxFileUploader("instance").option("value", []);
                        }
                        catch
                        {

                        }
                        $("#elementDefectiveId").dxSelectBox("instance").option("value", 0);
                        $("#elementDefectNote").dxTextArea("instance").option("value", '');
                        fdata = new FormData();
                        if (rs.status == "success") {
                            DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                            deferred.resolve(rs);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        loadingPanel.hide();
                        DevExpress.ui.notify("Có lỗi xảy ra: " + errorThrown, "error", 3000);
                    }
                });
                //customStore_DefectFeedbackDetail(0).store().insert(formdata).done((rsDetailDefect) => {
                //    loadingPanel.hide();
                //    if (rsDetailDefect.isOk) {
                //        DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                //        deferred.resolve(rsDetailDefect);
                //    }
                //    else {
                //        DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                //        deferred.resolve(false);
                //    }
                //}, deferred.reject);
                return deferred.promise();
            }
        });
        $(document).on('click', '#finishDefect', '#form-defect-detail', function (e) {
            $("#popup-main").dxPopup('instance').hide();
        });
        function fileUploader() {
            $("#file-uploader").dxFileUploader({
                selectButtonText: "Chọn tập tin...",
                labelText: "Hoặc kéo thả vào đây",
                showFileList: true,
                multiple: false,
                uploadMode: "useForm",
                accept: ".jpg,.jpeg,.gif,.png,.pdf",
                allowedFileExtensions: [".jpg", ".jpeg", ".png", ".pdf"],
                maxFileSize: 52428800,
            }).dxFileUploader("instance");
        }
    });
</script>
