<form id="form-regist" action="#" method="POST" enctype="application/json">
</form>
<script>
    var customStore_RealEstate_Filter = (id) => new DevExpress.data.DataSource({
        store: $DATASOURCEGET(ACTION_REALESTATE, KEY),
        filter: ["constructionItemsId", "=", id]
    });
    var formData = {
        "customerId": ""
        , "realEstateId": ""
        , "fullName": ""
        , "defectiveId": ""
        , "phone": ""
        , "note": ""
        , "noAttachment": ""
    };
    var fdata = new FormData();
    $(document).ready(function () {
        var formInstance = $("#form-regist").dxForm({
            formData: formData,
            labelLocation: "top",
            items: [
                {
                    itemType: "group",
                    colCount: 12,
                    items: [
                        {
                            colSpan: 4,
                            dataField: "realEstateId",
                            label: { text: "Mã căn hộ" },
                            lookup: {
                                dataSource: customStore_RealEstate_Filter(ITEMSID),
                                valueExpr: "id",
                                displayExpr: "code",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                stylingMode: "filled",
                                //value: formData["documentTypeId"],
                                dataSource: customStore_RealEstate_Filter(ITEMSID),
                                valueExpr: "id",
                                displayExpr: "code",
                                elementAttr: {
                                    id: "elementRealEstateId",
                                },
                                onValueChanged: function (e) {
                                    //if (e.value === 7) {
                                    //    formInstance.itemOption("address", "visible", false);
                                    //    formInstance.itemOption("calen", "visible", false);
                                    //}
                                    //else {

                                    //    formInstance.itemOption("address", "visible", true);
                                    //    formInstance.itemOption("calen", "visible", true);
                                    //}
                                    //fileUploader();
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 4,
                            dataField: "customerId",
                            label: { text: "mã khách hàng" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                stylingMode: "filled",
                                value: formData["title"],
                                placeholder: "Vui lòng nhập...",
                                dataSource: customStore_CustomerInfo,
                                valueExpr: "id",
                                displayExpr: "title",
                                elementAttr: {
                                    id: "elementTitle",
                                }
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 4,
                            dataField: "defectiveId",
                            label: { text: "Mã lỗi" },
                            lookup: {
                                dataSource: customStore_Defective,
                                valueExpr: "id",
                                displayExpr: "code",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                stylingMode: "filled",
                                //value: formData["documentTypeId"],
                                dataSource: customStore_Defective,
                                valueExpr: "id",
                                displayExpr: "code",
                                elementAttr: {
                                    id: "elementDefectiveId",
                                },
                                onValueChanged: function (e) {
                                    //if (e.value === 7) {
                                    //    formInstance.itemOption("address", "visible", false);
                                    //    formInstance.itemOption("calen", "visible", false);
                                    //}
                                    //else {

                                    //    formInstance.itemOption("address", "visible", true);
                                    //    formInstance.itemOption("calen", "visible", true);
                                    //}
                                    //fileUploader();
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            dataField: "fullName",
                            label: { text: "Họ tên khách hàng" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                                value: formData["description"],
                            },
                        },
                        {
                            colSpan: 6,
                            dataField: "phone",
                            label: { text: "Số điện thoại" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                                value: formData["description"],
                            },
                        },
                        {
                            colSpan: 12,
                            dataField: "note",
                            label: { text: "Mô tả" },
                            editorType: "dxTextArea",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                                value: formData["description"],
                            },
                        },
                        {
                            colSpan: 12,
                            template: '<span class="dx-field-item-label-text font-bold">Các tập tin đính kèm</span><div class="file-uploader" id="file-uploader"></div>',
                        },
                    ]
                },
                {
                    itemType: "button",
                    horizontalAlignment: "center",
                    buttonOptions: {
                        text: "Lưu lại",
                        icon: "fa fa-save",
                        type: "success",
                        useSubmitBehavior: true,
                        elementAttr: {
                            id: "submit",
                        }
                    }
                },
            ],
            onFieldDataChanged: function (e) {
                var newFormData = e.component.option("formData");
            }
        }).dxForm("instance");
        fileUploader();
    });
    $(document).on('submit', '#form-regist', function (e) {
        //$(this).prop("disabled", true);
        e.preventDefault();
        var fileWrappers = fileUploader()._files;
        var resValid = true
        for (var i = 0; i < fileWrappers.length; i++) {
            if (fileWrappers[i].isValid() === false) {
                resValid = false;
            }
        }
        if (!resValid) {
            DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
        }
        else {
            loadingPanel.show();
            var fdata = new FormData();
            var i = 10;
            $.each(formData, function (key, value) {
                if (key === 'calendar') {
                    fdata.append(key, moment(value).format('YYYY-MM-DD HH:mm:ss'));
                }
                else {
                    fdata.append(key, value);
                }
            });
            //fdata.append('projectId', PROJECTID);
            //fdata.append('token', UserCurrentInfo.accessToken);
            var files = $("#file-uploader").dxFileUploader("instance").option("value");
            if (files.length > 0) {
                $.each(files, function (key, value) {
                    fdata.append(files[key].name, files[key]);
                });
            }
            fdata.append('ConstructionItemsId', ITEMSID); 
            fdata.append('token', UserCurrentInfo.accessToken);
            //else {
            //    DevExpress.ui.notify("Vui lòng chọn file đính kèm", "error", 3000);
            //    e.preventDefault();
            //    return false;
            //};
            for (var pair of fdata.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }
            //var values = JSON.stringify(fdata);
            var deferred = $.Deferred();
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/VanHanh/BaoHanh/YeuCauCreate",
                data: fdata,
                processData: false,
                contentType: false,
                cache: false,
                success: function (rs) {
                    deferred.resolve(true);
                    loadingPanel.hide();
                    DevExpress.ui.notify(rs.result, rs.status, 3000);
                    if (rs.status == "success") {
                        $("#popup-register").dxPopup('instance').hide();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    loadingPanel.hide();
                    DevExpress.ui.notify("Có lỗi xảy ra: " + errorThrown, "error", 3000);
                }
            });
            //e.preventDefault();
            return deferred.promise();
        }


    });
    var fileUploader = () => $("#file-uploader").dxFileUploader({
        selectButtonText: "Chọn tập tin...",
        labelText: "Hoặc kéo thả vào đây",
        showFileList: true,
        multiple: true,
        uploadMode: "useForm",
        accept: ".jpg,.jpeg,.gif,.png,.pdf",
        allowedFileExtensions: [".jpg", ".jpeg", ".png", ".pdf"],
        maxFileSize: 52428800,
    }).dxFileUploader("instance");

</script>
