<form id="form-regist" action="#" method="POST" enctype="application/json">
</form>
<div id="container-defect-detail" class="elevation-2 list-defect-detail" disabled></div>
<form id="form-defect-detail"  class="list-defect-detail" action="#" method="POST" enctype="application/json" disabled>
</form>

<script>
    var $defectDetailId = 0;
    var customStore_RealEstate_Filter = (id) => new DevExpress.data.DataSource({
        store: $DATASOURCEGET(ACTION_REALESTATE, KEY),
        filter: ["constructionItemsId", "=", id]
    });
    var formData = {
        "customerId": ""
        , "realEstateId": ""
        , "fullName": ""
        , "defectiveId": ""
        , "phone": ""
        , "note": ""
        , "noAttachment": ""
    };
    var formDataDefect = {
        "customerId": ""
        , "realEstateId": ""
        , "fullName": ""
        , "defectiveId": ""
        , "phone": ""
        , "note": ""
        , "noAttachment": ""
    };
    var fdata = new FormData();
    $(document).ready(function () {
        loadData_DefectDetail(0);
        var formInstance = $("#form-regist").dxForm({
            formData: formData,
            labelLocation: "top",
            items: [
                {
                    itemType: "group",
                    colCount: 12,
                    items: [
                        {
                            colSpan: 6,
                            dataField: "realEstateId",
                            label: { text: "Mã căn hộ" },
                            lookup: {
                                dataSource: customStore_RealEstate_Filter(ITEMSID),
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: true,
                                valueExpr: "id",
                                displayExpr: "code",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                stylingMode: "filled",
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: true,
                                //value: formData["documentTypeId"],
                                dataSource: customStore_RealEstate_Filter(ITEMSID),
                                valueExpr: "id",
                                displayExpr: "address",
                                elementAttr: {
                                    id: "elementRealEstateId",
                                },
                                onValueChanged: function (data) {
                                    if (data.value != null) {

                                        customStore_CustomerRealEstate(data.value).load().done((rs) => {
                                            if (rs != null && rs.length > 0) {
                                                customStore_CustomerInfoById(rs[0].customerInfoId).load().done((rsCI) => {
                                                    console.log(rsCI);
                                                    $('#elementCustomerId').dxSelectBox('instance')
                                                        .option('value', rsCI[0].id == null ? 0 : rsCI[0].id);
                                                    $('#elementCustomerFullName').dxTextBox('instance')
                                                        .option('value', rsCI[0].id == null ? "" : (rsCI[0].firstName ?? "" + " " + rsCI[0].lastName ?? ""));
                                                    $('#elementPhoneId').dxTextBox('instance')
                                                        .option('value', rsCI[0].id == null ? 0 : rsCI[0].phone);
                                                });
                                            }
                                        });
                                    }
                                    else {
                                    };
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            dataField: "customerId",
                            label: { text: "mã khách hàng" },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                stylingMode: "filled",
                                searchEnabled: true,
                                searchMode: "contains",
                                searchExpr: ['firstName', 'lastName'],
                                showClearButton: true,
                                placeholder: "Vui lòng nhập...",
                                dataSource: customStore_CustomerInfo,
                                valueExpr: "id",
                                displayExpr: "id",
                                elementAttr: {
                                    id: "elementCustomerId",
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            dataField: "fullName",
                            label: { text: "Tên Khách Hàng" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                stylingMode: "filled",
                                elementAttr: {
                                    id: "elementCustomerFullName",
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            dataField: "phone",
                            label: { text: "Số điện thoại" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                elementAttr: {
                                    id: "elementPhoneId",
                                },
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                                value: formData["description"],
                            },
                        },
                        {
                            colSpan: 12,
                            dataField: "note",
                            label: { text: "Mô tả" },
                            editorType: "dxTextArea",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                                value: formData["description"],
                            },
                        },
                    ]
                },
                {
                    itemType: "button",
                    horizontalAlignment: "center",
                    buttonOptions: {
                        text: "Tạo phiếu defect",
                        icon: "fa fa-save",
                        type: "success",
                        useSubmitBehavior: true,
                        elementAttr: {
                            id: "submit",
                        }
                    }
                },
            ],
            onFieldDataChanged: function (e) {
                var newFormData = e.component.option("formData");
            }
        }).dxForm("instance");
        var formInstanceDefectDetail = $("#form-defect-detail").dxForm({
            formData: formDataDefect,
            labelLocation: "top",
            items: [
                {
                    itemType: "group",
                    colCount: 12,
                    items: [
                        {
                            colSpan: 12,
                            dataField: "defectiveId",
                            label: { text: "Mã lỗi" },
                            lookup: {
                                dataSource: customStore_Defective,
                                valueExpr: "id",
                                displayExpr: "code",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                stylingMode: "filled",
                                dataSource: customStore_Defective,
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: true,
                                valueExpr: "id",
                                displayExpr: "name",
                                elementAttr: {
                                    id: "elementDefectiveId",
                                },
                                itemTemplate: function (data) {
                                    return $("<div>").append($("<b>").append(data.code).addClass("mr-1"), $("<em>").append(data.name));
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 12,
                            dataField: "note",
                            label: { text: "Mô tả" },
                            editorType: "dxTextArea",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                                value: formData["description"],
                            },
                        },
                        {
                            colSpan: 12,
                            template: '<span class="dx-field-item-label-text font-bold">Các tập tin đính kèm</span><div class="file-uploader" id="file-uploader"></div>',
                        },
                    ]
                },
                {
                    itemType: "button",
                    horizontalAlignment: "center",
                    buttonOptions: {
                        text: "Lưu defect",
                        icon: "fa fa-save",
                        type: "success",
                        useSubmitBehavior: true
                        ,
                        elementAttr: {
                            id: "importDefect",
                        }
                    }
                },
            ],
            onFieldDataChanged: function (e) {
                var newFormData = e.component.option("formData");
            }
        }).dxForm("instance");
        function loadData_DefectDetail(DefectID) {
            $("#container_defect_detail").dxDataGrid({
                height: 300,
                dataSource: customStore_DefectFeedbackDetail(DefectID),
                repaintChangesOnly: true,
                remoteOperations: true,
                scrolling: { mode: "standard" },
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                rowAlternationEnabled: true,
                filterRow: { visible: false },
                summary: {
                    groupItems: [{
                        column: "id",
                        summaryType: "count"
                    },
                    ]
                },
                paging: {
                    enabled: true,
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                },
                onRowUpdating: (e) => {
                    e.newData['isVisible'] = e.newData['pmIsVisible'];
                    e.newData['id'] = e.oldData['id'];
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 1)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                },
                onRowDblClick: function (e) {
                    var container = e.component;
                },
                selection: {
                    mode: "single"
                },
                columns: [
                    {
                        dataField: "defectiveId",
                        allowFiltering: true,
                        caption: "Lỗi",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        editorType: "dxLookup",
                        lookup: {
                            dataSource: customStore_Defective,
                            valueExpr: "id",
                            displayExpr: "name",
                        },
                    },// realEstateId
                    {
                        dataField: "note",
                        allowFiltering: true,
                        caption: "Ghi chú",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        editorType: "dxTextBox",
                    },
                    {
                        allowFiltering: true,
                        caption: "Ảnh",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        editorType: "dxTextBox",
                        cellTemplate: function (element, info) {
                            console.log(element);
                            console.log(info);
                            //element.append("<div>" + info.text + "</div>")
                            //    .css("color", "blue");
                        }
                    },
                ],
                editing: {
                    mode: "batch",
                    useIcons: true,
                    confirmDelete: true,
                    popup: {
                        width: "50%",
                        height: "50%",
                        showTitle: true,
                        title: "kế hoạch công việc",
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },
                },
            });
        };
        fileUploader();
        $("#form-regist").on("submit", function (e) {
            e.preventDefault();
            var formdata = $('#form-regist').dxForm("instance").option('formData');
            var resValid = true
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.show();
                formdata['ConstructionItemsId'] = ITEMSID;
                formdata['Status'] = 10;
                var deferred = $.Deferred();
                customStore(0).store().insert(formdata).done((rssbInsert) => {
                    loadingPanel.hide();
                    if (rssbInsert.isOk) {
                        document.getElementById('container-defect-detail').style.display = 'block';
                        document.getElementById('form-defect-detail').style.display = 'block';
                        document.getElementById('submit').style.pointerEvents = 'none';
                        DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                        deferred.resolve(rs);
                    }
                    else {
                        DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                        deferred.resolve(false);
                    }
                }, deferred.reject);
                return deferred.promise();
            }
        });
        function fileUploader() {
            $("#file-uploader").dxFileUploader({
                selectButtonText: "Chọn tập tin...",
                labelText: "Hoặc kéo thả vào đây",
                showFileList: true,
                multiple: true,
                uploadMode: "useForm",
                accept: ".jpg,.jpeg,.gif,.png,.pdf",
                allowedFileExtensions: [".jpg", ".jpeg", ".png", ".pdf"],
                maxFileSize: 52428800,
            }).dxFileUploader("instance");
        }
    });



</script>
