<form id="form-regist" action="#" method="POST" enctype="application/json">
</form>
<script>
    var customStore_RealEstate_Filter = (id) => new DevExpress.data.DataSource({
        store: $DATASOURCEGET(ACTION_REALESTATE, KEY),
        filter: ["constructionItemsId", "=", id]
    });
    var formData = {
        "customerId": ""
        , "realEstateId": ""
        , "fullName": ""
        , "defectiveId": ""
        , "phone": ""
        , "note": ""
        , "noAttachment": ""
    };
    var fdata = new FormData();
    $(document).ready(function () {
        var formInstance = $("#form-regist").dxForm({
            formData: formData,
            labelLocation: "top",
            items: [
                {
                    itemType: "group",
                    colCount: 12,
                    items: [
                        {
                            colSpan: 6,
                            dataField: "realEstateId",
                            label: { text: "Mã căn hộ" },
                            lookup: {
                                dataSource: customStore_RealEstate_Filter(ITEMSID),
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: true,
                                valueExpr: "id",
                                displayExpr: "code",
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                stylingMode: "filled",
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: true,
                                //value: formData["documentTypeId"],
                                dataSource: customStore_RealEstate_Filter(ITEMSID),
                                valueExpr: "id",
                                displayExpr: "address",
                                elementAttr: {
                                    id: "elementRealEstateId",
                                },
                                onValueChanged: function (data) {
                                    //$('#elementCustomerId').dxSelectBox('instance')
                                    //    .option('disabled', data.value != null);
                                    //$('#elementFullNameId').dxTextBox('instance')
                                    //    .option('disabled', data.value != null);
                                    //$('#elementPhoneId').dxTextBox('instance')
                                    //.option('disabled', data.value != null);
                                    if (data.value != null) {
                                        console.log(data.value);
                                        var deferred = $.Deferred();
                                        customStore_CustomerRealEstate(data.value).load().done((rs) => {
                                            if (rs != null && rs.length > 0) {
                                                customStore_CustomerInfoById(rs[0].customerInfoId).load().done((rsCI) => {
                                                    console.log(rsCI);
                                                    $('#elementCustomerId').dxSelectBox('instance')
                                                        .option('value', rsCI[0].id == null ? 0 : rsCI[0].id);
                                                    //$('#elementFullNameId').dxTextBox('instance')
                                                    //    .option('value', rsCI[0].id == null ? "" : (rsCI[0].firstName + " " + rsCI[0].lastName));
                                                    $('#elementPhoneId').dxTextBox('instance')
                                                        .option('value', rsCI[0].id == null ? 0 : rsCI[0].phone);
                                                });
                                            }
                                        });

                                    }
                                    else {
                                        $('#elementDocumentTypeId').dxSelectBox('instance')
                                            .option('value', null);
                                    };


                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            dataField: "customerId",
                            label: { text: "mã khách hàng" },
                            lookup: {
                                dataSource: customStore_CustomerInfo,
                                valueExpr: "id",
                                displayExpr: getDisplayExpr,
                            },
                            editorType: "dxSelectBox",
                            editorOptions: {
                                stylingMode: "filled",
                                searchEnabled: true,
                                searchMode: "contains",
                                searchExpr: ['firstName', 'lastName'],
                                showClearButton: true,
                                placeholder: "Vui lòng nhập...",
                                dataSource: customStore_CustomerInfo,
                                valueExpr: "id",
                                displayExpr: getDisplayExpr,
                                elementAttr: {
                                    id: "elementCustomerId",
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            //dataField: "defectiveId",
                            label: { text: "Mã lỗi" },
                            lookup: {
                                dataSource: customStore_Defective,
                                valueExpr: "id",
                                displayExpr: "code",
                            },
                            editorType: "dxTagBox",
                            editorOptions: {
                                stylingMode: "filled",
                                //value: formData["documentTypeId"],
                                dataSource: customStore_Defective,
                                //dataSource: new DevExpress.data.ArrayStore({
                                //    data: customStore_Defective,
                                //    key: "id"
                                //}),
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: true,
                                valueExpr: "id",
                                displayExpr: "name",
                                elementAttr: {
                                    id: "elementDefectiveId",
                                },
                                itemTemplate: function (data) {
                                    return $("<div>").append($("<b>").append(data.code).addClass("mr-1"), $("<em>").append(data.name));
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 6,
                            dataField: "phone",
                            label: { text: "Số điện thoại" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                elementAttr: {
                                    id: "elementPhoneId",
                                },
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                                value: formData["description"],
                            },
                        },
                        {
                            colSpan: 12,
                            dataField: "note",
                            label: { text: "Mô tả" },
                            editorType: "dxTextArea",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                                value: formData["description"],
                            },
                        },
                        {
                            colSpan: 12,
                            template: '<span class="dx-field-item-label-text font-bold">Các tập tin đính kèm</span><div class="file-uploader" id="file-uploader"></div>',
                        },
                    ]
                },
                {
                    itemType: "button",
                    horizontalAlignment: "center",
                    buttonOptions: {
                        text: "Lưu lại",
                        icon: "fa fa-save",
                        type: "success",
                        useSubmitBehavior: true,
                        elementAttr: {
                            id: "submit",
                        }
                    }
                },
            ],
            onFieldDataChanged: function (e) {
                var newFormData = e.component.option("formData");
            }
        }).dxForm("instance");
        fileUploader();
        $("#form-regist").on("submit", function (e) {
            e.preventDefault();
            var formdata = $('#form-regist').dxForm("instance").option('formData');
          
            var tagDefectiveData = $('#elementDefectiveId').dxTagBox("instance").option('selectedItems');
            //var DefectiveIds = new int[];
            var tagDefectiveIds = tagDefectiveData.map(x => x.id).toString();

       
            //var fileWrappers = $('#form-regist').dxForm("instance").option('formData');._files;
            var resValid = true
            //for (var i = 0; i < fileWrappers.length; i++) {
            //    if (fileWrappers[i].isValid() === false) {
            //        resValid = false;
            //    }
            //};
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.show();
                var fdata = new FormData();
                var i = 10;
                $.each(formData, function (key, value) {
                    if (key === 'calendar') {
                        fdata.append(key, moment(value).format('YYYY-MM-DD HH:mm:ss'));
                    }
                    else {
                        fdata.append(key, value);
                    }
                });
                //fdata.append('projectId', PROJECTID);
                //fdata.append('token', UserCurrentInfo.accessToken);
                var files = $("#file-uploader").dxFileUploader("instance").option("value");
                if (files.length > 0) {
                    $.each(files, function (key, value) {
                        fdata.append(files[key].name, files[key]);
                    });
                }
                fdata.append('DefectiveIds', tagDefectiveIds);
                fdata.append('ConstructionItemsId', ITEMSID);
                fdata.append('token', UserCurrentInfo.accessToken);
                //fdata.push(DefectiveIds);
                //else {
                //    DevExpress.ui.notify("Vui lòng chọn file đính kèm", "error", 3000);
                //    e.preventDefault();
                //    return false;
                //};
                for (var pair of fdata.entries()) {
                    console.log(pair[0] + ', ' + pair[1]);
                }
                //var values = JSON.stringify(fdata);
                var deferred = $.Deferred();
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/VanHanh/BaoHanh/YeuCauCreate",
                    data: fdata,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (rs) {
                        deferred.resolve(true);
                        loadingPanel.hide();
                        DevExpress.ui.notify(rs.result, rs.status, 3000);
                        if (rs.status == "success") {
                            $("#popup-main").dxPopup('instance').hide();
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        loadingPanel.hide();
                        DevExpress.ui.notify("Có lỗi xảy ra: " + errorThrown, "error", 3000);
                    }
                });
                e.preventDefault();
                return deferred.promise();
            }
        });
        function fileUploader() {
            $("#file-uploader").dxFileUploader({
                selectButtonText: "Chọn tập tin...",
                labelText: "Hoặc kéo thả vào đây",
                showFileList: true,
                multiple: true,
                uploadMode: "useForm",
                accept: ".jpg,.jpeg,.gif,.png,.pdf",
                allowedFileExtensions: [".jpg", ".jpeg", ".png", ".pdf"],
                maxFileSize: 52428800,
            }).dxFileUploader("instance");
        }
    });



</script>
