@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <style>
        .list-defect-detail {
            display: none;
        }

        #container-defect-detail, #container-defect-detail-update {
            margin-bottom: 30px;
        }
    </style>
}
<div id="popup-main-upload"></div>
<div id="popup-register"></div>
<div id="popup-acceptence"></div>
<div class="row">
    <div class="col-8">
        <div id="container" class="elevation-2"></div>
        <div id="container-detail" class="elevation-2"></div>
    </div>
    <div class="col-md-4">
        <!-- The time line -->
        <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-blue" id="Defect">
                    Defect
                </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-paper-plane bg-blue" id="Defect-FeedBack-Logo"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> <a id="Defect-FeedBack-Time"></a> </span>
                    <h3 class="timeline-header"><a href="#" id="Defect-FeedBack-Text">Đã gửi yêu cầu Defect</a> </h3>
                    <div class="timeline-body" id="Defect-FeedBack-Content"></div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li id="Defect-Approve">
                <i class="fa fa-comments bg-yellow" id="Defect-Approve-Logo"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i><a id="Defect-Approve-Time"></a></span>
                    <h3 class="timeline-header"><a href="#" id="Defect-Approve-Text">Xác nhận defect</a></h3>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-green" id="Defect-Fix">
                    Xử lý Defect
                </span>
            </li>
            <!-- /.timeline-label -->
            <li>
                <i class="fa fa-map-marker bg-green" id="Defect-FixPlan-Logo"></i>
                <div class="timeline-item">
                    <span class="time" id="Defect-FixPlan-Time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#" id="Defect-FixPlan-Text">Lên kế hoạch sửa chữa</a> </h3>
                </div>
            </li>
            <!-- timeline item -->
            <li>
                <i class="fa fa-tools bg-purple" id="Defect-Fixing-Logo"></i>
                <div class="timeline-item">
                    <span class="time" id="Defect-Fixing-Time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#" id="Defect-Fixing-Text">Đang thực hiện sửa chữa</a></h3>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li class="time-label">
                <span class="bg-red" id="Defect-Accept">
                    Nghiệm thu
                </span>
            </li>
            <li>
                <i class="fa fa-clipboard-list bg-red" id="Defect-Accept-Logo"></i>
                <div class="timeline-item">
                    <span class="time" id="Defect-Accept-Time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#" id="Defect-Accept-Text">Nghiệm thu</a></h3>
                </div>
            </li>
        </ul>
    </div>
</div>

@section script{
    <script src="~/Scripts/page/vanhanh.js"></script>
    <script>
        var id = 1;
        var $selectionID = 0;
        clearContent();
        ///-----------------------------READ ------------------------

        var ACTION_FEEDBACK = "DefectFeedback/";
        var ACTION_REALESTATE = "RealEstate/";
        var ACTION_DEFECTIVE = "Defective/";
        var ACTION_CUSTOMERINFO = "CustomerInfo/";
        var ACTION_CUSTOMERREALESTATE = "CustomerRealEstate/";
        var ACTION_FILESATTACHMENT = "FilesAttachment/";
        var ACTION_CONSTRUCTIONITEMS = "ConstructionItems/";
        var ACTION_DEFECTFIX = "DefectFix/";
        var ACTION_DEFECTACCEPTANCE = "DefectAcceptance/";
        var ACTION_MAINTENANCESUPPLIERINFO = "MaintenanceSupplierInfo/";
        var ACTION_MAINTENANCERINFO = "MaintenancerInfo/";
        var ACTION_DEFECTFEEDBACKDETAIL = "DefectFeedbackDetail/";
        var KEY = "id";
        var WIDTH_CONTAINER = $("#container").width();

        var ITEMSID = isNullOrEmpty(localStorage.getItem("ItemsIdCurrent")) ? parseInt(localStorage.getItem("ItemsIdCurrent")) : 1;
        //..........................Get data -------------------------------------------------------------

        var customStore = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_FEEDBACK, KEY),
            filter: ["constructionItemsId", "=", id]
        });
        var customStore_Detail = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_FEEDBACK, KEY),
            filter: ["id", "=", id]
        });
        var customStore_Attachment = (id, owner) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_FILESATTACHMENT, KEY),
            filter: [["ownerById", "=", id], "and", ["ownerByTable", "=", owner]]
        });
        var customStore_Attachment_All = (owner) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_FILESATTACHMENT, KEY),
            filter: ["ownerByTable", "=", owner]
        });
        var customStore_DefectFix = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_DEFECTFIX, KEY),
            filter: ["defectFeedbackId", "=", id]
        });
        var customStore_DefectAcceptance = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_DEFECTACCEPTANCE, KEY),
            filter: ["defectFeedbackDetailId", "=", id]
        });
        var customStore_CustomerRealEstate = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCEGET(ACTION_CUSTOMERREALESTATE, KEY),
            filter: ["realEstateId", "=", id]
        });
        var customStore_Defective = $DATASOURCEGET(ACTION_DEFECTIVE, KEY);
        var customStore_Defective_Filter = () => new DevExpress.data.DataSource({
            store: $DATASOURCEGET(ACTION_DEFECTIVE, KEY),
            filter: ["constructionItemsId", "=", ITEMSID],
        });
        var customStore_RealEstate = $DATASOURCEGET(ACTION_REALESTATE, KEY);
        var customStore_CustomerInfoRealEstateById = (id) => {
            var deferred = $.Deferred();
            return customStore_CustomerRealEstate(id).load().then((rs) => {
                if (rs != null && rs.length > 0) {

                    deferred.resolve(customStore_CustomerInfoById(rs[0].customerInfoId)[0]);
                }
            });
            return deferred.promise();
        }
        var customStore_CustomerInfoById = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCEGET(ACTION_CUSTOMERINFO, KEY),
            filter: ["id", "=", id]
        });
        var customStore_CustomerInfo = $DATASOURCEGET(ACTION_CUSTOMERINFO, KEY);
        var customStore_ConstructionItems = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_CONSTRUCTIONITEMS, KEY),
            filter: ["parentId", "=", 0]
        });
        var customStore_MaintenanceSupplierInfo = () => new DevExpress.data.DataSource({
            store: $DATASOURCEGET(ACTION_MAINTENANCESUPPLIERINFO, KEY)
        });
        var customStore_MaintenancerInfo = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCEGET(ACTION_MAINTENANCERINFO, KEY),
            filter: ["maintenanceSupplierInfoId", "=", id]
        });
        var customStore_DefectFeedbackDetail = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_DEFECTFEEDBACKDETAIL, KEY),
            filter: ["defectFeedbackId", "=", id]
        });
        var customStore_MaintenancerInfoById = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCEGET(ACTION_MAINTENANCERINFO, KEY),
            filter: ["id", "=", id]
        });
        //..........................  Load View -------------------------------------------------------------
        $(function () {
            loadData(ITEMSID);
        });
        var loadData = (ItemID) => {
            $("#container").dxDataGrid({
                height: heightScreen,
                dataSource: customStore(ItemID),
                repaintChangesOnly: true,
                remoteOperations: true,
                scrolling: { mode: "standard" },
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                rowAlternationEnabled: true,
                filterRow: { visible: true },
                summary: {
                    groupItems: [{
                        column: "id",
                        summaryType: "count"
                    },
                    ]
                },
                paging: {
                    enabled: true,
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                searchPanel: {
                    highlightCaseSensitive: true,
                    highlightSearchText: true,
                    searchVisibleColumnsOnly: true,
                    visible: WIDTH_CONTAINER > 350
                },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "download",
                                tylingMode: "filled",
                                type: "default",
                                visible: true,
                                onClick: (e) => {
                                    console.log($selectionID);
                                    window.location.href = ('https://api-om-crud.tayho.com.vn/api/v1/DefectFeedback/ReportDefectFeedback/?id=' + $selectionID);
                                }
                            },
                            editorOptions: {
                                elementAttr: {
                                    id: "elementDownLoad",
                                },
                            },
                        },
                        {
                            location: "before",
                            widget: "dxSelectBox",
                            options: {
                                dataSource: customStore_ConstructionItems(0),
                                valueExpr: "id",
                                displayExpr: "title",
                                width: "100%",
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: false,
                                stylingMode: "filled",
                                value: ITEMSID,
                                onValueChanged: function (data) {
                                    
                                    ITEMSID = data.value;
                                    console.log(ITEMSID);
                                    localStorage.setItem('ItemsIdCurrent', ITEMSID);
                                    loadData(ITEMSID);
                                },
                            },
                        },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh", tylingMode: "filled", type: "default",
                                onClick: () => container.refresh()
                            },

                        },

                    )
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                },
                onRowUpdating: (e) => {
                    e.newData['isVisible'] = e.newData['pmIsVisible'];
                    e.newData['id'] = e.oldData['id'];
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 1)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                },
                onRowDblClick: function (e) {
                    var container = e.component;
                },
                selection: {
                    mode: "single"
                },
                onContentReady: (e) => {
                    var container = e.component;
                    $("#action-add").dxSpeedDialAction({
                        index: 1,
                        icon: "fas fa-plus",
                        label: "Thêm mới",
                        visible: PermitInAction["insert"],
                        onClick: () => {
                            CALLPOPUP(
                                "Tạo yêu cầu bảo hành",
                                "/VanHanh/BaoHanh/_YeuCauCreate",
                                ($(window).width() > 767 ? "50%" : "80%"),
                                container
                            );
                        }
                    }).dxSpeedDialAction("instance");
                    DevExpress.config({
                        floatingActionButtonConfig: {
                            icon: "rowfield",
                            label: "Tác vụ",
                            shading: true,
                            position: {
                                of: e.element,
                                my: "right bottom",
                                at: "right bottom",
                                offset: e.component.pageCount() > 1 ? "-15 -60" : "-15 -15"
                            }
                        }
                    });
                    DevExpress.ui.repaintFloatingActionButton();
                },
                onSelectionChanged: (e) => {
                    var containerE = e.component;
                    var selectedRowData = e.selectedRowsData[0];
                    var selectedRowKey = e.selectedRowKeys[0];
                    $selectionID = selectedRowKey;
                    if (selectedRowData != null && selectedRowKey != null) {
                        var data = e.component.getRowIndexByKey(selectedRowData.paId);
                        $("#action-update").dxSpeedDialAction({
                            index: 2, icon: "fas fa-edit",
                            label: selectedRowData.status < 11 ? "Cập nhật yêu cầu" : "Xem yêu cầu",
                            visible: PermitInAction["update"],
                            onClick: () => {
                                CALLPOPUP(
                                    "Chi tiết yêu cầu bảo hành",
                                    "/VanHanh/BaoHanh/_YeuCauDetail?id=" + selectedRowKey,
                                    ($(window).width() > 767 ? "50%" : "80%"),
                                    containerE
                                );
                            }
                        }).dxSpeedDialAction("instance");
                        $("#action-delete").dxSpeedDialAction({
                            index: 3,
                            icon: "fas fa-trash",
                            label: "Xoá",
                            visible: (selectedRowData.id != null && PermitInAction["delete"]),
                            onClick: () => {
                                DevExpress.ui.dialog.confirm("Bạn có chắc là muốn hủy bỏ giá trị của hạng mục?", "XÁC NHẬN THÔNG TIN").done(function (dialogResult) {
                                    if (dialogResult) {
                                        var deferred = $.Deferred();
                                        customStore(ItemID).store().remove(selectedRowKey).then(() => {
                                            DevExpress.ui.notify("Xoá thành công", "success", 3000);
                                            e.component.refresh();
                                        }, deferred.reject);
                                        return deferred.promise();
                                    }
                                });
                            }
                        }).dxSpeedDialAction("instance");
                        $("#action-log").dxSpeedDialAction({
                            index: 4,
                            visible: false,
                        }).dxSpeedDialAction("instance");
                        if (selectedRowData.status <= 20 && selectedRowData.status > 10) {
                            $("#action-log").dxSpeedDialAction({
                                index: 4,
                                icon: "fas fa-tools",
                                label: "Kế hoạch sửa chữa",
                                visible: selectedRowData.status <= 20 && selectedRowData.status > 10 && PermitInAction["update"],
                                onClick: () => {
                                    CALLPOPUP(
                                        "Kế hoạch sửa chữa",
                                        "/VanHanh/BaoHanh/_DefectFix?id=" + selectedRowKey,
                                        ($(window).width() > 767 ? "50%" : "80%"),
                                        containerE
                                    );
                                }
                            }).dxSpeedDialAction("instance");
                        }
                        else if (selectedRowData.status > 20) {
                            $("#action-log").dxSpeedDialAction({
                                index: 4,
                                icon: "fas fa-tools",
                                label: "Tiến độ sửa chữa",
                                visible: selectedRowData.status > 20 && PermitInAction["update"],
                                onClick: () => {
                                    CALLPOPUP(
                                        "Báo cáo sửa chữa",
                                        "/VanHanh/BaoHanh/_DefectFixReport?id=" + selectedRowKey,
                                        ($(window).width() > 767 ? "50%" : "80%"),
                                        containerE
                                    );
                                }
                            }).dxSpeedDialAction("instance");
                        }
                        clearContent();
                        loadDefect(selectedRowData);
                        if (selectedRowData.status < 20) {
                            //loadDefect(selectedRowData);
                        }
                        else if (selectedRowData.status < 29) {

                        }
                        else if (selectedRowData.status < 39) {

                        }
                        else if (selectedRowData.status > 200) {

                        }

                    }
                },
                onCellClick: function (e) {
                },
                columns: [
                    {
                        dataField: "realEstateId",
                        allowFiltering: true,
                        caption: "Căn hộ",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        editorType: "dxLookup",
                        lookup: {
                            dataSource: customStore_RealEstate,
                            valueExpr: "id",
                            displayExpr: "address",
                        },
                        editorOptions: {
                            dataSource: customStore_RealEstate,
                            valueExpr: "id",
                            displayExpr: "address",
                            placeholder: "Vui lòng chọn...",
                            searchExpr: ['address'],
                            searchEnabled: true,
                            searchMode: "contains",
                            showClearButton: true,
                            itemTemplate: function (data) {
                                return $("<div>").append($("<b>").append(data.address).addClass("mr-1"));
                            },
                        },
                    },// realEstateId
                    {
                        dataField: "fullName",
                        allowFiltering: true,
                        caption: "Họ tên khách hàng",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                    },// fullName
                    {
                        dataField: "phone",
                        allowFiltering: true,
                        caption: "Số điện thoại",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        validationRules: [{
                            type: "numeric"
                        }]
                    },// code
                    //{
                    //    dataField: "note",
                    //    allowFiltering: true,
                    //    caption: "Ghi chú",
                    //    dataType: "string",
                    //    alignment: "center",
                    //    visible: true,
                    //},// code
                    {
                        dataField: "noAttachment",
                        allowFiltering: true,
                        caption: "Căn hộ",
                        dataType: "string",
                        alignment: "center",
                        visible: false,
                    },// code
                    {
                        dataField: "status",
                        allowFiltering: true,
                        caption: "Trạng thái",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        lookup: {
                            dataSource: statusDefect,
                            valueExpr: "ID",
                            displayExpr: "Name",
                        },
                    },// code

                ],
                editing: {
                    //allowAdding: true,
                    //allowUpdating: true,
                    //allowDeleting: true,
                    mode: "batch",
                    useIcons: true,
                    confirmDelete: true,
                    popup: {
                        width: "50%",
                        height: "50%",
                        showTitle: true,
                        title: "kế hoạch công việc",
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },
                    form: {
                        labelLocation: "left",
                        itemType: "group",
                        colCount: 12,
                        showRequiredMark: true,
                        requiredMark: "(*)",
                        items: [
                            {
                                colSpan: 3,
                                dataField: "name",
                                label: { text: "Mã " },
                                editorOptions: {
                                    stylingMode: "filled",
                                    placeholder: "Vui lòng nhập...",
                                },
                            },
                        ],
                    },
                },
            });
        };
        var loadDefect = (content) => {
            $("#Defect").addClass("bg-blue");
            $("#Defect").removeClass("text-muted");
            $("#Defect-FeedBack-Logo").addClass("bg-blue");
            $("#Defect-FeedBack-Text").removeClass("text-muted");
            customStore_DefectFeedbackDetail(content.id).load().then((rs) => {
                var note = rs.filter(x => x.note !== '' && x.note !== null).map(x => x.note + (x.status >= 200 ? " - (Đã BH)" : "")).join("</p><p> - ");
                $("#Defect-FeedBack-Content").append("<p> - " + note + "</p>");
            });
            $("#Defect-FeedBack-Time").append(moment(content.createDate).locale("vi").fromNow());
            if (content.status < 11) {
                $("#Defect-Approve-Text").empty();
                $("#Defect-Approve-Text").append("Chờ xác nhận");
                $("#Defect-Approve-Text").addClass("text-muted");
            }
            if (content.status >= 11) {
                $("#Defect-Approve-Logo").addClass("bg-yellow");
                $("#Defect-Approve-Text").empty();
                $("#Defect-Approve-Text").append("Đã xác nhận");
                $("#Defect-Approve-Text").removeClass("text-muted");
            }
            if (content.status >= 20) {
                $("#Defect-Fix").addClass("bg-green");
                $("#Defect-Fix").removeClass("text-muted");
                $("#Defect-FixPlan-Logo").addClass("bg-green");
                $("#Defect-FixPlan-Text").removeClass("text-muted");
                $("#Defect-FixPlan-Text").empty();
                $("#Defect-FixPlan-Text").append("Đã lên kế hoách sửa chữa");

            }
            if (content.status >= 21) {
                $("#Defect-Fixing-Text").empty();
                $("#Defect-Fixing-Logo").addClass("bg-purple");
                $("#Defect-Fixing-Text").removeClass("text-muted");
                $("#Defect-Fixing-Text").append("Đang sửa chữa");
            }
            if (content.status >= 22) {
                $("#Defect-Fixing-Text").empty();
                $("#Defect-Fixing-Text").append("Đã hoàn tất sửa chữa");
            }
            if (content.status >= 30) {
                $("#Defect-Accept").addClass("bg-red");
                $("#Defect-Accept").removeClass("text-muted");
                $("#Defect-Accept-Logo").addClass("bg-red");
                $("#Defect-Accept-Text").removeClass("text-muted");
                $("#Defect-Accept-Text").empty();
                $("#Defect-Accept-Text").append("Chờ nghiệm thu");
            }
            if (content.status >= 200) {
                $("#Defect-Accept-Text").empty();
                $("#Defect-Accept-Text").append("Đã nghiệm thu");
            }
        }
        var loadDefectFix = (content) => {

        }
        var loadDefectComplete = (content) => {

        }
        function clearContent() {
            $("#Defect").removeClass("bg-blue");
            $("#Defect").addClass("text-muted");
            $("#Defect-FeedBack-Logo").removeClass("bg-blue");
            $("#Defect-FeedBack-Text").addClass("text-muted");
            $("#Defect-FeedBack-Content").empty();
            $("#Defect-FeedBack-Time").empty();
            $("#Defect-Approve-Logo").removeClass("bg-yellow");
            $("#Defect-Approve-Text").addClass("text-muted");

            $("#Defect-Approve-Time").empty();


            $("#Defect-Fix").removeClass("bg-green");
            $("#Defect-Fix").addClass("text-muted");
            $("#Defect-FixPlan-Logo").removeClass("bg-green");
            $("#Defect-FixPlan-Text").addClass("text-muted");
            $("#Defect-FixPlan-Time").empty();
            $("#Defect-Fixing-Logo").removeClass("bg-purple");
            $("#Defect-Fixing-Text").addClass("text-muted");
            $("#Defect-Fixing-Time").empty();


            $("#Defect-Accept").removeClass("bg-red");
            $("#Defect-Accept").addClass("text-muted");
            $("#Defect-Accept-Logo").removeClass("bg-red");
            $("#Defect-Accept-Text").addClass("text-muted");
            $("#Defect-Accept-Time").empty();
        }

    </script>
}
