@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{   }
<div id="popup-main-upload"></div>
<div id="popup-register"></div>
<div class="row">
    <div class="col-8">
        <div id="container" class="elevation-2"></div>
        <div id="container-detail" class="elevation-2"></div>
    </div>
    <div class="col-md-4">
        <!-- The time line -->
        <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-red">
                    Nhận Defect
                </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li id="Requet-Defect">
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
                    <span class="time" id="Requet-Defect-Time"><i class="fa fa-clock-o"></i> 12:05</span>
                    <h3 class="timeline-header" id="Requet-Defect-Time"><a href="#">Đã gửi yêu cầu Defect</a> </h3>
                    <div class="timeline-body">
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li id="Requet-Defect-Submit">
                <i class="fa fa-comments bg-yellow"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                    <h3 class="timeline-header"><a href="#">Xác nhận defect</a> Nội dung</h3>
                    <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                    </div>
                    <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-green">
                    Xử lý Defect
                </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-camera bg-purple"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                    <div class="timeline-body">
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-video-camera bg-maroon"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                    <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>
                    <div class="timeline-body">
                    </div>
                    <div class="timeline-footer">
                        <a href="#" class="btn btn-xs bg-maroon">See comments</a>
                    </div>
                </div>
            </li>
            <li class="time-label">
                <span class="bg-blue">
                    Nghiệm thu
                </span>
            </li>
        </ul>
    </div>
</div>

@section script{
    <script src="~/Scripts/page/vanhanh.js"></script>
    <script>
        var id = 1;
        ///-----------------------------READ ------------------------

        var ACTION_FEEDBACK = "DefectFeedback/";
        var ACTION_REALESTATE = "RealEstate/";
        var ACTION_DEFECTIVE = "Defective/";
        var ACTION_CUSTOMERINFO = "CustomerInfo/";
        var ACTION_FILESATTACHMENT = "FilesAttachment/";
        var ACTION_CONSTRUCTIONITEMS = "ConstructionItems/";
        var ACTION_DEFECTFIX = "DefectFix/";
        var ACTION_DEFECTACCEPTANCE = "DefectAcceptance/";
        var KEY = "id";
        var WIDTH_CONTAINER = $("#container").width();

        var ITEMSID = isNullOrEmpty(localStorage.getItem("ItemsIdCurrent")) ? 1 : parseInt(localStorage.getItem("ItemsIdCurrent"));
        //..........................Get data -------------------------------------------------------------

        var customStore = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_FEEDBACK, KEY),
            filter: ["constructionItemsId", "=", id]
        });
        var customStore_Detail = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_FEEDBACK, KEY),
            filter: ["id", "=", id]
        });

        var customStore_Attachment = (id, owner) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_FILESATTACHMENT, KEY),
            filter: [["ownerById", "=", id], "and", ["ownerByTable", "=", owner]]
        });
        var customStore_DefectFix = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_DEFECTFIX, KEY),
            filter: ["defectFeedbackId", "=", id]
        });

        var customStore_DefectAcceptance = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_DEFECTACCEPTANCE, KEY),
            filter: ["defectFixId", "=", id]
        });

        var customStore_Defective = $DATASOURCEGET(ACTION_DEFECTIVE, KEY);
        var customStore_RealEstate = $DATASOURCEGET(ACTION_REALESTATE, KEY);

        var customStore_CustomerInfo = $DATASOURCEGET(ACTION_CUSTOMERINFO, KEY);
        var customStore_ConstructionItems = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_CONSTRUCTIONITEMS, KEY),
            filter: ["parentId", "=", 0]
        });
        //..........................  Load View -------------------------------------------------------------
        $(function () {
            loadData(ITEMSID);
        });
        var loadData = (ItemID) => {
            $("#container").dxDataGrid({
                height: heightScreen,
                dataSource: customStore(ItemID),
                repaintChangesOnly: true,
                remoteOperations: true,
                scrolling: { mode: "standard" },
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                rowAlternationEnabled: true,
                filterRow: { visible: true },
                summary: {
                    groupItems: [{
                        column: "pmIsVisible",
                        summaryType: "count"
                    },
                    ]
                },
                paging: {
                    enabled: true,
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                searchPanel: {
                    highlightCaseSensitive: true,
                    highlightSearchText: true,
                    searchVisibleColumnsOnly: true,
                    visible: WIDTH_CONTAINER > 350
                },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "before",
                            widget: "dxSelectBox",
                            options: {
                                dataSource: customStore_ConstructionItems(0),
                                valueExpr: "id",
                                displayExpr: "title",
                                width: "100%",
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: false,
                                stylingMode: "filled",
                                value: ITEMSID,
                                onValueChanged: function (data) {
                                    ITEMSID = data.value;
                                    localStorage.setItem('ItemsIdCurrent', ITEMSID);
                                    loadData(ITEMSID);
                                },
                            },
                        },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh", tylingMode: "filled", type: "default",
                                onClick: () => container.refresh()
                            },

                        },

                    )
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                },
                onRowUpdating: (e) => {
                    console.log(e);
                    e.newData['isVisible'] = e.newData['pmIsVisible'];
                    e.newData['id'] = e.oldData['id'];
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 1)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                },
                onRowDblClick: function (e) {
                    var container = e.component;
                },
                selection: {
                    mode: "single"
                },
                onContentReady: (e) => {
                    var container = e.component;
                    $("#action-add").dxSpeedDialAction({
                        index: 1, icon: "fas fa-plus",
                        label: "Thêm mới",
                        visible: PermitInAction["insert"],
                        onClick: () => {
                            CALLPOPUP(
                                "Tạo công việc",
                                "/VanHanh/BaoHanh/_YeuCauCreate",
                                ($(window).width() > 767 ? "50%" : "80%"),
                                container
                            );
                        }
                    }).dxSpeedDialAction("instance");
                    DevExpress.config({
                        floatingActionButtonConfig: {
                            icon: "rowfield",
                            label: "Tác vụ",
                            shading: true,
                            position: {
                                of: e.element,
                                my: "right bottom",
                                at: "right bottom",
                                offset: e.component.pageCount() > 1 ? "-15 -60" : "-15 -15"
                            }
                        }
                    });
                    DevExpress.ui.repaintFloatingActionButton();
                },
                onSelectionChanged: (e) => {
                    var selectedRowData = e.selectedRowsData[0];
                    var selectedRowKey = e.selectedRowKeys[0];
                    //$('#action-log').remove();
                    //e.component.refresh();
                    if (selectedRowData != null && selectedRowKey != null) {
                        var data = e.component.getRowIndexByKey(selectedRowData.paId);
                        $("#action-update").dxSpeedDialAction({
                            index: 2, icon: "fas fa-edit",
                            label: "Cập nhật thông tin",
                            visible: PermitInAction["update"],
                            onClick: () => {
                                var containerE = e.component;
                                CALLPOPUP(
                                    "Chi tiết yêu cầu bảo hành",
                                    "/VanHanh/BaoHanh/_YeuCauDetail?id=" + selectedRowKey,
                                    ($(window).width() > 767 ? "50%" : "80%"),
                                    containerE
                                );
                            }
                        }).dxSpeedDialAction("instance");
                        $("#action-delete").dxSpeedDialAction({
                            index: 3,
                            icon: "fas fa-trash",
                            label: "Xoá",
                            visible: (selectedRowData.id != null && PermitInAction["delete"]),
                            onClick: () => {
                                DevExpress.ui.dialog.confirm("Bạn có chắc là muốn hủy bỏ giá trị của hạng mục?", "XÁC NHẬN THÔNG TIN").done(function (dialogResult) {
                                    if (dialogResult) {
                                        var deferred = $.Deferred();
                                        customStore.remove(selectedRowData.id).then(() => {
                                            DevExpress.ui.notify("Xoá thành công", "success", 3000);
                                            e.component.refresh();
                                        }, deferred.reject);
                                        return deferred.promise();
                                    }
                                });
                            }
                        }).dxSpeedDialAction("instance");
                        $("#action-log").dxSpeedDialAction({
                            index: 4,
                            visible: false,
                        }).dxSpeedDialAction("instance");
                        if (selectedRowData.status < 19 && selectedRowData.status > 10) {
                            $("#action-log").dxSpeedDialAction({
                                index: 4,
                                icon: "fas fa-tools",
                                label: "Kế hoạch sửa chữa",
                                visible: selectedRowData.status < 19 && selectedRowData.status > 10 && PermitInAction["update"],
                                onClick: () => {
                                    var containerE = e.component;
                                    CALLPOPUP(
                                        "Kế hoạch sửa chữa",
                                        "/VanHanh/BaoHanh/_DefectFix?id=" + selectedRowKey,
                                        ($(window).width() > 767 ? "50%" : "80%"),
                                        containerE
                                    );
                                }
                            }).dxSpeedDialAction("instance");
                        }
                        else if (selectedRowData.status > 30) {
                            $("#action-log").dxSpeedDialAction({
                                index: 4,
                                icon: "fas fa-tools",
                                label: "Kế hoạch sửa chữa",
                                visible: selectedRowData.status < 19 && selectedRowData.status > 10 && PermitInAction["update"],
                                onClick: () => {
                                    var containerE = e.component;
                                    CALLPOPUP(
                                        "Kế hoạch sửa chữa",
                                        "/VanHanh/BaoHanh/_DefectAcceptance?id=" + selectedRowKey,
                                        ($(window).width() > 767 ? "50%" : "80%"),
                                        containerE
                                    );
                                }
                            }).dxSpeedDialAction("instance");
                        }
                        if (selectedRowData.status < 19) {

                        }
                        else if (selectedRowData.status < 29) {

                        }
                        else if (selectedRowData.status < 39) {

                        }
                        else if (selectedRowData.status > 200) {

                        }

                    }
                },
                onCellClick: function (e) {

                    if (typeof e.column !== "undefined") {
                        if (e.column.dataField === "noAttachment") {
                            loadUpload("PlanMaster", e.row.data, false);
                        }
                    }
                },
                columns: [
                    {
                        dataField: "realEstateId",
                        allowFiltering: true,
                        caption: "Địa ốc",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        editorType: "dxLookup",
                        lookup: {
                            dataSource: customStore_RealEstate,
                            valueExpr: "id",
                            displayExpr: "code",
                        },
                        editorOptions: {
                            dataSource: customStore_RealEstate,
                            valueExpr: "id",
                            displayExpr: "code",
                            placeholder: "Vui lòng chọn...",
                            searchExpr: ['name', 'description'],
                            searchEnabled: true,
                            showClearButton: true,
                            itemTemplate: function (data) {
                                return $("<div>").append($("<b>").append(data.code).addClass("mr-1"));
                            },
                        },
                    },// realEstateId
                    {
                        dataField: "customerId",
                        allowFiltering: true,
                        caption: "khách hàng",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        editorType: "dxLookup",
                        lookup: {
                            dataSource: customStore_CustomerInfo,
                            valueExpr: "id",
                            displayExpr: "id",
                        },
                        editorOptions: {
                            dataSource: customStore_CustomerInfo,
                            valueExpr: "id",
                            displayExpr: "id",
                            placeholder: "Vui lòng chọn...",
                            searchExpr: ['name', 'description'],
                            searchEnabled: true,
                            showClearButton: true,
                            itemTemplate: function (data) {
                                return $("<div>").append($("<b>").append(data.id).addClass("mr-1"));
                            },
                        },
                    },// customerId
                    {
                        dataField: "fullName",
                        allowFiltering: true,
                        caption: "Họ tên khách hàng",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                    },// fullName
                    {
                        dataField: "defectiveId",
                        allowFiltering: true,
                        caption: "Lỗi",
                        dataType: "number",
                        alignment: "center",
                        visible: true,
                        editorType: "dxLookup",
                        lookup: {
                            dataSource: customStore_Defective,
                            valueExpr: "id",
                            displayExpr: "name",
                        },
                        editorOptions: {
                            dataSource: customStore_Defective,
                            valueExpr: "id",
                            displayExpr: "name",
                            placeholder: "Vui lòng chọn...",
                            searchExpr: ['name', 'description'],
                            searchEnabled: true,
                            showClearButton: true,
                            itemTemplate: function (data) {
                                return $("<div>").append($("<b>").append(data.name).addClass("mr-1").append($("<em>").append(data.code).addClass("small ml-1 text-muted")));
                            },
                        },
                    },// defectiveId
                    {
                        dataField: "phone",
                        allowFiltering: true,
                        caption: "Số điện thoại",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        validationRules: [{
                            type: "numeric"
                        }] 
                    },// code
                    {
                        dataField: "note",
                        allowFiltering: true,
                        caption: "Ghi chú",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                    },// code
                    {
                        dataField: "noAttachment",
                        allowFiltering: true,
                        caption: "Căn hộ",
                        dataType: "string",
                        alignment: "center",
                        visible: false,
                    },// code
                    {
                        dataField: "status",
                        allowFiltering: true,
                        caption: "Trạng thái",
                        dataType: "string",
                        alignment: "center",
                        visible: true,
                        lookup: {
                            dataSource: statusDefect,
                            valueExpr: "ID",
                            displayExpr: "Name",
                        },
                    },// code

                ],
                editing: {
                    //allowAdding: true,
                    //allowUpdating: true,
                    //allowDeleting: true,
                    mode: "batch",
                    useIcons: true,
                    confirmDelete: true,
                    popup: {
                        width: "50%",
                        height: "50%",
                        showTitle: true,
                        title: "kế hoạch công việc",
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },
                    form: {
                        labelLocation: "left",
                        itemType: "group",
                        colCount: 12,
                        showRequiredMark: true,
                        requiredMark: "(*)",
                        items: [
                            {
                                colSpan: 3,
                                dataField: "name",
                                label: { text: "Mã " },
                                editorOptions: {
                                    stylingMode: "filled",
                                    placeholder: "Vui lòng nhập...",
                                },
                            },
                        ],
                    },
                },
            });
        };
        var loadDefect = () => {

        }
        var loadDefectFix = () => {

        }
        var loadDefectComplete = () => {

        }
    </script>
}
