@{
    ViewBag.Title = "Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{   }
<div class="row">
    <div class="col-4">
        <div class="card card-warning">
            <div id="container-SysJob" class="elevation-2"></div>
        </div>
    </div>
    <div class="col-8">
        <div id="container" class="elevation-2 card-body">
            <form id="form-Report" action="#" method="POST" enctype="multipart/form-data">
            </form>
        </div>
    </div>
</div>
@section script{
    <script src="~/Scripts/page/vanhanh.js"></script>
    <script src="~/Scripts/page/VanHanh/BaoCao/BC_Index.js"></script>
}
