@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="popup-main-upload"></div>
<div id="popup-register"></div>
<div class="row">
    <div class="col-12">
        <div id="container" class="elevation-2"></div>
    </div>
</div>

@section script{
    <script src="~/Scripts/page/hethong.js"></script>
    <script>
        var ds_contractorinfo = new DevExpress.data.DataSource({
            store: new DevExpress.data.CustomStore({
                key: "id",
                loadMode: "raw",
                load: (values) => { values["take"] = 0; values["skip"] = 0; return ajax_read(ACTION_CONTRACTOR, values) },
                insert: (values) => ajax_insert(URL_API_PM_CMD + ACTION_CONTRACTOR, values),
                update: (key, values) => ajax_update(URL_API_PM_CMD + ACTION_CONTRACTOR, key, values),
                remove: (key) => ajax_delete(URL_API_PM_CMD + ACTION_CONTRACTOR, key),
            }),
        });
        var ds_account = new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => {
                let deferred = $.Deferred(), params = {};
                params = {
                    'PageSize': isNullOrEmpty(values.take) ? values.take : 0,
                    'PageNumber': (isNullOrEmpty(values.take) && isNullOrEmpty(values.skip)) ? ((values.skip / values.take) + 1) : 0,
                };
                if (values.sort) {
                    params['SortCol'] = values.sort[0].selector;
                    params['SortADSC'] = values.sort[0].desc;
                }
                $.ajax({
                    headers: header,
                    url: URL_API_ACC_READ + ACTION_ACCOUNT,
                    dataType: "json",
                    data: params,
                    success: function (data) {
                        deferred.resolve(
                            data.result.items,
                            {
                                totalCount: data.result.pagingInfo.totalItems,
                            }
                        );
                    },
                    error: function (xhr) {
                        console.log(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
                        deferred.reject("Đã có lỗi xảy ra trong quá trình này. Mở Console để xem chi tiết hoặc liên hệ Quản trị viên.");
                    },
                });
                return deferred.promise();
            },
            insert: (values) => ajax_insert(URL_API_ACC_CMD + ACTION_CMD_ACCOUNT, values),
            update: (key, values) => ajax_update(URL_API_ACC_CMD + ACTION_CMD_ACCOUNT, key, values),
            remove: (key) => ajax_delete(URL_API_ACC_CMD + ACTION_CMD_ACCOUNT, key),
        });
        var ds_account_info = new DevExpress.data.CustomStore({
            key: "id",
            load: (values) => {
                let deferred = $.Deferred(), params = {};

                params = {
                    'PageSize': isNullOrEmpty(values.take) ? values.take : 0,
                    'PageNumber': (isNullOrEmpty(values.take) && isNullOrEmpty(values.skip)) ? ((values.skip / values.take) + 1) : 0,
                };
                if (values.sort) {
                    params['SortCol'] = values.sort[0].selector;
                    params['SortADSC'] = values.sort[0].desc;
                }

                $.ajax({
                    headers: header,
                    url: URL_API_PM_READ + ACTION_ACCOUNT_INFO,
                    dataType: "json",
                    data: params,
                    success: function (data) {
                        deferred.resolve(
                            data.result.items,
                            {
                                totalCount: data.result.pagingInfo.totalItems,
                            }
                        );
                    },
                    error: function (xhr) {
                        console.log(xhr.responseJSON ? xhr.responseJSON.Message : xhr.statusText);
                        deferred.reject("Đã có lỗi xảy ra trong quá trình này. Mở Console để xem chi tiết hoặc liên hệ Quản trị viên.");
                    },
                });
                return deferred.promise();
            },
            insert: (values) => ajax_insert(URL_API_ACC_CMD + ACTION, values),
            update: (key, values) => ajax_update(URL_API_ACC_CMD + ACTION, key, values),
            remove: (key) => ajax_delete(URL_API_ACC_CMD + ACTION, key),
        });

        $(function () {
            loadData();
        });

        var loadData = () => $("#container").dxDataGrid({
            height: heightScreen,
            dataSource: ds_account,
            remoteOperations: true,
            repaintChangesOnly: true,
            showBorders: false, showColumnHeaders: true, showColumnLines: false, hoverStateEnabled: true,
            showRowLines: true, columnAutoWidth: true, wordWrapEnabled: false, rowAlternationEnabled: true,
            columns: [
                //{
                //    caption: "STT", width: 80, alignment: "center",
                //    allowEditting: false,
                //    cellTemplate: (c, o) => c.append(o.rowIndex + 1)
                //},
                {
                    dataField: "accountName",
                    caption: "Tài khoản",
                    dataType: "string", width: 200,
                    editorOptions: {
                        placeholder: "Vui lòng nhập...",
                        showClearButton: true
                    },
                    validationRules: [{ type: "required" }]
                },
                {
                    dataField: "id",
                    caption: "Thông tin người dùng",
                    dataType: "string", width: 300,
                    lookup: {
                        dataSource: ds_account_info,
                        valueExpr: "accountId",
                        displayExpr: (e) => {
                            var rs = "<div class='d-flex'>\
                                    <img class='img-circle elevation-2 img-size-30' \
                                    src='data:image/png;base64,"+ e.avatarImg + "' onerror='ImgError(this);'></img >\
                                    <div class='ml-2 text-left'>\
                                    <div class='font-weight-bold'>"+ (e.userName ?? "Chưa xác định") + "</div>\
                                    <em class='small'>"+ (e.title ?? "Chưa xác định") + " - Phòng " + (e.department ?? "Chưa xác định") + "</em>\
                                    </div><div>";
                            return rs;
                        }
                    },
                    cellTemplate: (c, o) => {
                        c.append((o.value != null) ? o.text : null)
                    }
                },
                {
                    dataField: "type",
                    caption: "Loại TK",
                    dataType:"number",
                    width: 130,
                    //groupIndex: 0,
                    lookup: {
                        dataSource: AccountType,
                        valueExpr: "ID",
                        displayExpr: "Name",
                    }
                },
                {
                    dataField: "password",
                    caption: "MK",
                    visible: false,
                },
                {
                    dataField: "userId",
                    caption: "Mã người dùng",
                    width: 50,
                    visible : false,
                },
                {
                    dataField: "isActive", caption: "Tình trạng",
                    width: 130, alignment: "center",
                    lookup: {
                        dataSource: listActiveStatus,
                        valueExpr: "value", displayExpr: "text",
                    },
                    editorType: "dxSwitch",
                    cellTemplate: (c, o) => {
                        $("<span />").addClass("badge badge-" + listActiveStatus.find(x => x.value == o.value).color).append(
                            $("<i />").addClass("mr-1 " + listActiveStatus.find(x => x.value == o.value).icon), o.text
                        ).appendTo(c);
                    }
                },
            ],
            paging: { enabled: true, pageSize: 10 },
            pager: { showInfo: true },
            searchPanel: {
                highlightCaseSensitive: true, highlightSearchText: true,
                visible: true, searchVisibleColumnsOnly: true
            },
            editing: {
                //allowAdding: true,
                //allowUpdating: true,
                //allowDeleting: true,
                mode: "popup",
                useIcons: true,
                confirmDelete: true,
                popup: {
                    width: 600, height: "auto",
                    showTitle: true, title: "Trình duyệt",
                    closeOnOutsideClick: false, showCloseButton: true,
                },
                form: {
                    labelLocation: "left",
                    itemType: "group",
                    colCount: 12,
                    showRequiredMark: true,
                    requiredMark: "(*)",
                    items: [
                        {
                            colSpan: 12,
                            dataField: "accountName",
                            label: { text: "Tên TK" },
                        },
                        {
                            colSpan: 12,
                            dataField: "type",
                            label: { text: "Loại TK" },
                            lookup: {
                                dataSource: AccountType,
                                valueExpr: "ID",
                                displayExpr: "Name",
                            },
                            editorOptions: {
                                dataSource: AccountType,
                                valueExpr: "ID",
                                displayExpr: "Name",
                                placeholder: "Vui lòng chọn...",
                            },
                            validationRules: [{ type: "required" }]
                        },

                        {
                            colSpan: 12,
                            dataField: "password",
                            label: { text: "Mật khẩu" },
                            editorOptions: {
                                mode: 'password',
                            }
                        },
                        {
                            colSpan: 12,
                            dataField: "userId",
                            label: { text: "Mã thông tin người dùng" },
                            editorType: "dxLookup",
                            editorOptions: {
                                dataSource: ds_contractorinfo,
                                valueExpr: "id",
                                displayExpr: "name",
                                placeholder: "Vui lòng chọn...",
                                searchEnabled: true,
                                showClearButton: true,
                                itemTemplate: function (data) {
                                    return $("<div>").append($("<b>").append(data.code).addClass("mr-1"), $("<em>").append(data.name));
                                },
                            },
                        },

                    ],
                },
            },
            onToolbarPreparing: function (e) {
                var container = e.component;
                e.toolbarOptions.items.unshift(
                    {
                        location: "after", widget: "dxButton",
                        options: {
                            icon: "refresh",
                            onClick: () => container.refresh()
                        }
                    });
            },
            selection: {
                mode: "single"
            },
            onContentReady: (e) => {
                var container = e.component;
                $("#action-add").dxSpeedDialAction({
                    index: 1, icon: "fas fa-plus",
                    label: "Thêm mới",
                    visible: PermitInAction["insert"],
                    onClick: () => {
                        container.addRow();
                    }
                }).dxSpeedDialAction("instance");

                DevExpress.config({
                    floatingActionButtonConfig: {
                        icon: "rowfield",
                        label: "Tác vụ",
                        shading: true,
                        position: {
                            of: e.element,
                            my: "right bottom",
                            at: "right bottom",
                            offset: e.component.pageCount() > 1 ? "-15 -60" : "-15 -15"
                        }
                    }
                });
                DevExpress.ui.repaintFloatingActionButton();
            },
            onSelectionChanged: (e) => {
                var selectedRowData = e.selectedRowsData[0];
                var selectedRowKey = e.selectedRowKeys[0];
                if (selectedRowData != null && selectedRowKey != null) {
                    var data = e.component.getRowIndexByKey(selectedRowKey);

                    $("#action-update").dxSpeedDialAction({
                        index: 2, icon: "fas fa-edit", label: "Cập nhật thông tin",
                        visible: PermitInAction["update"],
                        onClick: () => e.component.editRow(data)
                    }).dxSpeedDialAction("instance");

                    $("#action-delete").dxSpeedDialAction({
                        index: 3, icon: "fas fa-trash", label: "Xóa",
                        visible: PermitInAction["delete"],
                        onClick: (e) =>{
                            ds_account.store().remove(selectedRowData.id).then(() => {
                                DevExpress.ui.notify("Xoá thành công", "success", 3000);
                                e.component.refresh();
                            }, deferred.reject);
                        }
                    }).dxSpeedDialAction("instance");

                    $("#action-log").dxSpeedDialAction({
                        index: 4, icon: "fas fa-user", label: "Thêm nhà thầu",
                        onClick: () => {
                            callPopup(
                                "THÊM NHÀ THẦU",
                                "/Admin/SystemConfig/_ContractorInfoAdd",
                                ($(window).width() > 767 ? "50%" : "80%"),
                                e.component
                            );
                        }
                    }).dxSpeedDialAction("instance");
                }
            },
            onInitNewRow: (e) => {
                e.data.isActive = true;
                e.data.isVisible = true;
                e.data.status = 0;
            }
        });

        function callPopup(title, url, width, container) {
            var isFullscreen = false;
            if (width == "100%") isFullscreen = true;
            $("#popup-register").dxPopup({
                width: width,
                height: "100vh",
                fullScreen: isFullscreen,
                position: { my: 'top', at: 'top', of: window },
                dragEnabled: true,
                resizeEnabled: true,
                visible: true,
                showTitle: true,
                closeOnOutsideClick: false,
                showCloseButton: true,
                title: title,
                contentTemplate: function (container) {
                    var scrollView = $("<div id='scrollView'></div>");
                    var content = $("<div/>");
                    content.load(url);
                    scrollView.append(content);
                    scrollView.dxScrollView({
                        width: '100%',
                        height: '100%'
                    });
                    container.append(scrollView);
                    return container;
                },
                onHiding: function () {
                    container.refresh();
                },
                onHidden: function () {
                   
                }
            });
        }
    </script>
}

