@{
    ViewBag.Title = "KhieuNai";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var versionJS = System.Configuration.ConfigurationManager.AppSettings["webpages:VersionJS"];
}
@section style{   }
<div id="popup-main-upload"></div>
<div id="popup-register"></div>
<div class="row">
    <div class="col-8">
        <div class="card card-info">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">Khiếu nại</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" id="new-Complaint" onclick="newComplaint()">
                        <i class="fas fa-file"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div id="container" class="elevation-2 card-body">
                <form id="form-Complaint" action="#" method="POST" enctype="multipart/form-data">
                </form>
            </div>
        </div>
        <div class="card card-success">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">Nội dung giải quyết</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>
            </div>
            <div id="container-resolve" class="elevation-2 card-body">
                <form id="form-Resolve" action="#" method="POST" enctype="multipart/form-data">
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card card-warning">
            <div id="container-complaint" class="elevation-2"></div>
        </div>
    </div>
</div>
@section script{
    <script src="~/Scripts/page/vanhanh.js?v=@versionJS"></script>
    <script src="~/Scripts/page/VanHanh/KhieuNai/KN_Index.js?v=@versionJS"></script>
}

