@{
    ViewBag.Title = "KhieuNai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{   }
<div id="popup-main-upload"></div>
<div id="popup-register"></div>
<div class="row">
    <div class="col-8">
        <div class="card card-info">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">Khiếu nại</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" id="new-Complaint" onclick="newComplaint()">
                        <i class="fas fa-file"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div id="container" class="elevation-2 card-body">
                <form id="form-Complaint" action="#" method="POST" enctype="application/json">
                </form>
            </div>
        </div>
        <div class="card card-success">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">Nội dung giải quyết</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>
            </div>
            <div id="container-resolve" class="elevation-2 card-body">
                <form id="form-Resolve" action="#" method="POST" enctype="application/json">
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card card-warning">
            <div id="container-complaint" class="elevation-2"></div>
        </div>
    </div>
</div>
@section script{
    <script src="~/Scripts/page/vanhanh.js"></script>
    <script>
        var $selectionID = 0;
        ///--------------------------------- READ -------------------------------------
        var ACTION_COMPLAINT = "Complaint/";
        var ACTION_PROJECT = "Project/";
        var ACTION_CUSTOMERINFO = "CustomerInfo/";
        var ACTION_CONSTRUCTIONITEMS = "ConstructionItems/";
        var ACTION_CUSTOMERREALESTATE = "CustomerRealEstate/";
        var ACTION_COMPLAINTSTYPE = "ComplaintsType/";
        var ACTION_COMPLAINTRESOLVE = "ComplaintResolve/";
        var ACTION_COMPLAINTDETAIL = "ComplaintDetail/";
        var ACTION_REALESTATE = "RealEstate/";
        var KEY = "id";
        var WIDTH_CONTAINER = $("#container").width();
        ///----------------------------- Get Data --------------------------------------
        var customStore = () => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_COMPLAINT, KEY)
        });
        var customStore_ById = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_COMPLAINT, KEY),
            filter: ["id", "=", id]
        });
        var customStore_ComplaintResolve = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_COMPLAINTRESOLVE, KEY),
            filter: ["complaintId", "=", id]
        });
        var customStore_CustomerInfo = $DATASOURCEGET(ACTION_CUSTOMERINFO, KEY);
        var customStore_RealEstate = $DATASOURCEGET(ACTION_REALESTATE, KEY);
        var customStore_ComplaintsType = $DATASOURCEGET(ACTION_COMPLAINTSTYPE, KEY);
        var customStore_CustomerRealEstate = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCEGET(ACTION_CUSTOMERREALESTATE, KEY),
            filter: ["realEstateId", "=", id]
        });
        var customStore_ComplaintDetail = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_COMPLAINTDETAIL, KEY),
            filter: ["complaintId", "=", id]
        });
        var $constructionItemsId = 0;
        var formData = {
            //"code": "",
            //"barcode": "",
            "constructionItemsId": $constructionItemsId,
            "maintenanceSupplierInfoId": "",
            "maintenancerInfoId": "",
            "title": "",
            "cycle": 0,
            "priority": 0,
            "isRemind": "",
            "remindBy": "",
            "startDate": "",
            "endDate": "",
            "times": 0,
            "startTime": "",
            "endTime": "",
            "type": 0,
            "noAttachment": "",
            "status": 1,
        };
        var $defectFixId = 0;
        var fdata = new FormData();
        var $maintenanceSupplierInfoId = 0;
        var $dataSource = {};
        function newComplaint() {
            var dataGrid = $("#container-complaint").dxDataGrid("instance");
            $issetCP = false;
            $keyCP = 0;
            $issetRS = false;
            $keyRS = 0;
            dataGrid.clearSelection();
            loadData_Complaint(0);
            loadData_Resolve(0);
        }
        //..........................Function -------------------------------------------------------------
        $(function () {
            loadData();
            loadData_Complaint(0);
            loadData_Resolve(0);
        });
        var $issetCP = false;
        var $keyCP = 0;
        var $issetRS = false;
        var $keyRS = 0;
        var loadData_Complaint = (id) => {
            var $listDetail = [];
            customStore_ComplaintDetail(id).load().done((rsDetail) => {
                $listDetail = rsDetail.map(x => x.complaintsTypeId);
                customStore_ById(id).load().done((rs) => {
                    $issetCP = (rs.length > 0);
                    if ($issetCP) {
                        $keyCP = rs[0].id;
                    }
                    $("#form-Complaint").dxForm({
                        formData: rs[0],
                        //height: '35vh',
                        labelLocation: "top",
                        items: [
                            {
                                itemType: "group",
                                colCount: 12,
                                cssClass: "first-group",
                                items: [
                                    {
                                        colSpan: 4,
                                        dataField: "realEstateId",
                                        label: { text: "Căn hộ" },
                                        type: "string",
                                        editorType: "dxSelectBox",
                                        lookup: {
                                            dataSource: customStore_RealEstate,
                                            valueExpr: "id",
                                            displayExpr: "title",
                                        },
                                        editorOptions: {
                                            stylingMode: "filled",
                                            searchenabled: true,
                                            searchmode: "contains",
                                            searchexpr: ['title', 'descriptions'],
                                            showclearbutton: true,
                                            placeholder: "vui lòng chọn...",
                                            dataSource: customStore_RealEstate,
                                            //value: $constructionItemsId,
                                            valueExpr: "id",
                                            displayExpr: 'address',
                                            elementAttr: {
                                                id: "elementRealEstateId",
                                            },
                                            itemTemplate: function (data) {
                                                return $("<div>").append($("<b>").append(data.address).addClass("mr-1"), $("<em>"));
                                            },
                                            onValueChanged: function (data) {
                                                if (data.value != null) {
                                                    customStore_CustomerRealEstate(data.value).load().done((rs) => {
                                                        if (rs != null && rs.length > 0) {
                                                            $('#elementCustomerInfoId').dxSelectBox('instance')
                                                                .option('value', rs[0].id == null ? 0 : rs[0].customerInfoId);
                                                        }
                                                        else {
                                                            $('#elementCustomerInfoId').dxSelectBox('instance')
                                                                .option('value', null);
                                                        };
                                                    });
                                                }
                                                else {
                                                    $('#elementCustomerInfoId').dxSelectBox('instance')
                                                        .option('value', null);
                                                };
                                            },
                                        },
                                    },
                                    {
                                        colSpan: 4,
                                        dataField: "customerInfoId",
                                        label: { text: "Mã Khách hàng" },
                                        type: "string",
                                        editorType: "dxSelectBox",
                                        editorOptions: {
                                            stylingMode: "filled",
                                            searchEnabled: true,
                                            searchMode: "contains",
                                            searchExpr: ['name'],
                                            showClearButton: true,
                                            placeholder: "Vui lòng chọn...",
                                            dataSource: customStore_CustomerInfo,
                                            valueExpr: "id",
                                            displayExpr: "id",
                                            elementAttr: {
                                                id: "elementCustomerInfoId",
                                            },
                                            itemTemplate: function (data) {
                                                return $("<div>").append($("<b>").append(data.id).addClass("mr-1"), $("<em>").append(data.firstName ?? "" + " " + data.lastName ?? "").addClass("mr-1"));
                                            },
                                            onValueChanged: function (data) {
                                                if (data.value != null) {
                                                    customStore_CustomerInfo.load().done((rsCI) => {
                                                        var item = rsCI.filter(x => x.id == data.value).shift();
                                                        $('#elementFullName').dxTextBox('instance')
                                                            .option('value', item == null ? "" : (item.firstName ?? "" + " " + item.lastName ?? ""));
                                                        $('#elementPhone').dxTextBox('instance')
                                                            .option('value', item == null ? "" : (item.phone ?? ""));
                                                    });
                                                }
                                                else {
                                                    $('#elementFullName').dxTextBox('instance')
                                                        .option('value', null);
                                                    $('#elementPhone').dxTextBox('instance')
                                                        .option('value', null);
                                                };
                                            },
                                        },
                                    },
                                    {
                                        colSpan: 4,
                                        dataField: "compaintDate",
                                        label: { text: "Ngày khiếu nại" },
                                        type: "string",
                                        editorType: "dxDateBox",
                                        editorOptions: {
                                            value: new Date(), 
                                            type: "date",
                                            stylingMode: "filled",
                                            elementAttr: {
                                                id: "elementCompaintDate",
                                            },
                                        },
                                    },
                                    {
                                        colSpan: 6,
                                        dataField: "fullName",
                                        label: { text: "Họ tên" },
                                        type: "string",
                                        editorType: "dxTextBox",
                                        editorOptions: {
                                            stylingMode: "filled",
                                            elementAttr: {
                                                id: "elementFullName",
                                            },
                                        },
                                        validationRules: [{ type: "required" }],
                                    },
                                    {
                                        colSpan: 6,
                                        dataField: "phone",
                                        label: { text: "Số điện thoại" },
                                        type: "string",
                                        editorType: "dxTextBox",
                                        editorOptions: {
                                            stylingMode: "filled",
                                            elementAttr: {
                                                id: "elementPhone",
                                            },
                                        },
                                        validationRules: [{ type: "required" }],
                                    },
                                    {
                                        colSpan: 12,
                                        //dataField: "complaintTypeId",
                                        label: { text: "Vấn đề Khiếu nại" },
                                        editorType: "dxTagBox",
                                        editorOptions: {
                                            stylingMode: "filled",
                                            dataSource: customStore_ComplaintsType,
                                            searchEnabled: true,
                                            searchMode: "contains",
                                            showClearButton: true,
                                            valueExpr: "id",
                                            displayExpr: "title",
                                            value: $listDetail,
                                            elementAttr: {
                                                id: "elementComplaintTypeId",
                                            },
                                            onValueChanged: function (data) {
                                                if (!$keyCP) {
                                                    if (data.value != null) {
                                                        customStore_ComplaintsType.load().done((rs) => {
                                                            var item = rs.filter(x => data.value.includes(x.id) && x.resolveSuggest !== null).map(x => x.resolveSuggest).join('\n');
                                                           
                                                            $('#elementNoteResolve').dxTextArea('instance')
                                                                .option('value', item == null ? "" : (item));
                                                        });
                                                    }
                                                    else {
                                                        $('#elementNoteResolve').dxTextArea('instance')
                                                            .option('value', null);
                                                    };
                                                }
                                                else {
                                                    var oldAr = data.previousValue;
                                                    var newAr = data.value;
                                                    if (oldAr.length > newAr.length) {
                                                        oldAr.forEach(elOldAr => {
                                                            if (newAr.findIndex(elNewAr => elNewAr === elOldAr) < 0) {
                                                                var deferred = $.Deferred();
                                                                var $listDetail = rsDetail.filter(x => x.complaintsTypeId == elOldAr).shift().id;
                                                                if ($listDetail) {
                                                                    console.log($listDetail);
                                                                    customStore_ComplaintDetail(0).store().remove($listDetail).then(() => {
                                                                        DevExpress.ui.notify("Xoá thành công", "success", 3000);
                                                                    }, deferred.reject);
                                                                }
                                                                return deferred.promise();
                                                            }
                                                        });
                                                    }
                                                    else if (newAr.length > oldAr.length) {
                                                        newAr.forEach(elNewAr => {
                                                            if (oldAr.findIndex(elOldAr => elOldAr === elNewAr) < 0) {
                                                                var deferred = $.Deferred();
                                                                var fDataDetail = new FormData();
                                                                fDataDetail.append('complaintId', $keyCP);
                                                                fDataDetail.append('complaintsTypeId', elNewAr);
                                                                var object = {};
                                                                fDataDetail.forEach(function (value, key) {
                                                                    object[key] = value;
                                                                });
                                                                customStore_ComplaintDetail($keyCP).store().insert(object).done((rssbInsert) => {
                                                                    console.log(rssbInsert);
                                                                    if (rssbInsert.isOk) {
                                                                        deferred.resolve(rs);
                                                                        DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                                                                    }
                                                                    else {
                                                                        DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                                                                        deferred.resolve(false);
                                                                    }
                                                                }, deferred.reject);
                                                                return deferred.promise();
                                                            }
                                                        });
                                                    }
                                                }
                                            },
                                            itemTemplate: function (data) {
                                                return $("<div>").append($("<b>").append(data.title).addClass("mr-1"));
                                            },
                                            //itemTemplate: function (data) {
                                            //    return $("<div>").append($("<b>").append(data.title).addClass("mr-1").append($("<em>").append(data.description).addClass("small ml-1 text-muted")));
                                            //},
                                        },
                                        validationRules: [{ type: "required" }],
                                    },

                                ]
                            },
                            {
                                itemType: "group",
                                name: "button-action",
                                colCount: 12,
                                items: [
                                    {
                                        colSpan: 12,
                                        dataField: "note",
                                        label: { text: "Nội dung khiếu nại" },
                                        editorType: "dxTextArea",
                                        editorOptions: {
                                            stylingMode: "filled",
                                            height: 80,
                                        },
                                    },
                                ],
                            },
                            {
                                itemType: "group",
                                name: "button-action",
                                colCount: 12,
                                items: [
                                    {
                                        colSpan: 12,
                                        itemType: "button",

                                        horizontalAlignment: "center",
                                        buttonOptions: {
                                            text: !$issetCP ? "Gửi khiếu nại" : "Cập nhật",
                                            icon: "fa fa-save",
                                            type: "default",
                                            useSubmitBehavior: true,
                                            elementAttr: {
                                                id: "schedule",
                                            },
                                            editorOptions: {
                                                stylingMode: "contained",
                                                cssClass: "bg-info",
                                            }
                                        }
                                    },
                                ],
                            },
                        ],
                    }).dxForm("instance");
                    loadData_Resolve($keyCP);
                });
            });
        };
        $("#form-Complaint").on("submit", function (e) {
            e.preventDefault();
            var formdata = $('#form-Complaint').dxForm("instance").option('formData');
            var resValid = true
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.show();
                var deferred = $.Deferred();
                if (!$issetCP) {
                    formdata.status = 1;
                    customStore().store().insert(formdata).done((rs) => {
                        loadingPanel.hide();
                        $keyCP = rs.result.id;
                        loadData_Resolve($keyCP);
                        if (rs.isOk) {
                            deferred.resolve(rs);
                            var cptId = $('#elementComplaintTypeId').dxTagBox('instance').option('value');
                            //var myArr = JSON.parse(rs);
                            //console.log(myArr);
                            console.log(rs);
                            console.log(rs.result.id);
                            cptId.forEach(element => {
                                var object = {};
                                object['complaintId'] = rs.result.id;
                                object['complaintsTypeId'] = element;
                                customStore_ComplaintDetail(0).store().insert(object);
                            });
                            DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                        }
                        else {
                            DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                            deferred.resolve(false);
                        }
                    }, deferred.reject)
                }
                else if ($keyCP > 0) {
                    customStore().store().update($keyCP, formdata).done((rs) => {
                        deferred.resolve(rs);
                        loadingPanel.hide();
                        if (rs.isOk) {
                            deferred.resolve(rs);
                            DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                        }
                        else {
                            DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                        }
                    }, deferred.reject)
                }
                loadData();
                return deferred.promise();
            }
        });

        var loadData_Resolve = (id) => {
            customStore_ComplaintResolve(id).load().done((rs) => {
                $issetRS = (rs.length > 0);
                if ($issetRS) {
                    $keyRS = rs[0].id;
                }
                else {
                    //var cptId = $('#elementComplaintTypeId').dxTagBox('instance').option('value');
                    //customStore_ComplaintsType.load().done((rs) => {
                    //    var item = rs.filter(x => cptId.includes(x.id) && x.resolveSuggest !== null).map(x => x.resolveSuggest).join('\n');
                    //    $('#elementNoteResolve').dxTextArea('instance')
                    //        .option('value', item == null ? "" : (item));
                    //});
                }
                $("#form-Resolve").dxForm({
                    formData: rs[0],
                    //height: '20vh',
                    labelLocation: "top",
                    items: [
                        {
                            itemType: "group",
                            colCount: 12,
                            cssClass: "first-group",
                            items: [
                                {
                                    colSpan: 3,
                                    dataField: "complaintId",
                                    label: { text: "Mã KN" },
                                    editorType: "dxSelectBox",
                                    editorOptions: {
                                        dataSource: customStore(),
                                        stylingMode: "filled",
                                        //allowEditing: false,
                                        valueExpr: "id",
                                        readOnly: true,
                                        displayExpr: "code",
                                        value: id,
                                        elementAttr: {
                                            id: "elementComplaintId",
                                        },
                                    },
                                },
                                {
                                    colSpan: 3,
                                    dataField: "resolver",
                                    label: { text: "Người trả lời" },
                                    type: "string",
                                    editorType: "dxTextBox",
                                    editorOptions: {
                                        stylingMode: "filled",
                                    },
                                },
                                {
                                    colSpan: 3,
                                    dataField: "resolverPhone",
                                    label: { text: "Số điện thoại" },
                                    type: "string",
                                    editorOptions: {
                                        stylingMode: "filled",

                                    },
                                },
                                {
                                    colSpan: 3,
                                    dataField: "resolveDate",
                                    label: { text: "Ngày trả lời" },
                                    type: "string",
                                    editorType: "dxDateBox",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        elementAttr: {
                                            id: "elementResolveDate",
                                        },
                                    },
                                    //validationRules: [{ type: "required" }],
                                },
                            ]
                        },
                        {
                            itemType: "group",
                            name: "button-action",
                            colCount: 12,
                            items: [
                                {
                                    colSpan: 12,
                                    dataField: "note",
                                    label: { text: "Phương án giải quyết" },
                                    editorType: "dxTextArea",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        height: 100,
                                        elementAttr: {
                                            id: "elementNoteResolve",
                                        },
                                    },
                                },
                            ],
                        },
                        {
                            itemType: "group",
                            name: "button-action",
                            colCount: 12,
                            items: [
                                {
                                    colSpan: 6,
                                    itemType: "button",
                                    horizontalAlignment: "right",
                                    disabled: id == 0,
                                    buttonOptions: {
                                        text: "Đã trả lời",
                                        icon: "fa fa-check",
                                        type: "default",
                                        useSubmitBehavior: true,
                                        elementAttr: {
                                            id: "resolve",
                                        },
                                        editorOptions: {
                                            stylingMode: "contained",
                                            cssClass: "bg-info",
                                        }
                                    }
                                },
                                {
                                    colSpan: 6,
                                    itemType: "button",
                                    horizontalAlignment: "left",
                                    disabled: id == 0,
                                    buttonOptions: {
                                        text: "Hẹn hỗ trợ",
                                        icon: "fa fa-clipboard",
                                        type: "default",
                                        elementAttr: {
                                            id: "resolveDelay",
                                        },
                                        editorOptions: {
                                            stylingMode: "contained",
                                            cssClass: "bg-info",
                                        }
                                    }
                                },
                            ],
                        },
                    ],
                }).dxForm("instance");
            });
        };
        $("#form-Resolve").on("submit", function (e) {
            e.preventDefault();
            var formdata = $('#form-Resolve').dxForm("instance").option('formData');
            var resValid = true
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.show();
                var deferred = $.Deferred();
                //formdata.append('complaintId', $keyCP);
                formdata.complaintId = $keyCP;
                formdata.status = 200;
                if (!$issetRS) {
                    customStore_ComplaintResolve(0).store().insert(formdata).done((rs) => {
                        loadingPanel.hide();
                        if (rs.isOk) {
                            deferred.resolve(rs);
                            DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                        }
                        else {
                            DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                            deferred.resolve(false);
                        }
                    }, deferred.reject)
                }
                else if ($keyRS > 0) {
                    customStore_ComplaintResolve(0).store().update($keyRS, formdata).done((rs) => {
                        loadingPanel.hide();
                        if (rs.isOk) {
                            deferred.resolve(rs);
                            DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                        }
                        else {
                            DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                            deferred.resolve(false);
                        }
                    }, deferred.reject)
                }

                return deferred.promise();
            }
        });
        $(document).on('click', '#resolveDelay', '#form-Resolve', function (e) {
            e.preventDefault();
            var formdata = $('#form-Resolve').dxForm("instance").option('formData');
            var resValid = true
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.show();
                var deferred = $.Deferred();
                formdata.status = 101;
                formdata.complaintId = $keyCP;
                if (!$issetRS) {
                    customStore_ComplaintResolve(0).store().insert(formdata).done((rs) => {
                        loadingPanel.hide();
                        console.log(rs);
                        if (rs.isOk) {
                            deferred.resolve(rs);
                            DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                        }
                        else {
                            DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                            deferred.resolve(false);
                        }
                    }, deferred.reject)
                }
                else if ($keyRS > 0) {
                    customStore_ComplaintResolve(0).store().update($keyRS, formdata).done((rs) => {
                        loadingPanel.hide();
                        if (rs.isOk) {
                            deferred.resolve(rs);
                            DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                        }
                        else {
                            DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                            deferred.resolve(false);
                        }
                    }, deferred.reject)
                }

                return deferred.promise();
            }
        });
        var loadData = () => {
            $("#container-complaint").dxDataGrid({
                height: heightScreen,
                dataSource: customStore(),
                repaintChangesOnly: true,
                remoteOperations: true,
                scrolling: { mode: "standard" },
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                rowAlternationEnabled: true,
                filterRow: { visible: true },
                summary: {
                    groupItems: [{
                        column: "status",
                        summaryType: "count"
                    },
                    ]
                },
                paging: {
                    enabled: true,
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                searchPanel: {
                    highlightCaseSensitive: true,
                    highlightSearchText: true,
                    searchVisibleColumnsOnly: true,
                    visible: WIDTH_CONTAINER > 350
                },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "download",
                                stylingMode: "filled",
                                type: "default",
                                visible: true,
                                onClick: (e) => {
                                    console.log($selectionID);
                                    window.location.href = ('https://api-om-crud.tayho.com.vn/api/v1/Complaint/ReportComplaint?id=' + $selectionID);
                                }
                            },
                        },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh",
                                stylingMode: "filled",
                                type: "default",
                                onClick: () => container.refresh()
                            },

                        },

                    )
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                    e.data.constructionItemsId = CUNSTRITEMS;
                },
                onRowUpdating: (e) => {
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 1)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                },
                onRowDblClick: function (e) {
                    var container = e.component;
                },
                selection: {
                    mode: "single"
                },
                onContentReady: (e) => {
                    var container = e.component;
                },
                onSelectionChanged: (e) => {
                    var container = e.component;
                    var selectedRowData = e.selectedRowsData[0];
                    var selectedRowKey = e.selectedRowKeys[0];
                    $selectionID = selectedRowKey; 
                    loadData_Complaint(selectedRowKey);
                    //$('#elementComplaintId').dxTextBox('instance')
                    //    .option('value', selectedRowData == null ? "" : (selectedRowData.id));
                },
                columns: [
                    {
                        dataField: "realEstateId",
                        allowFiltering: true,
                        caption: "Mã KN",
                        dataType: "string",
                        alignment: "center",
                        readOnly: true,
                        allowEditing: false,
                        editorType: "dxLookup",
                        lookup: {
                            dataSource: customStore_RealEstate,
                            valueExpr: "id",
                            displayExpr: "address",
                        },
                        editorOptions: {
                            dataSource: customStore_RealEstate,
                            valueExpr: "id",
                            displayExpr: "address",
                            placeholder: "Vui lòng chọn...",
                            searchExpr: ['address'],
                            searchEnabled: true,
                            searchMode: "contains",
                            showClearButton: true,
                            itemTemplate: function (data) {
                                return $("<div>").append($("<b>").append(data.address).addClass("mr-1"));
                            },
                        },
                    },// barCode
                    {
                        dataField: "fullName",
                        allowFiltering: true,
                        caption: "Người KN",
                        dataType: "string",
                        alignment: "center",
                    },// address
                    //{
                    //    dataField: "complaintTypeId",
                    //    allowFiltering: true,
                    //    caption: "Vấn đề",
                    //    dataType: "string",
                    //    alignment: "center",
                    //    lookup: {
                    //        dataSource: customStore_ComplaintsType,
                    //        valueExpr: "id",
                    //        displayExpr: "title",
                    //    },
                    //},// address
                    {
                        dataField: "createDate",
                        allowFiltering: false,
                        caption: "Ngày KN",
                        dataType: "date",

                    },// address
                    {
                        dataField: "status",
                        allowFiltering: true,
                        caption: "Tình trang",
                        alignment: "center",
                        editorType: "dxSwitch",
                        groupIndex: 0,
                        showWhenGrouped: true,
                        lookup: {
                            dataSource: complaintStatus,
                            valueExpr: "value",
                            displayExpr: "text",
                        },
                        cellTemplate: (c, o) => {
                            $("<span />").addClass("badge badge-" + complaintStatus.find(x => x.value == o.value).color).append(
                                $("<i />").addClass("mr-1 " + complaintStatus.find(x => x.value == o.value).icon), o.text
                            ).appendTo(c);
                        }
                    },// Trạng thái
                ],
                editing: {
                    allowAdding: false,
                    allowUpdating: false,
                    allowDeleting: false,
                    mode: "rown",
                    useIcons: true,
                    confirmDelete: true,
                    popup: {
                        width: "30%",
                        height: "45%",
                        showTitle: true,
                        title: "Thêm căn hộ mới",
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },

                },
            });
        };
    </script>
}

