
@{
    ViewBag.Title = "QuyTrinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-12">
    <div id="container" class="elevation-2"></div>
</div>


@section script{
    <script src="~/Scripts/page/thongtin.js"></script>
    <script>
        var ACTION = "/OperationProcess";
        var ACTION_ACTIONS = "/StepsProcess";
        var ACTION_GROUPS = "/Groups";
        var ACTION_GROUPSSTEPPERMISTION = "/GroupStepProcessPermistion";
        var ACTION_PERMISTIONS = "/Permistions";
        var WIDTH_CONTAINER = $("#container").width();


        let customStore = () => {
            return new DevExpress.data.DataSource({
                store: new DevExpress.data.CustomStore({
                    key: "id",
                    load: (values) => ajax_read(ACTION, values),
                    insert: (values) => ajax_insert(URL_API_ACC_CMD + ACTION, values),
                    update: (key, values) => ajax_update(URL_API_ACC_CMD + ACTION, key, values),
                    remove: (key) => ajax_delete(URL_API_ACC_CMD + ACTION, key),
                }),
            })
        };
        let customStore_Permistions = new DevExpress.data.CustomStore({
            key: "id", loadMode: "raw",
            load: (values) => {
                var deferred = $.Deferred();
                $.ajax({
                    headers: header, dataType: "json",
                    url: URL_API_ACC_READ + ACTION_PERMISTIONS,
                    success: function (data) {
                        var list = data.result.items.filter(x => x.isActive == true && x.isVisible == true);

                        deferred.resolve(list);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Projects'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
        });
        let customStore_Groups = new DevExpress.data.CustomStore({
            key: "id", loadMode: "raw",
            load: (values) => {
                var deferred = $.Deferred();
                $.ajax({
                    headers: header, dataType: "json",
                    url: URL_API_ACC_READ + ACTION_GROUPS,
                    success: function (data) {
                        var list = data.result.items.filter(x => x.isActive == true && x.isVisible == true);

                        deferred.resolve(list);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Projects'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
        });
        let customStore_Actions = new DevExpress.data.CustomStore({
            key: "id", loadMode: "raw",
            load: (values) => {
                var deferred = $.Deferred();
                $.ajax({
                    headers: header, dataType: "json",
                    url: URL_API_ACC_READ + ACTION_ACTIONS,
                    success: function (data) {
                        var list = data.result.items.filter(x => x.isActive == true && x.isVisible == true);

                        deferred.resolve(list);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseJSON);
                        deferred.reject("Có lỗi xảy ra trong quá trình lấy danh sách 'Projects'. Mở Console để xem chi tiết.");
                    },
                    timeout: 10000
                });
                return deferred.promise();
            },
        });
       

        $(function () {
            loadData();
        });
        var loadData = () => {
            $("#container").dxDataGrid({
                height: heightScreen,
                dataSource: customStore(),
                repaintChangesOnly: true,
                remoteOperations: true,
                scrolling: { mode: "standard" },
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                rowAlternationEnabled: true,
                columns: [
                    {
                        dataField: "code",
                        dataType: "string",
                        caption: "Mã ",
                        width: 100,
                        //groupIndex: 0,
                        //lookup: {
                        //    dataSource: customStore_Groups,
                        //    valueExpr: "id", displayExpr: "title",
                        //},
                        //editorType: "dxSelectBox",
                        //editorOptions: {
                        //    dataSource: customStore_Groups,
                        //    valueExpr: "id", displayExpr: "title",
                        //    noDataText: "Không tìm thấy dữ liệu",
                        //    placeholder: "Vui lòng chọn...",
                        //    searchEnabled: true,
                        //    itemTemplate: function (data) {
                        //        return $("<div>").append($("<b>").append(data.title).addClass("mr-1"), $("<em>").append(data.descriptions));
                        //    },
                        //}
                    },
                    {
                        dataField: "title",
                        dataType: "string",
                        caption: "Tên quy trình",
                        width: 250,
                        //groupIndex: 1,
                        //lookup: {
                        //    dataSource: customStore_Actions,
                        //    valueExpr: "id", displayExpr: "title",
                        //},
                        //editorType: "dxSelectBox",
                        //editorOptions: {
                        //    dataSource: customStore_Actions,
                        //    valueExpr: "id", displayExpr: "title",
                        //    noDataText: "Không tìm thấy dữ liệu",
                        //    placeholder: "Vui lòng chọn...",
                        //    searchEnabled: true,
                        //    itemTemplate: function (data) {
                        //        return $("<div>").append($("<b>").append(data.title).addClass("mr-1"), $("<em>").append(data.descriptions));
                        //    },
                        //}
                    },
                    {
                        dataField: "description",
                        dataType: "string",
                        caption: "Mô tả ",
                        //width: 250,
                        //lookup: {
                        //    dataSource: customStore_Permistions,
                        //    valueExpr: "id", displayExpr: "title",
                        //},
                        //editorType: "dxSelectBox",
                        //editorOptions: {
                        //    dataSource: customStore_Permistions,
                        //    valueExpr: "id", displayExpr: "title",
                        //    noDataText: "Không tìm thấy dữ liệu",
                        //    placeholder: "Vui lòng chọn...",
                        //    searchEnabled: true,
                        //    itemTemplate: function (data) {
                        //        return $("<div>").append($("<b>").append(data.title).addClass("mr-1"), $("<em>").append(data.descriptions));
                        //    },
                        //}
                    },
                    {
                        dataField: "createBy",
                        width: 150,
                        caption: "Người tạo",
                        //dataType: "number",
                        allowEditing: false,
                        allowFiltering: true,
                        alignment: "canter",
                        editorType: "dxLookup",
                        lookup: {
                            dataSource: customStore_AccountInfo(2).store(),
                            valueExpr: "accountId",
                            displayExpr: "avatarImg",
                        },
                        editorOptions: {
                            dataSource: customStore_AccountInfo(2),
                            valueExpr: "accountId",
                            displayExpr: "userName",
                            placeholder: "Vui lòng chọn...",
                            searchExpr: ['accountName', 'userName'],
                            searchEnabled: true,
                            showClearButton: true,
                            itemTemplate: function (data) {
                                return $("<div>").append($("<b>").append(data.userName).addClass("mr-1"));
                            },
                        },
                        cellTemplate: (c, o) => {
                            $("<img />")
                                .attr('id', "popover-target-" + o.key)
                                .attr("src", "data:image/png;base64," + o.text)
                                .addClass("img-circle elevation-2 img-size-30")
                                .attr("onerror", "this.onerror=null;this.src='https://qlcv.tayho.com.vn/Content/user-avartar/avartar-default.jpg';")
                                .appendTo(c);
                            $("<div />")
                                .attr('id', "popover-detail-" + o.key)
                                .append("<div>( " + ' Đã tạo ' + moment(o.data.createDate).locale("vi").fromNow() + ")" + "</div>")
                                .appendTo(c);
                            $("#popover-detail-" + o.key).dxPopover({
                                target: "#popover-target-" + o.key,
                                showEvent: "mouseenter", hideEvent: "mouseleave",
                                position: "bottom",
                                animation: {
                                    show: { type: "pop", from: { scale: 0 }, to: { scale: 1 } },
                                    hide: { type: "fade", from: 1, to: 0 },
                                }
                            });
                        },
                    },//account
                    {
                        dataField: "isActive", width: 100,
                        editorType: "dxSwitch",
                    },
                    {
                        dataField: "isVisible", width: 100,
                        editorType: "dxSwitch",
                    },
                ],
                paging: { enabled: true, pageSize: 20 },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                searchPanel: {
                    highlightCaseSensitive: true,
                    highlightSearchText: true,
                    searchVisibleColumnsOnly: true,
                    visible: WIDTH_CONTAINER > 350
                },
                editing: {
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    mode: "popup",
                    useIcons: false, confirmDelete: true,
                },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "after", widget: "dxButton",
                            options: {
                                icon: "refresh", tylingMode: "filled", type: "default",
                                onClick: () => container.refresh()
                            }
                        })
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                },
                grouping: {
                    autoExpandAll: false
                },
                //onContentReady: (e) => {
                //    e.component.expandAll(0);
                //}
            });
        }
    </script>
}

