@model int
<form id="form-maintenancelog-detail">
</form>
<script>
    var formData = {
        "code": "",
        "barcode": "",
        "priority": "",
        "constructionItemsId": "",
        "maintenancerInfoId": "",
        "maintenanceSupplierInfoId": "",
        "maintenanceScheduleId": "",
        "maintaincerName": "",
        "maintaincerPhone": "",
        "note": "",
        "result": "",
        "resultType": "",
        "currentTimes": "",
        "times": "",
        "startTime": "",
        "endTime": "",
        "duration": "",
        "durationUnit": "",
        "durationUnitType": "",
        "type": "",
        "noAttachment": "",
        "status": ""
    };
    var $defectFixId = 0;
    var $id = @Model;
    var fdata = new FormData();
    var $keyMaintenanceLog = 0;
    $(function () {
        loadData_MaintenanceLog_Detail($id);
    });
    var loadData_MaintenanceLog_Detail = (id) => {
        customStore_MaintenanceLogFilter(id).load().done((rs) => {
            $issetML = (rs.length > 0);
            if ($issetML) {
                $keyMaintenanceLog = rs[0].id;
                $currentMaintenanceLogStatus = rs[0].status;
            }
            var formInstance = $("#form-maintenancelog-detail").dxForm({
                formData: rs[0],
                labelLocation: "top",
                items: [
                    {
                        itemType: "group",
                        colCount: 12,
                        items: [
                            {
                                colSpan: 4,
                                dataField: "constructionItemsId",
                                label: { text: "Hạng mục" },
                                editorType: "dxSelectBox",
                                type: "string",
                                //lookup: {
                                //    dataSource: customStore_ConstructionItems,
                                //    valueExpr: "id",
                                //    displayExpr: "title",
                                //},
                                editorOptions: {
                                    stylingMode: "filled",
                                    readOnly: true,
                                    placeholder: "Vui lòng chọn...",
                                    dataSource: customStore_ConstructionItems,
                                    value: $currentConstructionItemsId,
                                    valueExpr: "id",
                                    displayExpr: 'title',
                                    //elementAttr: {
                                    //    id: "elementwarehouseStorageId",
                                    //},
                                },
                                validationRules: [{ type: "required" }],
                            },
                            {
                                colSpan: 4,
                                dataField: "startTime",
                                label: { text: "Dự kiến bảo trì" },
                                editorType: "dxDateBox",
                                type: "datetime",
                                editorOptions: {

                                    stylingMode: "filled",
                                },
                                validationRules: [{ type: "required" }],
                            },
                            {
                                colSpan: 4,
                                dataField: "endTime",
                                label: { text: "Dự kiến hoàn thành" },
                                editorType: "dxDateBox",
                                type: "datetime",
                                editorOptions: {
                                    stylingMode: "filled",

                                },
                                validationRules: [{ type: "required" }],
                            },
                            {
                                colSpan: 4,
                                dataField: "maintenanceSupplierInfoId",
                                label: { text: "Đơn vị Bảo trì" },
                                type: "string",
                                editorType: "dxSelectBox",
                                editorOptions: {
                                    stylingMode: "filled",
                                    dataSource: customStore_MaintenanceSupplierInfo().store(),
                                    readOnly:true,
                                    value: $currentMaintenanceSupplierInfoId,
                                    valueExpr: "id",
                                    displayExpr: "name",
                                    elementAttr: {
                                        id: "elementMaintenanceSupplierInfoId",
                                    },
                                },
                                validationRules: [{ type: "required" }],
                            },
                            {
                                colSpan: 4,
                                dataField: "maintaincerName",
                                label: { text: "Nhân viên kỹ thuật" },
                                visible: true,
                                editorType: "dxTextBox",
                                editorOptions: {
                                    stylingMode: "filled",
                                    readOnly: true,
                                    elementAttr: {
                                        id: "elementMaintaincerName",
                                    },
                                },
                                validationRules: [{ type: "required" }],
                            },
                            {
                                colSpan: 4,
                                dataField: "maintaincerPhone",
                                label: { text: "Số ĐT Liên hệ" },
                                editorType: "dxTextBox",
                                editorOptions: {
                                    stylingMode: "filled",
                                    readOnly: true,
                                    elementAttr: {
                                        id: "elementMaintaincerPhone",
                                    },
                                },
                                validationRules: [{ type: "required" }],
                            },

                            {
                                colSpan: 12,
                                itemType: "button",
                                horizontalAlignment: "center",
                                buttonOptions: {
                                    text: $issetML?"Cập nhật lịch bảo trì":"Đặt lịch bảo trì",
                                    icon: "fa fa-save",
                                    type: "success",
                                    useSubmitBehavior: true,
                                    elementAttr: {
                                        id: "export",
                                    },
                                    editorOptions: {
                                        stylingMode: "filled",
                                    }
                                }
                            },
                        ]
                    },

                ],
            }).dxForm("instance");
            customStore_MaintenancerInfoById($currentMaintenancerInfoId).load().done((rs) => {
                var $item = rs[0];
                $('#elementMaintaincerName').dxTextBox('instance')
                    .option('value', $item == null ? "" : ($item.fullName));
                $('#elementMaintaincerPhone').dxTextBox('instance')
                    .option('value', $item == null ? "" : ($item.phone));
            });
            //$(document).on('click', '#export', function (e)
            $("#form-maintenancelog-detail").on("submit", function (e) {
                e.preventDefault();
                var formdata = $('#form-maintenancelog-detail').dxForm("instance").option('formData');
                var resValid = true
                if (!resValid) {
                    DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
                }
                else {
                    loadingPanel.show();
                    var deferred = $.Deferred();
                    formdata.status = 10;
                    formdata.times = $currentTimes;
                    formdata.maintenanceScheduleId = $id;
                    formdata.maintenancerInfoId = $currentMaintenancerInfoId;
                    if ($keyMaintenanceLog > 0) {
                        customStore_MaintenanceLog(0).store().update($keyMaintenanceLog, formdata).done((rs) => {
                            loadingPanel.hide();
                            if (rs.isOk) {
                                deferred.resolve(rs);
                                DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                                $("#container-maintenancelog").dxDataGrid('instance').refresh();
                                $("#popup-main").dxPopup('instance').hide();
                            }
                            else {
                                DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                                deferred.resolve(false);
                            }
                        }, deferred.reject)
                    }
                    else
                    {
                        customStore_MaintenanceLog(0).store().insert(formdata).done((rs) => {
                            loadingPanel.hide();
                            if (rs.isOk) {
                                deferred.resolve(rs);
                                DevExpress.ui.notify("Cập nhật thành công", "success", 3000);
                                $("#container-maintenancelog").dxDataGrid('instance').refresh();
                                $("#popup-main").dxPopup('instance').hide();
                            }
                            else {
                                DevExpress.ui.notify("Có lỗi xảy ra", "error", 3000);
                                deferred.resolve(false);
                            }
                        }, deferred.reject)
                    }
                    return deferred.promise();
                }
            });
        });
    }
   
</script>


