
@model int
<form id="form-DefectFix" action="#" method="POST" enctype="application/json">
</form>
<script>
    var formData = {
        "signCode": ""
        , "firstName": ""
        , "lastName": ""
        , "birthday": ""
        , "phone": ""
        , "email": ""
        , "idCard": ""
        , "isActive": ""
    };
    var $defectFixId = 0;
    var fdata = new FormData();
    var $model = @Model;
    $(document).ready(function () {
        customStore_DefectFix($model).load()
            .done((rs) => {
                $defectFixId = rs[0].id;
                rs.length == 0 ? null : $("#form-DefectFix").dxForm({
                    formData: rs[0],
                    labelLocation: "top",
                    items: [
                        {
                            itemType: "group",
                            colCount: 12,
                            items: [
                                {
                                    colSpan: 3,
                                    dataField: "firstName",
                                    label: { text: "Họ" },
                                    editorType: "dxTextBox",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        placeholder: "Vui lòng nhập...",
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 3,
                                    dataField: "lastName",
                                    label: { text: "Tên" },
                                    editorType: "dxDateBox",
                                    type: "datetime",
                                    editorOptions: {
                                        stylingMode: "filled",
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 3,
                                    dataField: "birthday",
                                    label: { text: "Ngày sinh" },
                                    editorType: "dxDateBox",
                                    type: "datetime",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        placeholder: "Vui lòng chọn...",
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                //{
                                //    colSpan: 6,
                                //    dataField: "fullName",
                                //    label: { text: "Họ tên khách hàng" },
                                //    editorType: "dxTextBox",
                                //    editorOptions: {
                                //        stylingMode: "filled",
                                //        placeholder: "Vui lòng nhập...",
                                //        value: formData["description"],
                                //    },
                                //},
                                {
                                    colSpan: 3,
                                    dataField: "phone",
                                    label: { text: "Số điện thoại" },
                                    editorType: "dxTextBox",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        placeholder: "Vui lòng nhập...",
                                    },
                                    validationRules: [{ type: "required" }],
                                },
                                {
                                    colSpan: 12,
                                    dataField: "email",
                                    label: { text: "Email" },
                                    editorType: "dxTextBox",
                                    editorOptions: {
                                        stylingMode: "filled",
                                        placeholder: "Vui lòng nhập...",
                                        value: formData["description"],
                                    },
                                },
                            ]
                        },
                        {
                            name: "order",
                            visible: true,
                            template: function (data, $itemElement) {
                                $("<div id='dataGrid'>")
                                    .appendTo($itemElement)
                                    .dxDataGrid({
                                        stylingMode: "filled",
                                        dataSource: customStore_Attachment(rs[0].id, "DefectFix"),
                                        columns: [
                                            {
                                                dataField: "displayName",
                                                caption: "Tên File ",
                                                dataType: "string",
                                            },
                                            {
                                                dataField: "createDate",
                                                caption: "Ngày tạo",
                                                dataType: "date",
                                            },
                                        ],
                                        editing: {
                                            allowAdding: false,
                                            allowDeleting: true,
                                            allowUpdating: false,
                                            mode: "row",
                                            useIcons: true,
                                            confirmDelete: true,
                                            popup: null,
                                        },
                                    });
                            }
                        },
                        {
                            itemType: "simple",
                            name: "Image",
                            editorType: 'dxGallery',
                            editorOptions: {
                                stylingMode: "filled",
                                dataSource: customStore_Attachment(rs[0].id, "DefectFix"),
                                height: 100,
                                width: 'auto',
                                slideshowDelay: 1500,
                                itemTemplate: function (data) {
                                    return $("<img />").attr({ "src": (data.host + data.url + "/" + data.fileName), onerror: ImgError(this), "style": "max-height: 200px; height : auto ;width : fit-content ;margin: auto;" });
                                },
                                onItemClick: function (value) {
                                }
                            },

                        },
                        {
                            colSpan: 12,
                            template: '<span class="dx-field-item-label-text font-bold">Các tập tin đính kèm</span><div class="file-uploader" id="file-uploader"></div>',
                        },
                        {
                            itemType: "group",
                            name: "button-action",
                            colCount: 12,
                            items: [
                                {
                                    colSpan: 6,
                                    itemType: "button",
                                    horizontalAlignment: "right",
                                    buttonOptions: {
                                        text: "Cập nhật kế hoạch",
                                        icon: "fa fa-save",
                                        type: "success",
                                        useSubmitBehavior: true,
                                        elementAttr: {
                                            id: "schedule",
                                        },
                                        editorOptions: {
                                            stylingMode: "filled",
                                        }
                                    }
                                },
                                {
                                    colSpan: 6,
                                    itemType: "button",
                                    horizontalAlignment: "left",
                                    buttonOptions: {
                                        text: "Hoàn thành",
                                        icon: "fas fa-check-circle",
                                        type: "default",
                                        useSubmitBehavior: true,
                                        elementAttr: {
                                            id: "finish",
                                        },
                                        editorOptions: {
                                            stylingMode: "filled",
                                        }
                                    }
                                }
                            ],
                        },
                    ],
                }).dxForm("instance")
            })
            .done((rs) => rs.length == 0 ? null : fileUploader());
    });
    $(document).ready(function () {
        $(document).on('click', '#schedule', function (e) {
            e.preventDefault();
            var formdata = $('#form-DefectFix').dxForm("instance").option('formData');
            var fileWrappers = fileUploader()._files;
            var resValid = true
            for (var i = 0; i < fileWrappers.length; i++) {
                if (fileWrappers[i].isValid() === false) {
                    resValid = false;
                }
            }
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.show();
                var fdata = new FormData();
                var i = 10;
                $.each(formdata, function (key, value) {
                    if (key === 'startDate' || key === 'endDate' || key === 'deadline' || key === 'fixedDate') {
                        fdata.append(key, moment(value).format('YYYY-MM-DD'));
                    }
                    else {
                        fdata.append(key, value);
                    }
                });
                fdata.append('key', $defectFixId);
                fdata.append('token', UserCurrentInfo.accessToken);
                var files = $("#file-uploader").dxFileUploader("instance").option("value");
                if (files.length > 0) {
                    $.each(files, function (key, value) {
                        fdata.append(files[key].name, files[key]);
                    });
                }
                for (var pair of fdata.entries()) {
                    console.log(pair[0] + ', ' + pair[1]);
                }
                var deferred = $.Deferred();
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/VanHanh/BaoHanh/DefectFixUpdate",
                    data: fdata,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (rs) {
                        deferred.resolve(true);
                        loadingPanel.hide();
                        DevExpress.ui.notify(rs.result, rs.status, 3000);
                        if (rs.status == "success") {
                            $("#popup-register").dxPopup('instance').hide();
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        loadingPanel.hide();
                        DevExpress.ui.notify("Có lỗi xảy ra: " + errorThrown, "error", 3000);
                    }
                });
                return deferred.promise();
            }
        });
    });
    var fileUploader = () => $("#file-uploader").dxFileUploader({
        selectButtonText: "Chọn tập tin...",
        labelText: "Hoặc kéo thả vào đây",
        showFileList: true,
        multiple: true,
        uploadMode: "useForm",
        accept: ".jpg,.jpeg,.gif,.png,.pdf",
        allowedFileExtensions: [".jpg", ".jpeg", ".png", ".pdf"],
        maxFileSize: 52428800,
    }).dxFileUploader("instance");
</script>

