@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{   }
<div id="popup-main-upload"></div>
<div id="popup-register"></div>
<div class="row">
    <div class="col-8">
        <div id="container" class="elevation-2"></div>
    </div>
    <div class="col-4">
        <div id="container-owner" class="elevation-2"></div>
    </div>
</div>

@section script{
    <script src="~/Scripts/page/vanhanh.js"></script>
    <script>
        var id = 1;
        ///-----------------------------READ ------------------------

        var ACTION_READ = "RealEstate/"; 
        var ACTION_CUSTOMERINFO = "CustomerInfo/";
        var ACTION_CUSTOMERREALESTATE = "CustomerRealEstate/";
        var KEY = "id";
        var WIDTH_CONTAINER = $("#container").width();
        //..........................Get data -------------------------------------------------------------

        let customStore = $DATASOURCE(ACTION_READ, KEY);
        let customStore_CustomerInfo = $DATASOURCEGET(ACTION_CUSTOMERINFO, KEY);
        let customStore_CustomerRealEstate  = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_CUSTOMERREALESTATE, KEY),
            filter: ["realEstateId", "=", id]
        });
        //..........................  Load View -------------------------------------------------------------
        $(function () {
            loadData();
        });
        let loadData = () => {
            $("#container").dxDataGrid({
                height: heightScreen,
                dataSource: customStore,
                repaintChangesOnly: true,
                remoteOperations: true,
                scrolling: { mode: "standard" },
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                rowAlternationEnabled: true,
                filterRow: { visible: true },
                summary: {
                    groupItems: [{
                        column: "pmIsVisible",
                        summaryType: "count"
                    },
                    ]
                },
                paging: {
                    enabled: true,
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                searchPanel: {
                    highlightCaseSensitive: true,
                    highlightSearchText: true,
                    searchVisibleColumnsOnly: true,
                    visible: WIDTH_CONTAINER > 350
                },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "before",
                            widget: "dxSelectBox",
                            options: {
                                dataSource: groupOwner,
                                valueExpr: "ID",
                                displayExpr: "Name",
                                width: "100%",
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: false,
                                stylingMode: "filled",
                                value: GROUPOWNERID,
                                onValueChanged: function (data) {
                                    GROUPOWNERID = data.value;
                                    localStorage.setItem('groupOwnerIdCurrent', GROUPOWNERID);
                                    loadData(GROUPOWNERID);
                                },
                            },
                        },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh", tylingMode: "filled", type: "default",
                                onClick: () => container.refresh()
                            },

                        },

                    )
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                },
                onRowUpdating: (e) => {
                    console.log(e);
                 
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 1)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                },
                onRowDblClick: function (e) {
                    var container = e.component;
                },
                selection: {
                    mode: "single"
                },
                onContentReady: (e) => {
                    var container = e.component;
                    //$("#action-add").dxSpeedDialAction({
                    //    index: 1, icon: "fas fa-plus",
                    //    label: "Thêm mới",
                    //    visible: PermitInAction["insert"],
                    //    onClick: () => {
                    //        CALLPOPUP(
                    //            "Tạo công việc",
                    //            "/ThongTin/QLCongViec/_CongViecDetail",
                    //            ($(window).width() > 767 ? "50%" : "80%"),
                    //            container
                    //        );
                    //    }
                    //}).dxSpeedDialAction("instance");
                    //DevExpress.config({
                    //    floatingActionButtonConfig: {
                    //        icon: "rowfield",
                    //        label: "Tác vụ",
                    //        shading: true,
                    //        position: {
                    //            of: e.element,
                    //            my: "right bottom",
                    //            at: "right bottom",
                    //            offset: e.component.pageCount() > 1 ? "-15 -60" : "-15 -15"
                    //        }
                    //    }
                    //});
                    //DevExpress.ui.repaintFloatingActionButton();
                },
                onSelectionChanged: (e) => {
                    var container = e.component;
                    console.log(container);
                    var selectedRowData = e.selectedRowsData[0];
                    var selectedRowKey = e.selectedRowKeys[0];
                    loadData_CustomerInfo(selectedRowKey);
                    if (selectedRowData != null && selectedRowKey != null) {
                        var data = e.component.getRowIndexByKey(selectedRowKey);
                        //$("#action-update").dxSpeedDialAction({
                        //    index: 2, icon: "fas fa-edit", label: "Cập nhật thông tin",
                        //    visible: PermitInAction["update"],
                        //    onClick: () => e.component.editRow(data)
                        //}).dxSpeedDialAction("instance");

                        //$("#action-delete").dxSpeedDialAction({
                        //    index: 3, icon: "fas fa-trash", label: "Xóa",
                        //    visible: PermitInAction["delete"],
                        //    onClick: (e) => e.component.deleteRow(data)
                        //}).dxSpeedDialAction("instance");
                        //$("#action-log").dxSpeedDialAction({
                        //    index: 4, icon: "fas fa-user", label: "Thêm nhà thầu",
                        //    onClick: () => {
                        //        callPopup(
                        //            "THÊM NHÀ THẦU",
                        //            "/Admin/SystemConfig/_ContractorInfoAdd",
                        //            ($(window).width() > 767 ? "50%" : "80%"),
                        //            e.component
                        //        );
                        //    }
                        //}).dxSpeedDialAction("instance");
                    }
                },
                //onCellClick: function (e) {

                //    if (typeof e.column !== "undefined") {
                //        if (e.column.dataField === "noAttachment") {
                //            loadUpload("PlanMaster", e.row.data, false);
                //        }
                //    }

                //},
                columns: [
                    {
                        dataField: "code",
                        allowFiltering: true,
                        caption: "Mã căn hộ",
                        dataType: "string",
                        alignment: "center",
                    },// barCode
                    {
                        dataField: "address",
                        allowFiltering: true,
                        caption: "Số nhà",
                        dataType: "string",
                        alignment: "center",
                    },// address
                    {
                        dataField: "street",
                        allowFiltering: true,
                        caption: "Đường",
                        dataType: "string",
                        alignment: "center",
                    },// address
                    {
                        dataField: "ward",
                        allowFiltering: true,
                        caption: "Phố/Phường",
                        dataType: "string",
                        alignment: "center",
                    },// address
                    {
                        dataField: "district",
                        allowFiltering: true,
                        caption: "Quận/Huyện",
                        dataType: "string",
                        alignment: "center",
                    },// address
                    {
                        dataField: "city",
                        allowFiltering: true,
                        caption: "Tỉnh/Thành",
                        dataType: "string",
                        alignment: "center",
                    },// address
                    {
                        dataField: "country",
                        allowFiltering: true,
                        caption: "Quốc gia",
                        dataType: "string",
                        alignment: "center",
                    },// address
                    {
                        dataField: "isActive",
                        allowFiltering: true,
                        caption: "Trạng thái",
                        alignment: "center",
                        editorType: "dxSwitch",
                        lookup: {
                            dataSource: listActiveStatus,
                            valueExpr: "value", displayExpr: "text",
                        },
                        cellTemplate: (c, o) => {
                            $("<span />").addClass("badge badge-" + listActiveStatus.find(x => x.value == o.value).color).append(
                                $("<i />").addClass("mr-1 " + listActiveStatus.find(x => x.value == o.value).icon), o.text
                            ).appendTo(c);
                        }
                    },// Trạng thái
                ],
                editing: {
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    mode: "rown",
                    useIcons: true,
                    confirmDelete: true,
                    popup: {
                        width: "30%",
                        height: "45%",
                        showTitle: true,
                        title: "Thêm căn hộ mới",
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },
                    form: {
                        labelLocation: "left",
                        itemType: "group",
                        colCount: 12,
                        showRequiredMark: true,
                        requiredMark: "(*)",
                        items: [
                            {
                                colSpan: 12,
                                dataField: "code",
                                label: { text: "Mã cắn hộ" },
                                editorOptions: {
                                    stylingMode: "filled",
                                    placeholder: "Vui lòng nhập...",
                                },
                            },
                            {
                                colSpan: 12,
                                dataField: "address",
                                label: { text: "Địa chỉ" },
                                editorOptions: {
                                    stylingMode: "filled",
                                    placeholder: "Vui lòng nhập...",
                                },
                            },
                            {
                                colSpan: 12,
                                dataField: "isActive",
                                label: { text: "Trạng thái" },
                                editorType: "dxSwitch",
                                editorOptions: {
                                    dataSource: listActiveStatus,
                                    valueExpr: "value",
                                    displayExpr: "text",
                                },
                            },
                        ],
                    },
                },
            });
        };
        var loadData_CustomerInfo = (id) => {
            $("#container-owner").dxDataGrid({
                height: heightScreen,
                dataSource: customStore_CustomerRealEstate(id),
                remoteOperations: true,
                scrolling: { mode: "standard" },
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                paging: {
                    enabled: true,
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                searchPanel: {
                    //searchVisibleColumnsOnly: true,
                    visible: WIDTH_CONTAINER > 350
                },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh", tylingMode: "filled", type: "default",
                                onClick: () => container.refresh()
                            },

                        },

                    )
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                    e.data.realEstateId = id;
                },
                onRowUpdating: (e) => {
                    console.log(e);
                    e.newData['isVisible'] = e.newData['pmIsVisible'];
                    e.newData['id'] = e.oldData['id'];
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 1)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                },
                onRowDblClick: function (e) {
                    var container = e.component;
                },
                selection: {
                    mode: "single"
                },
                onCellClick: function (e) {
                },
                columns: [
                    {
                        dataField: "customerInfoId",
                        allowFiltering: true,
                        allowEdit: false,
                        caption: "Chủ hộ",
                        dataType: "string",
                        alignment: "center",
                        lookup: {
                            dataSource: customStore_CustomerInfo,
                            valueExpr: "id",
                            displayExpr: "firstName",
                        },
                    },// SignCode
                ],
                editing: {
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    mode: "batch",
                    useIcons: true,
                    confirmDelete: true,
                    popup: {
                        width: "50%",
                        height: "50%",
                        showTitle: true,
                        title: "kế hoạch công việc",
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },
                    form: {
                        labelLocation: "left",
                        itemType: "group",
                        colCount: 12,
                        showRequiredMark: true,
                        requiredMark: "(*)",
                        items: [
                            {
                                colSpan: 3,
                                dataField: "name",
                                label: { text: "Mã " },
                                editorOptions: {
                                    stylingMode: "filled",
                                    placeholder: "Vui lòng nhập...",
                                },
                            },
                        ],
                    },
                },
            });
        };

    </script>
}
