@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{   }
<div id="popup-main-upload"></div>
<div id="popup-register"></div>
<div class="row">
    <div class="col-4">
        <div id="container" class="elevation-2"></div>
    </div>
    <div class="col-4">
        <div id="container-defect" class="elevation-2"></div>
    </div>
    <div class="col-4">
        <div id="container-maintenance" class="elevation-2"></div>
    </div>
</div>

@section script{
    <script src="~/Scripts/page/vanhanh.js"></script>
    <script>
        var id = 1;
        ///-----------------------------READ ------------------------

        var ACTION_ITEMS = "ConstructionItems/";
        var ACTION_DEFECTIVE = "Defective/";
        var KEY = "id";
        var WIDTH_CONTAINER = $("#container").width() ;
        //..........................Get data -------------------------------------------------------------

        var customStore = $DATASOURCE(ACTION_ITEMS, KEY);
        var customStore_Defect =(id)=> new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_DEFECTIVE, KEY),
            filter: ["constructionItemsId", "=", id]
        });
        var customStore_Check = $DATASOURCE(ACTION_ITEMS, KEY);

        //..........................  Load View -------------------------------------------------------------
        $(function () {
            loadData();
        });
        var loadData = () => $("#container").dxTreeList({
            dataSource: customStore,
            remoteOperations: true,
            height: heightScreen,
            rootValue: 0, parentIdExpr: "parentId", keyExpr: "id",
            showBorders: false,
            showColumnHeaders: false,
            showColumnLines: false,
            hoverStateEnabled: true,
            showRowLines: true,
            columnAutoWidth: true,
            wordWrapEnabled: true,
            rowAlternationEnabled: true,
            autoExpandAll: false,
            searchPanel: {
                //highlightCaseSensitive: true,
                //highlightSearchText: true,
                searchVisibleColumnsOnly: true,
                visible: true
            },
            paging: { enabled: false },
            onToolbarPreparing: function (e) {
                var container = e.component;
                e.toolbarOptions.items.unshift(
                    {
                        location: "before", widget: "dxButton",
                        options: {
                            icon: "refresh", type: "default",
                            onClick: () => container.refresh()
                        }
                    })
            },
            onSelectionChanged: (e) => {
                var $id = e.selectedRowKeys[0];
                loadData_Defective($id);
            },
            selection: {
                mode: "single"
            },
            columns: [
               
                {
                    dataField: "title",
                    dataType: "string",
                    cellTemplate: (c, o) => {
                        var rs = "<div class='d-flex'>\
                                    <i style='margin: auto 0;' class='fa "+ o.data.icon + "' />\
                                    <div class='ml-2 text-left'><b>"+ o.value + "</b>\
                                    <em class='small ml-1 text-muted'>"+ o.data.descriptions + "</em></div><div>";
                        c.append(rs);
                    }
                },
                {
                    dataField: "code",
                    allowFiltering: true,
                    caption: "Mã hạng muc",
                    dataType: "string",
                    alignment: "center",
                    visible: false,
                },// code
                {
                    dataField: "icon",
                    allowFiltering: true,
                    caption: "Biểu tượng",
                    dataType: "string",
                    alignment: "center",
                    visible: false,
                    lookup: {
                        dataSource: listIcon,
                        valueExpr: "value",
                        //displayExpr: (e) => {
                        //    var rs = "<div class='d-flex' >\<a><i class='fa " + e.text + "'></i></a>" + e.text +"</div>";
                        //    return rs;
                        //},
                        displayExpr:"text",
                    },
                    cellTemplate: (c, o) => {
                        c.append((o.value != null) ? o.text : null)
                    },
                    editorType: "dxSelectBox",
                    editorOptions: {
                        placeholder: "Vui lòng chọn...",
                        itemTemplate: function (e) {
                            var rs = "<div class=''><i class= 'fa " + e.value + "'></i> " + e.value + "</div>";
                            return rs
                        },
                        //fieldTemplate: (e, c) => {
                        //    var rs = "<div class='d-flex' >\<a><i class='fa " + e.text + "'></i></a>" + e.text + "</div>";
                        //    c.append(rs);
                        //},
                    },
                },// icon
                {
                    dataField: "descriptions",
                    allowFiltering: true,
                    caption: "Mô tả",
                    dataType: "string",
                    alignment: "center",
                    visible: false,
                },// descriptions
                {
                    dataField: "isActive",
                    allowFiltering: true,
                    caption: "Trạng thái",
                    dataType: "string",
                    alignment: "center",
                    visible: false,
                },// isActive
                {
                    dataField: "priority",
                    visible: false,
                    caption: "Ưu tiên",
                    sortOrder: "asc"
                },
            ],
            editing: {
                allowAdding: true,
                allowUpdating: true,
                allowDeleting: true,
                mode: "popup",
                useIcons: true,
                confirmDelete: true,
                popup: {
                    width: "30%",
                    height: "45%",
                    showTitle: true,
                    title: "Thêm hạng mục vận hành",
                    closeOnOutsideClick: false,
                    showCloseButton: true,
                },
                form: {
                    labelLocation: "left",
                    itemType: "group",
                    colCount: 12,
                    showRequiredMark: true,
                    requiredMark: "(*)",
                    items: [
                        {
                            colSpan: 12,
                            dataField: "code",
                            label: { text: "Mã hạng mục" },
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                            },
                        },
                        {
                            colSpan: 12,
                            dataField: "icon",
                            label: { text: "Biểu tượng" },
                          
                        },
                        {
                            colSpan: 12,
                            dataField: "title",
                            label: { text: "Tiêu đề" },
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                            },
                        },
                        {
                            colSpan: 12,
                            dataField: "descriptions",
                            label: { text: "Mô tả" },
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                            },
                        },
                        {
                            colSpan: 12,
                            dataField: "isActive",
                            label: { text: "Trạng thái" },
                            editorType: "dxSwitch",
                            editorOptions: {
                                dataSource: listActiveStatus,
                                valueExpr: "value",
                                displayExpr: "text",
                            },
                        },
                    ],
                },
            },
        });
        var loadData_Defective = (id) => {
            $("#container-defect").dxDataGrid({
                height: heightScreen,
                dataSource: customStore_Defect(id),
                remoteOperations: true,
                scrolling: { mode: "standard" },
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                paging: {
                    enabled: true,
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                searchPanel: {
                    //searchVisibleColumnsOnly: true,
                    visible: WIDTH_CONTAINER > 350
                },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh", tylingMode: "filled", type: "default",
                                onClick: () => container.refresh()
                            },

                        },

                    )
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                    e.data.constructionItemsId = id;
                },
                onRowUpdating: (e) => {
                    console.log(e);
                    e.newData['isVisible'] = e.newData['pmIsVisible'];
                    e.newData['id'] = e.oldData['id'];
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 1)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                },
                onRowDblClick: function (e) {
                    var container = e.component;
                },
                selection: {
                    mode: "single"
                },
                onCellClick: function (e) {
                },
                columns: [
                    {
                        dataField: "code",
                        allowFiltering: true,
                        allowEdit: false,
                        caption: "Mã lỗi",
                        dataType: "string",
                        alignment: "center",
                    },// SignCode
                    {
                        dataField: "constructionItemsId",
                        allowFiltering: true,
                        visible : false,
                        caption: "Hạng mục",
                        dataType: "string",
                        alignment: "center",
                    },// firstName
                    {
                        dataField: "name",
                        allowFiltering: true,
                        caption: "Lỗi",
                        dataType: "string",
                        alignment: "center",
                    },// LastName
                  
                    {
                        dataField: "description",
                        allowFiltering: true,
                        caption: "Mô tả lỗi",
                        dataType: "string",
                        alignment: "center",
                    },// phone
                    {
                        dataField: "type",
                        allowFiltering: true,
                        caption: "Loại lỗi",
                        dataType: "number",
                        alignment: "center",
                    },// birthday
                    {
                        dataField: "isActive",
                        allowFiltering: true,
                        caption: "Trạng thái",
                        alignment: "center",
                        editorType: "dxSwitch",
                        lookup: {
                            dataSource: listActiveStatus,
                            valueExpr: "value", displayExpr: "text",
                        },
                        cellTemplate: (c, o) => {
                            $("<span />").addClass("badge badge-" + listActiveStatus.find(x => x.value == o.value).color).append(
                                $("<i />").addClass("mr-1 " + listActiveStatus.find(x => x.value == o.value).icon), o.text
                            ).appendTo(c);
                        }
                    },// Trạng thái
                ],
                editing: {
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    mode: "batch",
                    useIcons: true,
                    confirmDelete: true,
                    popup: {
                        width: "50%",
                        height: "50%",
                        showTitle: true,
                        title: "kế hoạch công việc",
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },
                    form: {
                        labelLocation: "left",
                        itemType: "group",
                        colCount: 12,
                        showRequiredMark: true,
                        requiredMark: "(*)",
                        items: [
                            {
                                colSpan: 3,
                                dataField: "name",
                                label: { text: "Mã " },
                                editorOptions: {
                                    stylingMode: "filled",
                                    placeholder: "Vui lòng nhập...",
                                },
                            },
                        ],
                    },
                },
            });};

    </script>
}
