@model int
@{ 
        var versionJS = System.Configuration.ConfigurationManager.AppSettings["webpages:VersionJS"];
}
<form id="form-HandOverItem" class="elevation-2">
</form>
<script>
    var $model = @Model;
</script>
<script src="~/Scripts/page/VanHanh/BanGiao/BG_HOItemCreate.js?v=@versionJS"></script>



