@{
    var versionJS = System.Configuration.ConfigurationManager.AppSettings["webpages:VersionJS"];
}
<div class="row">
    <div class="col-12">
        <div id="form-HandOverItem" class="elevation-2"></div>
    </div>
</div>
<script src="~/Scripts/page/VanHanh/BanGiao/BG_HRItemCreate.js?v=@versionJS"></script>
