@model int
@{
    var versionJS = System.Configuration.ConfigurationManager.AppSettings["webpages:VersionJS"];
}
<div class="row">
    <div class="col-12">
        <div id="container_popup" class="elevation-2"></div>
    </div>
</div>
<script src="~/Scripts/page/VanHanh/KhoBai/KB_NhatKyKho.js?v=@versionJS"></script>
<script>
        var $id =  @Model;
</script>

