@model int
@{
    var versionJS = System.Configuration.ConfigurationManager.AppSettings["webpages:VersionJS"];
}
<form id="form-warehousereleased-verify">
</form>
<div id="container-warehousereleaseddetail-verify" class="elevation-2"></div>
<form id="form-warehousereleaseddetail-verify">
</form>
<script>
    var $model = @Model;
</script>
<script src="~/Scripts/page/VanHanh/KhoBai/KB_XuatNhapDetail.js?v=@versionJS"></script>




