@model Tuple<int, bool>
<form id="form-WarehouseGoodsLog">
</form>
<script>
    var formData = {
        "warehouseStorageId": "",
        "categoryGoodsId": "",
        "quantity": "",
        "code": "",
        "barcode": "",
        "title": "",
        "description": "",
        "checkInDate": "",
        "checkOutDate": "",
        "checkInBy": "",
        "checkOutBy": "",
        "isInOrOut": "",
        "priority": "",
        "sender": "",
        "receiver": "",
        "phoneContact":""
    };
    var $defectFixId = 0;
    var fdata = new FormData();
    var $model = @Model.Item1;
    var $isIn = @Model.Item2.ToString().ToLower();
    $(document).ready(function () {
        var formInstance = $("#form-WarehouseGoodsLog").dxForm({
            formData: formData,
            labelLocation: "top",
            items: [
                {
                    itemType: "group",
                    colCount: 12,
                    items: [
                        {
                            colSpan: 4,
                            dataField: "warehouseStorageId",
                            label: { text: "Kho" },
                            editorType: "dxSelectBox",
                            type: "string",
                            lookup: {
                                dataSource: customStore_WarehouseStorage(WarehouseStorageID),
                                valueExpr: "id",
                                displayExpr: "title",
                            },
                            editorOptions: {
                                stylingMode: "filled",
                                searchEnabled: true,
                                searchMode: "contains",
                                searchExpr: ['title', 'description'],
                                showClearButton: true,
                                placeholder: "Vui lòng chọn...",
                                dataSource: customStore_WarehouseStorage(WarehouseStorageID),
                                value: $model,
                                valueExpr: "id",
                                displayExpr: 'title',
                                elementAttr: {
                                    id: "elementwarehouseStorageId",
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 4,
                            dataField: "categoryGoodsId",
                            label: { text: "Loại hàng" },
                            type: "string",
                            editorType: "dxSelectBox",
                            lookup: {
                                dataSource: customStore_CategoryGoods,
                                valueExpr: "id",
                                displayExpr: "title",
                            },
                            editorOptions: {
                                stylingMode: "filled",
                                searchEnabled: true,
                                searchMode: "contains",
                                searchExpr: ['title', 'description'],
                                showClearButton: true,
                                placeholder: "Vui lòng chọn...",
                                dataSource: customStore_CategoryGoods,
                                valueExpr: "id",
                                displayExpr: 'title',
                                elementAttr: {
                                    id: "elementcategoryGoodsId",
                                },
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 4,
                            dataField: "quantity",
                            label: { text: "Số lượng" },
                            editorType: "dxNumberBox",
                            type: "number",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập số lượng...",
                            },
                            validationRules: [{
                                type: "required",
                            },
                            {
                                type: "async",
                                message: "Email is already registered",
                                validationCallback: function (params) {
                                    var $categoryGoodsId = $('#elementcategoryGoodsId').dxSelectBox("instance").option('value');
                                    console.log($categoryGoodsId);
                                    var d = $.Deferred();
                                    customStore($model).load().done((rs) => {
                                        console.log(rs);
                                        var quantity = rs.find(x => x.id == $categoryGoodsId).quantity;
                                        console.log(quantity);
                                        d.resolve(quantity > params.value );
                                    });
                                   
                                    return d.promise();;
                                    //return !(params.value > checkInventory($quantity));
                                }
                            }],
                        },
                        {
                            colSpan: 4,
                            dataField: "checkInBy",
                            label: { text: "Mã người gửi" },
                            editorType: "dxSelectBox",
                            type: "string",
                            visible: $isIn ? true : false,
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng chọn...",
                            },
                        },
                        {
                            colSpan: 4,
                            dataField: "sender",
                            label: { text: "Người gửi" },
                            editorType: "dxTextBox",
                            visible: $isIn ? true : false,
                            type: "string",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập số lượng...",
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 4,
                            dataField: "checkOutBy",
                            label: { text: "Mã người nhận" },
                            editorType: "dxSelectBox",
                            visible: !$isIn ? true : false,
                            type: "string",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng chọn...",
                            },

                        },
                        {
                            colSpan: 4,
                            dataField: "receiver",
                            label: { text: "Người nhận" },
                            editorType: "dxTextBox",
                            type: "string",
                            visible: !$isIn ? true : false,
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập số lượng...",
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 4,
                            dataField: "phoneContact",
                            label: { text: "Số ĐT Liên Lạc" },
                            editorType: "dxTextBox",
                            type: "string",
                            visible: true,
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập số lượng...",
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 12,
                            dataField: "description",
                            label: { text: "Ghi chú" },
                            editorType: "dxTextBox",
                            editorOptions: {
                                stylingMode: "filled",
                                placeholder: "Vui lòng nhập...",
                            },
                            validationRules: [{ type: "required" }],
                        },
                        {
                            colSpan: 12,
                            itemType: "button",
                            horizontalAlignment: "center",
                            buttonOptions: {
                                text: $isIn ? "Nhập kho" : "Xuất kho",
                                icon: "fa fa-save",
                                type: "success",
                                useSubmitBehavior: true,
                                elementAttr: {
                                    id: "export",
                                },
                                editorOptions: {
                                    stylingMode: "filled",
                                }
                            }
                        },
                    ]
                },

            ],
        }).dxForm("instance");
        $(document).on('click', '#export', function (e) {
            e.preventDefault();
            var formdata = $('#form-WarehouseGoodsLog').dxForm("instance").option('formData');
            var resValid = true
            if (!resValid) {
                DevExpress.ui.notify("Vui lòng kiểm tra lại file đính kèm!", "error", 3000);
            }
            else {
                loadingPanel.show();
                var fdata = new FormData();
                var i = 10;
                $.each(formdata, function (key, value) {
                    if (key === 'startDate' || key === 'endDate' || key === 'deadline' || key === 'fixedDate') {
                        fdata.append(key, moment(value).format('YYYY-MM-DD'));
                    }
                    else {
                        fdata.append(key, value);
                    }
                });
                fdata.set("warehouseStorageId", $model);
                fdata.set("isInOrOut", $isIn);
                fdata.append('key', $defectFixId);
                fdata.append('token', UserCurrentInfo.accessToken);

                var deferred = $.Deferred();
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/VanHanh/KhoBai/XuatNhapCreate",
                    data: fdata,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (rs) {
                        deferred.resolve(true);
                        loadingPanel.hide();
                        DevExpress.ui.notify(rs.result, rs.status, 3000);
                        if (rs.status == "success") {
                            $("#popup-register").dxPopup('instance').hide();
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        loadingPanel.hide();
                        DevExpress.ui.notify("Có lỗi xảy ra: " + errorThrown, "error", 3000);
                    }
                });
                return deferred.promise();
            }
        });
    });
    var fileUploader = () => $("#file-uploader").dxFileUploader({
        selectButtonText: "Chọn tập tin...",
        labelText: "Hoặc kéo thả vào đây",
        showFileList: true,
        multiple: true,
        uploadMode: "useForm",
        accept: ".jpg,.jpeg,.gif,.png,.pdf",
        allowedFileExtensions: [".jpg", ".jpeg", ".png", ".pdf"],
        maxFileSize: 52428800,
    }).dxFileUploader("instance");
</script>


