@{
    ViewBag.Title = "XuatNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var versionJS = System.Configuration.ConfigurationManager.AppSettings["webpages:VersionJS"];
}
@section style{   }
<div id="popup-main"></div>
<div id="popup-main-upload"></div>
<div id="popup-register"></div>
<div id="popup-acceptence"></div>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div id="container" class="elevation-2"></div>
    </div>
    <div class="col-md-8 col-sm-12">
        <div id="container-detail" class="elevation-2"></div>
    </div>
    @*<div class="col-md-4 col-sm-12">
            <div id="container-goods" class="elevation-2"></div>
        </div>*@
</div>
 
@section script{
    <script src="~/Scripts/page/vanhanh.js?v=@versionJS"></script>
    <script src="~/Scripts/page/VanHanh/KhoBai/KB_XuatNhap.js?v=@versionJS"></script>
}

