
@{
    ViewBag.Title = "XuatNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{   }
<div id="popup-main"></div>
<div id="popup-main-upload"></div>
<div id="popup-register"></div>
<div id="popup-acceptence"></div>
<div class="row">
    <div class="col-4">
        <div id="container" class="elevation-2"></div>
    </div>
    <div class="col-8">
        <div id="container-detail" class="elevation-2"></div>
    </div>
</div>

@section script{
    <script src="~/Scripts/page/vanhanh.js"></script>
    <script>
        var id = 1;
        ///-----------------------------READ ------------------------

        var ACTION_WAREHOUSEALLGOODS = "WareHouseAllGoods/";
        var ACTION_CONSTRUCTIONITEMS = "ConstructionItems/";
        var ACTION_REALESTATE = "RealEstate/";
        var ACTION_WAREHOUSESTORAGE = "WarehouseStorage/";
        var ACTION_CATEGORYUNIT = "CategoryUnit/";
        var KEY = "id";
        var WIDTH_CONTAINER = $("#container").width();
        var WareHouseID = isNullOrEmpty(localStorage.getItem("WareHouseCurrent")) ? parseInt(localStorage.getItem("WareHouseCurrent")) : 14;
        var WarehouseStorageID = isNullOrEmpty(localStorage.getItem("WarehouseStorageCurrent")) ? parseInt(localStorage.getItem("WarehouseStorageCurrent")) : 14;
        var $WareHouseID = 0;
        var $realEstateId = 0;
        //..........................Get data -------------------------------------------------------------

        var customStore = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCEGET(ACTION_WAREHOUSEALLGOODS, KEY),
            filter: ["id", "=", id]
        });
        var customStore_Detail = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_FEEDBACK, KEY),
            filter: ["id", "=", id]
        });
        var customStore_WareHouse = new DevExpress.data.DataSource({
            store: $DATASOURCEGET(ACTION_CONSTRUCTIONITEMS, KEY),
            filter: [["parentId", "=", 0], "and", ["status", "=", 201]]
        });
        var customStore_WarehouseStorage = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCE(ACTION_WAREHOUSESTORAGE, KEY),
            filter: ["realEstateId", "=", id]
        });
        var customStore_RealEstate = (id) => new DevExpress.data.DataSource({
            store: $DATASOURCEGET(ACTION_REALESTATE, KEY),
            filter: [["ConstructionItemsId", "=", id]]
        });
        var customStore_CategoryUnit = $DATASOURCEGET(ACTION_CATEGORYUNIT, KEY);

        //..........................  Load View -------------------------------------------------------------
        $(function () {
            loadData();
        });
        var loadData = () => {
            if (WarehouseStorageID === null) {
                WarehouseStorageID = isNullOrEmpty(localStorage.getItem("WarehouseStorageCurrent")) ? parseInt(localStorage.getItem("WarehouseStorageCurrent")) : 14;
            };
            $("#container").dxTreeList({
                dataSource: customStore_WarehouseStorage(WarehouseStorageID),
                remoteOperations: true,
                height: heightScreen,
                rootValue: 0,
                parentIdExpr: "parentId",
                keyExpr: "id",
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                rowAlternationEnabled: true,
                autoExpandAll: false,
                searchPanel: {
                    visible: false,
                },
                paging: { enabled: false },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "before",
                            widget: "dxSelectBox",
                            options: {
                                dataSource: customStore_WareHouse,
                                valueExpr: "id",
                                displayExpr: "title",
                                width: "150",
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: false,
                                stylingMode: "filled",
                                value: WareHouseID,
                                onValueChanged: function (data) {
                                    console.log(WareHouseID);
                                    WareHouseID = data.value;
                                    console.log(WareHouseID);
                                    localStorage.setItem('WareHouseCurrent', data.value);
                                },
                            },
                        },
                        {
                            location: "before",
                            widget: "dxSelectBox",
                            options: {
                                dataSource: customStore_RealEstate(WareHouseID),
                                valueExpr: "id",
                                displayExpr: "address",
                                width: "150",
                                searchEnabled: true,
                                searchMode: "contains",
                                showClearButton: false,
                                stylingMode: "filled",
                                value: WarehouseStorageID,
                                onValueChanged: function (data) {
                                    WarehouseStorageID = data.value;
                                    localStorage.setItem('WarehouseStorageCurrent', data.value);
                                    loadData();
                                },
                            },
                        },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh",
                                type: "default",
                                onClick: () => container.refresh()
                            }
                        })
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                    e.data.realEstateId = id;
                },
                onContentReady: (e) => {
                    var container = e.component;
                    DevExpress.config({
                        floatingActionButtonConfig: {
                            icon: "rowfield",
                            label: "Tác vụ",
                            shading: true,
                            position: {
                                of: e.element,
                                my: "right bottom",
                                at: "right bottom",
                                offset: e.component.pageCount() > 1 ? "-15 -60" : "-15 -15"
                            }
                        }
                    });
                    DevExpress.ui.repaintFloatingActionButton();
                },
                onSelectionChanged: (e) => {
                    var $id = e.selectedRowKeys[0];
                    var selectedRowData = e.selectedRowsData[0];
                    var selectedRowKey = e.selectedRowKeys[0];
                    console.log(selectedRowData);
                    if (selectedRowData != null && selectedRowKey != null) {
                        var data = e.component.getRowIndexByKey(selectedRowData.paId);
                        $("#action-update").dxSpeedDialAction({
                            index: 2, icon: "fas fa-file-import",
                            label: "Nhập kho",
                            visible: PermitInAction["update"],
                            onClick: () => {
                                var containerE = e.component;
                                CALLPOPUP(
                                    "Phiếu nhập kho",
                                    "/VanHanh/KhoBai/_XuatNhapCreate?id=" + selectedRowKey+"&isIn=false",
                                    ($(window).width() > 767 ? "50%" : "80%"),
                                    containerE
                                );
                            }
                        }).dxSpeedDialAction("instance");
                        $("#action-delete").dxSpeedDialAction({
                            index: 3,
                            icon: "fas fa-file-export",
                            label: "Xuất kho",
                            visible: (selectedRowData.id != null && PermitInAction["delete"]),
                            onClick: () => {
                                var containerE = e.component;
                                CALLPOPUP(
                                    "Phiếu xuất kho",
                                    "/VanHanh/KhoBai/_XuatNhapCreate?id=" + selectedRowKey + "&isIn=true",
                                    ($(window).width() > 767 ? "50%" : "80%"),
                                    containerE
                                );
                            }
                        }).dxSpeedDialAction("instance");
                        $("#action-log").dxSpeedDialAction({
                            index: 4,
                            icon: "fas fa-shipping-fast",
                            label: "Nhật ký xuất nhập",
                            visible: PermitInAction["view"],
                            onClick: () => {
                                var containerE = e.component;
                                CALLPOPUP(
                                    "Báo cáo sửa chữa",
                                    "/VanHanh/KhoBai/_NhatKyKho?id=" + selectedRowKey,
                                    ($(window).width() > 767 ? "50%" : "80%"),
                                    containerE
                                );
                            }
                        }).dxSpeedDialAction("instance");
                    }
                    loadData_Detail($id);
                },
                selection: {
                    mode: "single"
                },
                columns: [
                    {
                        dataField: "code",
                        allowFiltering: true,
                        caption: "Mã",
                        width: "250",
                        dataType: "string",
                        alignment: "center",
                        readOnly: true,
                        allowEditing: false,
                    },// code
                    {
                        dataField: "title",
                        dataType: "string",
                        alignment: "left",
                        caption: "Tên",
                    },
                ],
                editing: {
                    allowAdding: false,
                    allowUpdating: false,
                    allowDeleting: false,
                    mode: "popup",
                    useIcons: true,
                    confirmDelete: true,
                    popup: {
                        width: "60%",
                        height: "60%",
                        showTitle: true,
                        title: "Thêm hạng mục vận hành",
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },
                    form: {
                        labelLocation: "left",
                        itemType: "group",
                        colCount: 12,
                        showRequiredMark: true,
                        requiredMark: "(*)",
                        items: [
                            {
                                colSpan: 4,
                                dataField: "title",
                                label: { text: "Tên" },
                                editorOptions: {
                                    stylingMode: "filled",
                                    placeholder: "Vui lòng nhập...",
                                },
                                validationRules: [{ type: "required" }],
                            },
                        ],
                    },
                },
            })
        };
        var loadData_Detail = (ItemID) => {
            $("#container-detail").dxDataGrid({
                height: heightScreen,
                dataSource: customStore(ItemID),
                repaintChangesOnly: true,
                remoteOperations: true,
                scrolling: { mode: "standard" },
                showBorders: false,
                showColumnHeaders: true,
                showColumnLines: false,
                hoverStateEnabled: true,
                showRowLines: true,
                columnAutoWidth: true,
                wordWrapEnabled: true,
                rowAlternationEnabled: true,
                filterRow: { visible: true },
                summary: {
                    groupItems: [{
                        column: "pmIsVisible",
                        summaryType: "count"
                    },
                    ]
                },
                paging: {
                    enabled: true,
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 40],
                    showInfo: true,
                },
                searchPanel: {
                    highlightCaseSensitive: true,
                    highlightSearchText: true,
                    searchVisibleColumnsOnly: true,
                    visible: WIDTH_CONTAINER > 350
                },
                onToolbarPreparing: function (e) {
                    var container = e.component;
                    e.toolbarOptions.items.unshift(
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "decreaseindent",
                                tylingMode: "filled",
                                type: "default",
                                onClick: () => {
                                }
                            }
                        },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "increaseindent",
                                tylingMode: "filled",
                                type: "default",
                                onClick: () => {
                                }
                            }
                        },

                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh",
                                tylingMode: "filled",
                                type: "default",
                                onClick: () => container.refresh()
                            },

                        },

                    )
                },
                onInitNewRow: (e) => {
                    e.data.isActive = true;
                    e.data.isVisible = true;
                },
                onRowUpdating: (e) => {
                    console.log(e);
                    e.newData['isVisible'] = e.newData['pmIsVisible'];
                    e.newData['id'] = e.oldData['id'];
                },
                onCellPrepared: (e) => {
                    if (e.rowType == "data" && e.columnIndex == 1)
                        e.cellElement.find('.dx-treelist-empty-space').toggleClass("dx-treelist-collapsed", e.data.chilCount > 0)
                },
                onRowDblClick: function (e) {
                    var container = e.component;
                },
                selection: {
                    mode: "single"
                },
                onContentReady: (e) => {

                },
                onSelectionChanged: (e) => {

                },
                onCellClick: function (e) {

                },
                columns: [

                ],
                editing: {
                    //allowAdding: true,
                    //allowUpdating: true,
                    //allowDeleting: true,
                    mode: "batch",
                    useIcons: true,
                    confirmDelete: true,
                    popup: {
                        width: "50%",
                        height: "50%",
                        showTitle: true,
                        title: "kế hoạch công việc",
                        closeOnOutsideClick: false,
                        showCloseButton: true,
                    },
                    form: {
                        labelLocation: "left",
                        itemType: "group",
                        colCount: 12,
                        showRequiredMark: true,
                        requiredMark: "(*)",
                        items: [
                            {
                                colSpan: 3,
                                dataField: "name",
                                label: { text: "Mã " },
                                editorOptions: {
                                    stylingMode: "filled",
                                    placeholder: "Vui lòng nhập...",
                                },
                            },
                        ],
                    },
                },
            });
        };
        var loadDefect = (content) => {
            $("#Defect").addClass("bg-blue");
            $("#Defect").removeClass("text-muted");
            $("#Defect-FeedBack-Logo").addClass("bg-blue");
            $("#Defect-FeedBack-Text").removeClass("text-muted");
            $("#Defect-FeedBack-Content").append("<p>" + content.note + "</p>");
            $("#Defect-FeedBack-Time").append(moment(content.createDate).locale("vi").fromNow());


            if (content.status < 11) {
                $("#Defect-Approve-Text").empty();
                $("#Defect-Approve-Text").append("Chờ xác nhận");
                $("#Defect-Approve-Text").addClass("text-muted");
            }
            if (content.status >= 11) {
                $("#Defect-Approve-Logo").addClass("bg-yellow");
                $("#Defect-Approve-Text").empty();
                $("#Defect-Approve-Text").append("Đã xác nhận");
                $("#Defect-Approve-Text").removeClass("text-muted");
            }
            if (content.status >= 20) {
                $("#Defect-Fix").addClass("bg-green");
                $("#Defect-Fix").removeClass("text-muted");
                $("#Defect-FixPlan-Logo").addClass("bg-green");
                $("#Defect-FixPlan-Text").removeClass("text-muted");
                $("#Defect-FixPlan-Text").empty();
                $("#Defect-FixPlan-Text").append("Đã lên kế hoách sửa chữa");

            }
            if (content.status >= 21) {
                $("#Defect-Fixing-Logo").addClass("bg-purple");
                $("#Defect-Fixing-Text").removeClass("text-muted");
            }
            if (content.status >= 22) {
                $("#Defect-Fixing-Text").empty();
                $("#Defect-Fixing-Text").append("Đã hoàn tất sửa chữa");
            }
            //if (content.status >= 30) {
            //    $("#Defect-Accept").addClass("bg-red");
            //    $("#Defect-Accept").removeClass("text-muted");
            //    $("#Defect-Accept-Logo").addClass("bg-red");
            //    $("#Defect-Accept-Text").removeClass("text-muted");
            //    $("#Defect-Accept-Text").empty();
            //    $("#Defect-Accept-Text").append("Chờ nghiệm thu");
            //}
            //if (content.status >= 200) {
            //    $("#Defect-Accept-Text").empty();
            //    $("#Defect-Accept-Text").append("Đã nghiệm thu");
            //}
        }
        var loadDefectFix = (content) => {

        }
        var loadDefectComplete = (content) => {

        }
        function clearContent() {
            $("#Defect").removeClass("bg-blue");
            $("#Defect").addClass("text-muted");
            $("#Defect-FeedBack-Logo").removeClass("bg-blue");
            $("#Defect-FeedBack-Text").addClass("text-muted");
            $("#Defect-FeedBack-Content").empty();
            $("#Defect-FeedBack-Time").empty();
            $("#Defect-Approve-Logo").removeClass("bg-yellow");
            $("#Defect-Approve-Text").addClass("text-muted");

            $("#Defect-Approve-Time").empty();


            $("#Defect-Fix").removeClass("bg-green");
            $("#Defect-Fix").addClass("text-muted");
            $("#Defect-FixPlan-Logo").removeClass("bg-green");
            $("#Defect-FixPlan-Text").addClass("text-muted");
            $("#Defect-FixPlan-Time").empty();
            $("#Defect-Fixing-Logo").removeClass("bg-purple");
            $("#Defect-Fixing-Text").addClass("text-muted");
            $("#Defect-Fixing-Time").empty();


            $("#Defect-Accept").removeClass("bg-red");
            $("#Defect-Accept").addClass("text-muted");
            $("#Defect-Accept-Logo").removeClass("bg-red");
            $("#Defect-Accept-Text").addClass("text-muted");
            $("#Defect-Accept-Time").empty();
        }

    </script>
}

